<% provide(:head_title, t("help.about.head_title")) %>

<div class='container'>
  <h1>About the Office of Research and Development (ORD)</h1>
  <div>
    <h2>
      <a href='https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf'>
        Electronic Laboratory & Field Notebook. (ELFN)
      </a>
    </h2>
    <div>
      <h3>
        Science at EPA provides the foundation for credible decision-making to safeguard human health and
        ecosystems from environmental pollutants. The Office of Research and Development (ORD) is the
        scientific research arm of EPA, whose leading-edge research helps provide the solid underpinning
        of science and technology for the Agency.
      </h3>
      <h3>
        <p>
          <i>SciNote</i> is a top-rated platform for researchers in federal, state, or local governments as
          well as academia or industry, who need electronic laboratory and/or field notebook, inventory
          management and project management functionalities. SciNote organizes your data by projects,
          experiments and tasks, which gives structure and context to all your experimental data. Use your
          notes, excel sheets, tables, checklists or pictures to create print-ready protocols and kick-start
          your lab or field work. When you are done, upload your results. In SciNote all your data is
          searchable, accessible and traceable. SciNote runs on an EPA private cloud installation via EPA RTP
          RedHat Enterprise VM and has the following features currently available: 2 TB+ of storage, Unlimited
          teams, Unlimited manuscript drafts, Advanced user management, Cloud / local backup, API access and
          OAuth, Export all data, and 21 CFR Part 11 – electronic signatures & audit trails.
        </p>
        <h3>
          <i>SciNote webinars registration, and other notes...</i>
          <ul>
            <li><a href="https://scinote.net/webinars/?utm_source=scinote+application&utm_medium=scinote+application">Learn more about SciNote, its functionalities and the best way to use it in your lab.</a></li>
            <li><a href="https://www.oit.va.gov/Services/TRM/ToolPage.aspx?tid=10885#">US Department of Veteran Affairs.</a></li>
            <li><a href="https://datamanagement.hms.harvard.edu/electronic-lab-notebooks-scinote">Harvard Biomedical Data Management.</a></li>
            <li><a href="http://www.gilsonuk.com/scinote">Gilson.</a></li>
            <li><a href="https://twitter.com/scinoteELN">Twitter feed with verified user testimonies...</a></li>
            <li><a href="https://www.facebook.com/scinote.eln/">Facebook contact...</a></li>
            <li><a href="https://www.scientific-computing.com/news/scinote-adds-ai-capabilities">sciNote adds AI capabilities.</a></li>
            <li><a href="https://www.scientific-computing.com/company/scinote">Electronic Lab Notebook saves scientists up to 9 hours per week.</a></li>
            <li><a href="https://www.limsforum.com/scinote/">LiMS forum...</a></li>
          </ul>
        </h3>
      </h3>
    </div>
    <h2><a href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>Contact for this software...(ECEB)</a></h2>
  </div>
</div>
