<% provide(:head_title, t("help.about.head_title")) %>

<div class="content-pane">
  <div class="page-header">
    <h1>
      About the Office of Research and Development (ORD)</br>
      <small>
        <a href='https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf'>
          Electronic Laboratory & Field Notebook. (ELFN)
        </a>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        Science at EPA provides the foundation for credible decision-making to safeguard human health and
        ecosystems from environmental pollutants. The Office of Research and Development (ORD) is the
        scientific research arm of EPA, whose leading-edge research helps provide the solid underpinning
        of science and technology for the Agency.
      </p>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <i>sciNote</i> is a top-rated platform for researchers in federal, state, or local governments as
        well as academia or industry, who need electronic laboratory and/or field notebook, inventory
        management and project management functionalities. sciNote organizes your data by projects,
        experiments and tasks, which gives structure and context to all your experimental data. Use your
        notes, excel sheets, tables, checklists or pictures to create print-ready protocols and kick-start
        your lab or field work. When you are done, upload your results. In sciNote all your data is
        searchable, accessible and traceable. sciNote runs on an EPA private cloud installation via EPA RTP
        RedHat Enterprise VM and has the following features currently available: 2 TB+ of storage, Unlimited
        teams, Unlimited manuscript drafts, Advanced user management, Cloud / local backup, API access and
        OAuth, Export all data, and 21 CFR Part 11 – electronic signatures & audit trails.
      </p>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h3>sciNote webinars registration, and other notes...</h3>
      <ul>
        <li><a href="https://sciNote.net/webinars/?utm_source=sciNote+application&utm_medium=sciNote+application">Learn more about sciNote, its functionalities and the best way to use it in your lab.</a></li>
        <li><a href="https://www.oit.va.gov/Services/TRM/ToolPage.aspx?tid=10885#">US Department of Veteran Affairs.</a></li>
        <li><a href="https://datamanagement.hms.harvard.edu/electronic-lab-notebooks-sciNote">Harvard Biomedical Data Management.</a></li>
        <li><a href="http://www.gilsonuk.com/sciNote">Gilson.</a></li>
        <li><a href="https://twitter.com/sciNoteELN">Twitter feed with verified user testimonies...</a></li>
        <li><a href="https://www.facebook.com/sciNote.eln/">Facebook contact...</a></li>
        <li><a href="https://www.scientific-computing.com/news/sciNote-adds-ai-capabilities">sciNote adds AI capabilities.</a></li>
        <li><a href="https://www.scientific-computing.com/company/sciNote">Electronic Lab Notebook saves scientists up to 9 hours per week.</a></li>
        <li><a href="https://www.limsforum.com/sciNote/">LiMS forum...</a></li>
      </ul>
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h3>
        <a href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>Contact for this software...</a>
      </h3>
    </div>
  </div>
</div>
