<% provide(:head_title, t("help.about.head_title")) %>

<div class='container'>
  <h1>About us!</h1>
  <div>
    <h3>
      <a href=>sciNote is an open source electronic lab notebook</a> 
      (<a href='https://en.wikipedia.org/wiki/Electronic_lab_notebook'>ELN</a>) 
      that helps you manage your laboratory work and stores all your experimental data in one place. 
      sciNote is specifically designed for life science students, researchers, lab technicians and group leaders.
    </h3>
  </div>
</div>
