<% provide(:head_title, t("help.about.head_title")) %>

<div class='container'>
  <h1>About Emerging Chemistry and Engineering Branch (ECEB)</h1>
  <div>
    <h2>
      <a href='https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf'>
        Electronic Laboratory & Field Notebook. (ELFN)
      </a>
    </h2>
    <div>
      <h3>
        The Emerging Chemistry and Engineering Branch (ECEB) develops, evaluates, and applies
        new and existing methods, models, tools, and approaches to inform on the human health
        and environmental impacts associated with new and emerging materials and chemicals.
        Activities include laboratory and field demonstrations of methods to assess the fate,
        transport, and environmental impacts of novel materials and chemicals through their life
        cycle. The Branch’s expertise integrates chemical and environmental engineering and chemistry
        to achieve these goals and to demonstrate their use and acceptance by our stakeholders and the Agency.
      </h3>
      <h3>
        <p>
          <i>ECEB</i> strongly believes in Environmental stewardship and have implemented the sciNote app
          in an effort to reduce paper waste. sciNote is an open source electronic lab notebook that helps
          you manage your laboratory work and stores all your experimental data in one place. sciNote is
          specifically designed for life science students, researchers, lab technicians and group leaders.
          sciNote encourages scientific collaboration on all levels and contributes to the future of science
          that is open and independent. sciNote is an open source software platform that is tailored to meet
          Agency and ORD/OSIM security standards. Open source software code can be reviewed and improved
          by the ORD scientific community. This software is not tied to a vendor or owner of the software
          therefore, the ORD scientific community is free to develop add-ons, improve the software and
          its weak points and maintain it, and is peer-reviewed by its users.
        </p>
      </h3>
    </div>
    <h2><a href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>Contact for this software...(ECEB)</a></h2>
  </div>
</div>
