<% provide(:head_title, t("help.contact.head_title")) %>

<div class='container'>
  <div>
      <h2>Overview</h2>
      <h3>
      NRMRL/ Land and Materials Management Division (LMMD)/ Emerging Chemistry and Engineering Branch (ECEB)
      strongly support sustainable technologies and believe the future of science should and will be paperless,
      therefore we plan to use this tool to raise awareness for reducing paper waste within ORD. Strategic planning,
      awareness campaigns, and projects to replace paper-based processes are necessary in modern laboratories.
    </h3>
    <p></p>
    <h4>This Software is Maintained By:</h4>
    <h2>Land and Materials Management Division</h2>
        <h3>Emerging Chemistry and Engineering Branch</h3>
  <p>From idea to scientific publication – researchers can keep track of all EPA, ORD, and NRMRL required scientific
  data as well as QA/QC laboratory and field notebook records requirements. Enables researchers to structure work into
  Projects, Experiments and Tasks. Research staff utilizing sciNote will be able to visualize their work progress by
  creating flexible workflows and obtain complete overview of research projects at any point in time. This document
  includes the Software Activity Plan for sciNote installation and maintenance activities on Test and Evaluation (T&E)
  staging and testing internet and EPA intranet server VM912, located at Research Triangle Park (RTP) in Durham, NC.
  </p>
  <div>
    <div>
    <h4>For information on this ELN project contact:</h4>
      <p>Michael Gonzalez, Ph.D.</p>
      <p>Branch Chief</p>
      <p>26 Martin Luther King Drive</p>
      <p>Cincinnati, Ohio, 45246</p>
      <p>Gonzalez.Michael@epa.gov</p>
  </div>
  <div>
  <h4><a href=>Section 13.06: Scientific Recordkeeping: Electronic</a> 
    (<a href='https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf'>Effective Date: 5/17/2018</a>)</h4>
<div>
  <div>
    <h2>Contact us!</h2>
  <div>
    <h4><a href=>Software Configuration Management</a> 
      (<a href='https://ordscinote.epa.gov/'>SCM</a>)</h4>
  <div>
    <a href=>ORD QA Documentation</a> 
      (<a href='https://qatrack.epa.gov/projects/show/7994/'>QAPP</a>)
  </div>
    <a href=>sciNote Repository</a> 
      (<a href='https://github.com/USEPA/sciNote'>SCM</a>)
  </div>
    <p>Daniel L. Young, Ph.D.</p>
    <p>Physical Scientist</p>
    <p>Land and Materials Management Division </p>
    <p>Emerging Chemistry and Engineering Branch</p>
    <p>26 Martin Luther King Drive</p>
    <p>Cincinnati, Ohio, 45246</p>
    <p>Young.Daniel@epa.gov</p>
    <p>Phone:  (513) 569-7451</p>
    <p>Telework: (513) 546-3904</p>
  <div>
</div>
