<% provide(:head_title, t("help.contact.head_title")) %>

<div class="shift-up content-pane">
  <h1>About SciNote</h1>
  <h2>
    <a href='https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf'>
      Electronic Laboratory & Field Notebook. (ELFN)
    </a>
  </h2>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        ORD strongly supports sustainable technologies and believes the future of science
        should and will be paperless, therefore we plan to use this tool to raise awareness
        for reducing paper waste within ORD as well as improve electronic record keeping
        within the Agency.
      </p>
      </br>
      <p>
        <i>ORD</i> Strategic planning, awareness campaigns, and projects to replace paper-based
        processes are necessary in modern laboratories. ORD guidance for implementing research
        notebooks is provided in Section 13.2 and Section 13.6 of the ORD Policies and Procedures
        Manual.
      </p>
      </br>
      <p>
        SciNote is specifically designed for life science students, researchers, lab technicians and
        group leaders. SciNote encourages scientific collaboration on all levels and contributes to
        the future of science that is open and independent. SciNote is an open source software platform
        that is tailored to meet Agency security standards. Open source software (OSS) code can
        be reviewed and improved by the ORD scientific community. This software is not tied to a vendor
        or owner of the software therefore, the EPA scientific community is free to develop add-ons,
        improve the software and its weak points and maintain it, and is peer-reviewed by its users.
      </p>
      </br>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h3><a href='https://intranet.ord.epa.gov/nrmrl/staff/michael-gonzalez'>Contact management...</a></h3>
    <h3><a href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>Contact software...</a></h3>
  </div>
</div>
