<% provide(:head_title, t("help.contact.head_title")) %>

<div class='container'>
<h1>Training Available for sciNote...<h1/>
<h4></p><a href="https://youtu.be/0vqDZEGmuTE" class="more-text"><h2>Introduction to sciNote and its main functionalities</h2><i class="fa fa-long-arrow-right"></i></a>
</div>
  </div>
  <div class="tw-owl-item"><div class="carousel-thumbnail waves-thumbnail"><img src="https://scinote.net/wp-content/uploads/2017/11/3-370x150.jpg" alt="Getting started"/>
  <span class="post-date">Invite co-workers to your teams...</span>
  <a class="image-overlay" href="https://scinote.net/wp-content/uploads/2017/11/3.jpg"  rel="prettyPhoto[10433]">
  <img src="https://scinote.net/wp-content/themes/creative/assets/img/overlay-zoom.png"></a></div>
  <div class="carousel-content">
  <h3 class="carousel-title"><a href="https://youtu.be/rYI-88KS44Q">sciNote ELN: Getting Started</a></h3>
  <p>Great news for all sciNote ORD users! sciNote is available as a collaborative research tool...</p>
  <a href="https://youtu.be/SVCkoo5Y144" class="more-text"><h3>sciNote ELN: Inviting Collaborators</h3<i class="fa fa-long-arrow-right"></i></a>
  </div>
  </div>
  <div class="tw-owl-item"><div class="carousel-thumbnail waves-thumbnail">
  <img src="https://scinote.net/wp-content/uploads/2017/11/sciNote-team-at-Neuroscience-1-370x150.png" alt="sciNote team at Neuroscience (1)"/>
  <span class="post-date">Future integratation with ORD QA TRACK is planned...</span>
  <a class="image-overlay" href="https://scinote.net/wp-content/uploads/2017/11/sciNote-team-at-Neuroscience-1.png"  rel="prettyPhoto[10423]">
  <img src="https://scinote.net/wp-content/themes/creative/assets/img/overlay-zoom.png"></a>
  </div>
  <div class="carousel-content">
  <h3 class="carousel-title"><a href="https://youtu.be/w2D5w33A6Ao">sciNote ELN: Managing User Privileges and Roles</a></h3>
  <p>Using the Search Function...</p>
  <a href="https://youtu.be/XwriEdlUqGc" class="more-text"><h3>sciNote ELN: Using the Search Function</h3<i class="fa fa-long-arrow-right"></i></a></h4>
  </div>
  </div>
  </div>
<div 
class="clearfix"></div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
<div id="contact-scinote" class="row-container light bg-scroll" style="background-color:#37a0d9;">
<div class="waves-container container">
<div class="row"><div class="col-md-6 ">
<div class="row">
<div class="tw-element  col-md-12 non-bold" style="" >
<h3><span style="color: #ffffff;">Contact Us</span></h3>
<p><span style="color: #ffffff;">We want to help you get the most out of sciNote.</span></p>
<p><span style="color: #ffffff;">If you have questions, comments, ideas, or simply want to get in touch, feel free to contact us at <a style="color: #ffffff; text-decoration: underline;" href="mailto:young.daniel@epa.gov" target="_top">Send Mail</a></p>
<p><span style="color: #ffffff;">For technical questions on ELNs <span style="text-decoration: underline;"><a style="color: #ffffff; text-decoration: underline;" href="https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf"> Effective Date: 5/17/2018</a></span>.</span></p>
<p><span style="color: #ffffff;">This project was approved and documented under ORD project <span style="text-decoration: underline;"><a style="color: #ffffff; text-decoration: underline;" href="https://qatrack.epa.gov/projects/show/7994/">ORD QA TRACK </a></span>and&nbsp;<span style="text-decoration: underline;"><a style="color: #ffffff; text-decoration: underline;" href="https://github.com/USEPA/sciNote"> EPA GitHub Repository </a></span>community.</span></p>
<p>&nbsp;</p>
</div></div><div class="row"><div class="tw-element waves-callout with-button style2 col-md-12 centered rounded" style="" ><div class="callout-container"><div class="callout-text clearfix"><p></p><a href="https://ordscinote.epa.gov/" target="_blank" class="btn btn-callout btn-flat" style="border-color:#8fd13f;background-color:#8fd13f">Sign Up for a Free Account</a></div></div></div></div></div><div class="col-md-6 "><div class="row"><div class="tw-element  col-md-12 non-bold" style="" ><h2 style="color: #343434;">&nbsp;</h2>
<p style="color: #444444;"><span style="color: #ffffff;"><strong style="font-weight: bold;">ADDRESS:</strong></span><br /> <span id="eeb-635845" style="color: #ffffff;">US EPA, NRMRL, LMMD, Emerging Chemistry and Engineering Branch<br /> 26 Martin Luther King Drive<br /> Cincinnati, OH 45246, USA<br /> POC D.L. Young</span></p>
<p style="color: #444444;">&nbsp;</p>