<% provide(:head_title, t("help.training.head_title")) %>

<div class="content-pane">
  <div class="page-header">
    <h1>
      <small>This Software is Maintained on ORD RTP Server</small></br>
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h3>Training Available for SciNote...</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h5><i><span style="color: #000000;">click links below</span></i></h5>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/0vqDZEGmuTE">
          SciNote Introduction
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
      <i>Features</i> SciNote keeps your lab data organized by project, including experiments
      and tasks. Users can add notes and files, create protocols, connect tasks to workflow,
      export data, and create detailed project reports. SciNote also allows users to create
      personalized inventories of lab resources and assign user roles and permissions to
      collaborators. The software is constantly updated with new modules added on a regular
      basis and shared with the research community. ORD updates the EPA version on a regular
      basis.

      Free online webinars are available to users through the developer. Register for future
      webinars at: https://scinote.net/webinars/
      </p>
      <p><a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/rYI-88KS44Q">SciNote ELFN: Getting Started</a></p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=HDc7IN1SeJs">
          Basic Data Structure
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>Great news for all SciNote ORD users! SciNote is available as a collaborative research tool...</p>
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=ZWTZLgEwaAQ">
          How to Create a Project
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/SVCkoo5Y144">
          Inviting Collaborators
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=chFuO5qi3mg">
          How to Create Inventories and Add Items
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=GOgpIS_ScGk">
          How to Download and Print Protocols
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/w2D5w33A6Ao">
          Managing User Privileges and Roles
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=n22xiCoRvHU">
          Using the Search Function
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>SciNote provides additional training on YouTube, search "SciNote."</p>
      <p>Additional add-on tools available include MS Office integratation and a Manuscript Writer.</p>
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=FsI9Zr427CU">
          Microsoft Office Integration
        </a>
      </p>
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://www.youtube.com/watch?v=VxCtQIrcxS4">
          Manuscript Writer
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <p>Future integratation with ORD QA TRACK is planned.</p>
      <p>
        <a style="color: #3399ff; text-decoration: underline;"  href="https://qatrack.epa.gov">
          ORD QA TRACK
        </a>
      </p>
    </div>
  </div>
  </br>

  <div class="clearfix"></div>

  <div id="contact-SciNote" class="row-container light bg-scroll well" style="background-color:#37a0d9;">
    <div class="waves-container container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="tw-element  col-md-12 non-bold" style="" >
              <h3><span style="color: #fdf9f9;"><b>Contact Us</b></span></h3>
              <p><span style="color: #fdf9f9;">We want to help you get the most out of SciNote.</span></p>
              <p><span style="color: #fdf9f9;">
                If you have questions, comments, ideas, or simply want to get in touch, feel free to contact us at:
                <span style="text-decoration: underline;">
                  <a style="color: #ccccff; text-decoration: underline;" href="mailto:young.daniel@epa.gov?Subject=SciNote" target="_top">
                    <b>Send Mail</b>
                  </a>
                </span>
              </span></p>

              <p><span style="color: #fdf9f9;">
                For technical questions on [Section 13.06: Scientific Recordkeeping: Electronic]
                <span style="text-decoration: underline;">
                  <a style="color: #ccccff; text-decoration: underline;" href="https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf">
                    <i><b>Effective Date: 5/17/2018</b></i>
                  </a>
                </span>.
              </span></p>

              <p><span style="color: #fdf9f9;">
                This project was approved and documented under ORD project
                <span style="text-decoration: underline;">
                  <a style="color: #ccccff; text-decoration: underline;" href="https://qatrack.epa.gov/projects/show/7994/">
                    <i><b>ORD QA TRACK</b></i>
                  </a>
                </span> and &nbsp;

                <span style="text-decoration: underline;">
                  <a style="color: #ccccff; text-decoration: underline;" href="https://github.com/USEPA/SciNote">
                    <i><b>EPA GitHub Repository</b></i>
                  </a>
                </span>community.
              </span></p>
              <p>&nbsp;</p>
            </div>
          </div>

          <div class="row">
            <div class="tw-element waves-callout with-button style2 col-md-12 centered rounded" style="" >
              <div class="callout-container">
                <div class="callout-text clearfix">
                  <a href="https://ordsciNote.epa.gov/" target="_blank" class="btn btn-callout btn-flat" style="border-color:#8fd13f;background-color:#fdf9f9">
                    Sign Up for ORD Account
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="row">
            <div class="tw-element  col-md-12 non-bold" style="" >
              <h2 style="color: #fdf9f9;">&nbsp;</h2>

              <p style="color: #fdf9f9">
                <span style="color: #fdf9f9;">
                  <strong style="font-weight: bold;">
                    <b>ADDRESS:</b>
                  </strong>
                </span><br />
                <span id="eeb-635845" style="color: #fdf9f9;">
                  US EPA, NRMRL, LMMD, Emerging Chemistry and Engineering Branch<br />
                  26 Martin Luther King Drive<br /> Cincinnati, OH 45246, USA<br />

                  <a>
                    <span style="text-decoration: underline;">
                      <a style="color: #ccccff; text-decoration: underline;" href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>
                        <b>SciNote Point of Contact</b>
                      </a>
                    </span>
                  </a>

                </span>
              </p>

              <p style="color: #fdf9f9;">&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
