<% provide(:head_title, t("help.training.head_title")) %>

<div class='container'>
<br />
  <h3><i>This Software is Maintained on ORD RTP Server By:</i></h3>

  <h2>Land and Materials Management Division / Emerging Chemistry and Engineering Branch</h2>
  <h3>Training Available for sciNote...<h3/>
  <h5><i><span style="color: #000000;">click links below</span></i></h5>

  <h3><i>
    <span style="text-decoration: underline;">
      <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/0vqDZEGmuTE">
        sciNote Introduction
      </a>
    </span>
  </i></h3>

  <h3>
    NRMRL/ Land and Materials Management Division (LMMD)/ Emerging Chemistry and Engineering Branch (ECEB)
    strongly support sustainable technologies and believe the future of science should and will be paperless,
    therefore we plan to use this tool to raise awareness for reducing paper waste within ORD.
    Strategic planning, awareness campaigns, and projects to replace paper-based processes
    are necessary in modern laboratories.
  </h3>

  <h3><i><span style="text-decoration: underline;">
    <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/rYI-88KS44Q">sciNote ELN: Getting Started</a>
  </span></i></h3>

  <p>Great news for all sciNote ORD users! sciNote is available as a collaborative research tool...</p>

  <h3><i><span style="text-decoration: underline;">
    <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/SVCkoo5Y144">
      sciNote ELN: Inviting Collaborators
    </a>
  </span></i></h3>

  <p>Future integratation with ORD QA TRACK is planned...</p>

  <h3><i><span style="text-decoration: underline;">
    <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/w2D5w33A6Ao">
      sciNote ELN: Managing User Privileges and Roles
    </a>
  </span></i></h3>

  <p>Using the Search Function...</p>

  <h3><i>
    <span style="text-decoration: underline;">
      <a style="color: #3399ff; text-decoration: underline;"  href="https://youtu.be/XwriEdlUqGc">
        sciNote ELN: Using the Search Function
      </a>
    </span>
  </i></h3>
</div>

<div class="clearfix"></div>

<div id="contact-scinote" class="row-container light bg-scroll well" style="background-color:#37a0d9;">
  <div class="waves-container container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="row">
          <div class="tw-element  col-md-12 non-bold" style="" >
            <h3><span style="color: #fdf9f9;"><b>Contact Us</b></span></h3>
            <p><span style="color: #fdf9f9;">We want to help you get the most out of sciNote.</span></p>
            <p><span style="color: #fdf9f9;">
              If you have questions, comments, ideas, or simply want to get in touch, feel free to contact us at:
              <span style="text-decoration: underline;">
                <a style="color: #ccccff; text-decoration: underline;" href="mailto:young.daniel@epa.gov?Subject=sciNote" target="_top">
                  <b>Send Mail</b>
                </a>
              </span>
            </span></p>

            <p><span style="color: #fdf9f9;">
              For technical questions on [Section 13.06: Scientific Recordkeeping: Electronic]
              <span style="text-decoration: underline;">
                <a style="color: #ccccff; text-decoration: underline;" href="https://intranet.ord.epa.gov/sites/default/files/Dec%202017/13.06_scientific_recordkeeping_electronic-approved.pdf">
                  <i><b>Effective Date: 5/17/2018</b></i>
                </a>
              </span>.
            </span></p>

            <p><span style="color: #fdf9f9;">
              This project was approved and documented under ORD project
              <span style="text-decoration: underline;">
                <a style="color: #ccccff; text-decoration: underline;" href="https://qatrack.epa.gov/projects/show/7994/">
                  <i><b>ORD QA TRACK</b></i>
                </a>
              </span> and &nbsp;
              
              <span style="text-decoration: underline;">
                <a style="color: #ccccff; text-decoration: underline;" href="https://github.com/USEPA/sciNote">
                  <i><b>EPA GitHub Repository</b></i>
                </a>
              </span>community.
            </span></p>
            <p>&nbsp;</p>
          </div>
        </div>
        
        <div class="row">
          <div class="tw-element waves-callout with-button style2 col-md-12 centered rounded" style="" >
            <div class="callout-container">
              <div class="callout-text clearfix">
                <a href="https://ordscinote.epa.gov/" target="_blank" class="btn btn-callout btn-flat" style="border-color:#8fd13f;background-color:#fdf9f9">
                  Sign Up for ORD Account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="row">
          <div class="tw-element  col-md-12 non-bold" style="" >
            <h2 style="color: #fdf9f9;">&nbsp;</h2>

            <p style="color: #fdf9f9">
              <span style="color: #fdf9f9;">
                <strong style="font-weight: bold;">
                  <b>ADDRESS:</b>
                </strong>
              </span><br />
              <span id="eeb-635845" style="color: #fdf9f9;">
                US EPA, NRMRL, LMMD, Emerging Chemistry and Engineering Branch<br />
                26 Martin Luther King Drive<br /> Cincinnati, OH 45246, USA<br />

                <a>
                  <span style="text-decoration: underline;">
                    <a style="color: #ccccff; text-decoration: underline;" href='https://intranet.ord.epa.gov/nrmrl/staff/daniel-young'>
                      <b>sciNote Point of Contact</b>
                    </a>
                  </span>
                </a>

              </span>
            </p>

            <p style="color: #fdf9f9;">&nbsp;</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

