<% if wopi_enabled? %>
  <%= link_to create_wopi_file_path,
              class: 'btn btn-light create-wopi-file-btn',
              target: '_blank',
              title: 'Create_new_file',
              data: { 'id': element_id, 'type': element_type, } do %>
    <span class="btn btn-light new-asset-upload-button">
      <%= image_tag 'office/office.svg' %>
      <%=t 'assets.create_wopi_file.button_text' %>
    </span>
  <% end %>
<% end %>
