<div id="diagram-container">
  <div id="diagram" class="diagram">
    <% my_modules.each do |my_module| %>
      <%= render partial: "canvas/full_zoom/my_module#{('_hidden' unless can_read_my_module?(my_module))}", locals: {experiment: experiment, my_module: my_module} %>
    <% end %>
  </div>
  <% if my_modules.empty? %>
    <span class="empty-canvas"><%= t('experiments.canvas.canvas_empty') %></span>
  <% end %>
</div>

<!-- Edit due date modal -->
<%= render partial: "my_modules/modals/manage_due_date_modal" %>

<%# Disable gray canvas navigator for now %>
<%# render partial: 'canvas/canvas_view_navigator', locals: { experiment: experiment } %>
