<div class="footer">
  <div class="right-section">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" 
            data-e2e="e2e-BT-protocolTemplates-previewProtocolsIo-cancel">
      <%=t "general.cancel" %>
    </button>
    <button type="button" class="btn btn-primary" data-action="import_protocol" 
            data-import_type="in_repository_draft" data-e2e="e2e-BT-protocolTemplates-previewProtocolsIo-import">
      <%=t "protocols.import_export.import_modal.import_protocols_label" %>
    </button>
  </div>
</div>
