<div id="filePreviewModal"
     class="modal modal-file-preview"
     role="dialog"
     tabindex="-1"
     aria-labelledby="filePreviewModal"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
