<p><%=t 'projects.export_projects.modal_text_p1_html', num_projects: num_projects, team: @team.name %></p>
<p><%=t 'projects.export_projects.modal_text_p2_html' %></p>
<% unless limit.zero? %>
  <p>
    <i><%=t 'projects.export_projects.modal_text_p3_html', limit: limit, num: num_of_requests_left %></i>
  </p>
<% end %>
