<li data-id="<%= sample_type.id %>"
    data-edit="<%= edit_team_sample_type_path(team, sample_type) %>"
    data-delete="<%=
      team_sample_type_destroy_confirmation_path(team, sample_type)
      %>">
  <span class="sample-type-group-name"><%= sample_type.name %></span>
  <span class="form-group">
    <input class="text-edit" style="display: none;" />
    <span class="pull-right">
      <span class="edit-sample-type fas fa-pencil-alt"></span>
      <span class="delete fas fa-trash-alt"></span>
    </span>
  </span>
</li>
