<div class="modal small"
     id="consumeRepositoryStockValueModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="consumeRepositoryStockValueLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<%= javascript_include_tag 'my_modules/stock' %>