<p class="step-description-component-concentration"><b><%= t('protocol_importers.templates.concentration.title') %></b><br/>
<%= "#{item[:value]} #{item[:unit]} #{item[:name]} " %></p>
<%= render partial: 'protocol_importers/templates/details', locals: { item: item } %>
