<p class="step-description-component-warning"><b><%= t('protocol_importers.templates.warning.title') %></b><br/>
<%= item[:body] %></p>
<%= render partial: 'protocol_importers/templates/details', locals: { item: item } %>
