<% if @description[:body] %>
  <p> <%= strip_tags @description[:body] %> </p>
  <br/>
<% end %>
<% if @description[:image] %>
  <br/>
  <img src='<%= @description[:image] %>' />
  <br/>
<% end %>

<% @description[:extra_content]&.each do |i| %>
  <% if i[:body].present? %>
    <br/><b><%= strip_tags i[:title] %>:</b> <br/>
    <%= strip_tags i[:body] %><br/>
  <% end %>
<% end %>
