<div class="text-3xl font-semibold flex flex-row flex-nowrap">
  <span class="inline-block whitespace-nowrap mr-1">
    <%= t "labels.archived" if @my_module.archived? %>
  </span>
  <span class="inline-block truncate module-name" title="<%= @my_module.name %>">
    <%= @my_module.name %>
  </span>
</div>
