<div class="flex flex-wrap ml-3 gap-1">
  <% my_module.tags.order(:id).each do |tag| %>
    <% color = escape_input(tag[:color]) %>
    <div class="sci-tag text-sn-white select-none"
         title="<%= escape_input(tag[:name]) %>"
         style="background-color: <%= color %>;">
      <%= escape_input(tag[:name]) %>
    </div>
  <% end %>
</div>
