<div class="flex flex-wrap ml-3 gap-1 mb-2">
  <% my_module.user_my_modules.each do |um| %>
    <% user = um.user %>
    <div class="inline-flex flex-nowrap gap-2 h-6 px-2 py-1 items-center select-none" title="<%= user.full_name %>">
      <img class="block rounded-full h-5" src="<%= user_avatar_absolute_url(user, :icon_small, true) %>" alt="<%= user.full_name %>">
      <span style="block"><%= user.full_name %></span>
    </div>
  <% end %>
</div>
