@layer components {
  .numerical-nested-list ol {
    counter-reset: item;
  }

  .numerical-nested-list ol > li {
    counter-increment: item;
  }

  .numerical-nested-list ol:not([style*="list-style-type"]) > li::marker {
    content: counters(item, ".") ". ";
  }
}
