@layer components {
    .sci-loader {
      @apply flex m-auto h-[32px] w-[32px] animate-spin;
      background: image-url("sn-loader.svg") center center no-repeat;
    }

    .sci-loader-inline {
      @apply inline-block h-[1.2em] w-[1.2em] animate-spin;
      background: image-url("sn-loader.svg") center center no-repeat;
      background-size: 1.2em;
    }
}
