<ul class="dropdown-menu" aria-labelledby="exActionsMenu-<%= experiment.id %>" data-id="<%= experiment.id %>">

  <!-- Iterate over ALL RAP Project Level entries and create <li> for them -->
  <!-- Also add onclick or onselect to these values to automatically render the next partial -->
  <%= rap_project_levels do |project| %>
    <li>project</li>
  <% end %>

</ul>
