# Root EditorConfig preference file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.rb]
charset = utf-8
indent_style = space
indent_size = 2

[*.{js,jsx}]
charset = utf-8
indent_style = space
indent_size = 2
