<ol class="breadcrumb breadcrumb-protocols-manager">
  <li><%= link_to current_team.name, projects_path(team: current_team) %></li>
  <li class="active"><%= t("repositories.nav.breadcrumbs.repositories") %></li>
</ol>
