<template id="repositoryFilterTemplate">
  <div class="dropdown" id="filtersDropdownButton">
      <button id="filtersDropdown"
              class="btn btn-light filters-button icon-btn"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
    >
      <span class="fas fa-filter"></span>
    </button>
    <div
      class="dropdown-menu dropdown-menu-right"
      id="filterContainer"
      data-columns-url="<%= describe_all_repository_repository_columns_path(@repository) %>"
      data-my-modules-url="<%= assigned_my_modules_repository_path(@repository) %>"
      data-datatable-id="#repository-table-<%= @repository.id %>"
      data-date-format="<%= current_user.date_format.gsub(/\%/, '').upcase %>"
    >
      <filter-container
        :columns.sync="columns"
        :my_modules.sync="my_modules"
      />
    </div>
  </div>
</template>
