 <%= content_for :sidebar do %>
  <div id="slide-panel" class="visible" data-sidebar-url="<%= sidebar_repositories_path %>">
    <%= render partial: "sidebar_list", locals: { repositories: repositories, archived: false} %>
  </div>
<% end %>

<script>
  $('#wrapper').show();
</script>
