 <%= content_for :sidebar do %>
  <div id="slide-panel" class="visible">
    <div class="tree">
      <ul>
        <% repositories.each do |repository| %>
          <%= render partial: "repositories/sidebar_list.html.erb",
                     locals: { repository: repository } %>
        <% end %>

        <% if @team.team_repositories.any? %>
          <li >
            <span id="shared-repos" class="tree-link line-wrap no-indent">
              <%= t('left_menu_bar.repositories_extra.shared_repos') %>
            </span>
          </li>

          <% @team.shared_repositories.each do |repository| %>
            <%= render partial: "repositories/sidebar_list.html.erb",
                       locals: { repository: repository } %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script>
  $('#wrapper').show();
</script>
