<div class="content-pane flexible <%= params[:archived] ? :archived : :active %> repositories-index"
      data-readonly="<%= !can_manage_team?(current_team) %>">
  <div class="content-header">
    <div class="title-row">
      <h1 data-view-mode="active"><%= t('libraries.index.head_title') %></h1>
      <h1 data-view-mode="archived"><i class="fas fa-archive"></i>&nbsp;<%= t('libraries.index.head_title_archived') %></h1>
    </div>
  </div>
  <div class="content-body">
  </div>
</div>
