.modal-sm {
  width: 370px;
}
<<<<<<< HEAD

.modal {
  .modal-absolute-close-button {
    position: absolute;
    right: 1em;
    top: .5em;
  }
}
=======
>>>>>>> Latest 1.22.0 release from biosistemika. All previous EPA changes revoked. Need to add in template.
