
.modal-md {
  width: 450px;
}

.modal {
  .modal-absolute-close-button {
    position: absolute;
    right: 1em;
    top: .5em;
  }

  .modal-footer {
    form {
      display: inline-block;
    }
  }
}
