.progress {
  background: $color-white;
  border: $border-tertiary;
  border-radius: $border-radius-tag;
  box-shadow: none;
  height: 24px;
  position: relative;

  .progress-bar {
    background: $brand-primary;
    line-height: 22px;
    overflow: hidden;
    position: relative;

    .progress-bar-text {
      color: $color-white;
      line-height: 22px;
      text-align: center;
    }
  }

  &::before {
    color: $color-volcano;
    content: attr(data-value);
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &.small {
    border: 0;
    height: 4px;

    .progress-bar {
      line-height: 4px;

      .progress-bar-text {
        display: none;
      }
    }

    &::before {
      display: none;
    }
  }
}
