<div class="modal <%=  @repository.active? ? "active" : "archived" %>"
     id="manage-repository-column"
     tabindex="-1"
     role="dialog"
     aria-labelledby="manangeRepositoryColumnLabel" data-task-page="<%= my_module_page ? 'true' : '' %>">
  <div class="modal-dialog" role="document" data-e2e="e2e-MD-invInventoryRT-manageColumns">
    <div class="modal-content">
    </div>
  </div>
</div>
