<div class="modal"
     id="manageRepositoryColumn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="manangeRepositoryColumnLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
