<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      <%= Rails.application.assets['application.css'].to_s.html_safe %>
    </style>
    <title><%= title %></title>
  </head>
  <body class='print-report-body'>
    <div class='print-report'>
    <%= content.html_safe %>
    </div>
  </body>
</html>