<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      <%= Rails.application
               .assets_manifest
               .find_sources('application.css')
               .first
               .to_s
               .force_encoding(Encoding::UTF_8)
               .html_safe %>
    </style>

    <!-- Libraries for tables and formulas -->
    <% ['handsontable.full.js', 'lodash.js', 'numeral.js', 'numeric.js',
        'md5.js', 'jstat.js', 'formula.js', 'parser.js', 'ruleJS.js',
        'handsontable.formula.js', 'big.min.js' ].each do |js_asset| %>
        <%= javascript_tag Rails.application
                   .assets_manifest
                   .find_sources(js_asset)
                   .first
                   .force_encoding(Encoding::UTF_8),
                   nonce: true %>
    <% end %>

    <title><%= title %></title>
  </head>
  <body class='print-report-body'>
    <div class='print-report'>
      <%= content.force_encoding(Encoding::UTF_8).html_safe %>
    </div>
  </body>
</html>
