.bmt-filters-button.active-filters {
  position: relative;

  &::after {
    background: $brand-accent;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: .3em;
    top: .3em;
    width: 8px;
  }
}

#bmtFilterContainer {
  min-width: 422px;
  z-index: 100;

  label {
    font-weight: normal;
  }

  .form-group {
    display: block;
    width: 100%;

    .form-control,
    .form-select {
      margin-bottom: 1.2em;
      width: 100%;
    }
  }

  .checkbox-label {
    vertical-align: text-bottom;
  }

  .filter-list-notice {
    color: $color-silver-chalice;
    font-style: italic;
    padding: 1em;
  }

  .header {
    align-items: center;
    border-bottom: $border-tertiary;
    display: flex;
    padding: 0 1em;

    .title {
      @include font-h2;
      margin-right: auto;
    }
  }

  .filter-element {
    align-items: center;
    border-bottom: $border-tertiary;
    display: flex;
    padding: 1em 3.5em 1em 1em;
    position: relative;
  }

  .filter-remove {
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .filters-list {
    border-top: $border-tertiary;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .footer {
    align-items: center;
    border-top: $border-tertiary;
    display: flex;
    padding: 0 1em;

    .add-filter {
      margin-right: auto;
    }
  }

  .saved-filters-container {
    .title {
      cursor: pointer;
    }
  }

  .saved-filters-list {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    padding: 0 1em;
  }

  .saved-filters-element {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 200px;

    i {
      color: $color-silver-chalice;
    }

  }

  .saved-filters-element:hover i {
    color: $color-black;
  }
}
