// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.bmt-filters-button.active-filters {
  position: relative;

  &::after {
    background: $brand-danger;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: .3em;
    top: .3em;
    width: 8px;
  }
}

#bmtFilterContainer {
  min-width: 422px;
  z-index: 100;

  .sci-input-container {
    margin-bottom: .5em;
  }

  .dropdown-selector-container {
    width: 100%;
  }

  .field-suboption {
    align-items: center;
    display: flex;
    margin-top: .5em;

    .sci-checkbox-container {
      margin-right: .25em;
    }

    .distance-input-container {
      width: 50px;
    }

    .distance-attribute {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin-bottom: .5em;
      margin-top: 1.5em;

      .sci-radio-container {
        margin: 0 .25em 0 .5em;
      }
    }
  }

  label {
    font-weight: normal;
  }

  .form-group {
    display: block;
    width: 100%;

    .form-control,
    .form-select {
      margin-bottom: 1.2em;
      width: 100%;
    }
  }

  .checkbox-label {
    vertical-align: text-bottom;
  }

  .filter-list-notice {
    color: $color-alto;
    padding: 1em;
  }

  .header {
    align-items: center;
    border-bottom: $border-tertiary;
    display: flex;
    padding: 0 1em;

    .title {
      @include font-h2;
    }

    .clear-filters-btn {
      margin-left: auto;
    }
  }

  .filter-container {
    border-bottom: $border-tertiary;
    padding: 1em 3.5em 1em 1em;


    .filter-title {
      @include font-small;
    }
  }

  .filter-element {
    align-items: center;
    display: flex;
    position: relative;
  }

  .filter-remove {

    cursor: pointer;
    padding: 0;
    position: absolute;
    right: -2.5em;
    top: -2px;

    .btn {
      color: $color-alto
    }
  }

  .filters-list {
    border-top: $border-tertiary;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .footer {
    align-items: center;
    border-top: $border-tertiary;
    display: flex;
    padding: 5px 1em 0;

    .add-filter {
      margin-right: auto;
    }
  }

  .saved-filters-container {
    .title {
      cursor: pointer;
    }

    &.open {
      .sn-icon-down {
        @include rotate(-180deg);
      }
    }
  }

  .saved-filters-list {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    padding: 0 1em;
  }

  .saved-filters-element {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 200px;

    i {
      color: $color-silver-chalice;
    }

  }

  .saved-filters-element:hover i {
    color: $color-black;
  }
}
