.repositories-index {
  &.active {
    [data-view-mode="archived"] {
      display: none
    }
  }

  &.archived {
    [data-view-mode="active"] {
      display: none
    }
  }
}

#rename-repo-modal {
  .modal-footer {
    text-align: center;
  }
}

#create-repo-modal {
  .modal-footer {
    text-align: center;
  }
}

#new_repository {
  .modal-footer {
    text-align: center;
  }
}
