#modal-print-repository-row-label {

  .id-label {
    margin-left: .5em;
    opacity: .5;
  }

  .printers-container {
    margin-bottom: 1em;
    min-height: 4em;
  }

  .labels-container {
    margin-bottom: 1em;
    min-height: 4em;
  }

  .print-copies-input {
    margin-left: .5em;
    width: 50px;
  }

  .no-printers-container {
    padding: 2em;
    text-align: center;

    .no-printer-title {
      @include font-h3;
      margin-top: 1em;
    }
  }

  .label-template-warning {
    @include font-small;
    color: $brand-warning;
  }
}
