#modal-info-repository-row {
  .bar-code-container {
    display: flex;
    justify-content: flex-end;
  }

  .modal-footer {
    .export-consumption-button {
      margin-right: auto;
    }
  }

  .modal-footer[data-assign-item-button="true"] {
    align-items: center;
    display: flex;
    gap: .5em;
    width: 100%;

    .print-label-button {
      margin-right: auto;
    }
  }
}
