// scss-lint:disable SelectorDepth SelectorFormat QualifyingElement
// scss-lint:disable NestingDepth ImportantRule

@import "constants";

.repository-table {
  margin-top: 20px;

  .dataTables_filter {
    float: right;
  }

  // hack only for firefox
  @-moz-document url-prefix() {
    input.form-control[type="file"] {
      font-size: 13px;
      height: auto;
      padding: 3px 12px;
    }
  }

  .repository-status-value-icon {
    margin-right: 5px;
  }

  .dropdown-selector-container {
    width: 150px;
  }


  // Cells


  // Assigned

  .assigned-column {
    position: relative;

    .repository-row-edit-icon {
      cursor: pointer;
      display: none;
      width: 30px;
    }

    .assign-counter-container {
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      height: calc(100% - 2px);
      margin-left: 30px;
      padding-top: 7px;
      position: absolute;
      top: 1px;
      width: calc(100% - 38px);

      .assign-counter {
        margin-left: 5px;

        &.has-assigned {
          color: $brand-primary;
        }
      }

      &:hover {
        background-color: $color-silver-chalice;
      }
    }
  }

  // Checklists
  .checklist-dropdown {
    .dropdown-menu {
      .checklist-item {
        padding: 5px;
      }
    }
  }

  // DateTime
  .datetime-container {
    position: relative;

    &.dateonly {
      input.time-part {
        display: none;
      }
    }

    &.timeonly {
      input.date-part {
        display: none;
      }
    }
  }

  // Actions

  tbody {
    tr:hover {
      background-color: $color-concrete;

      .assigned-column {
        .repository-row-edit-icon {
          display: inline-block;
        }
        .assign-counter-container {
          margin-left: 0;
        }
      }
    }

    .editing {
      border: 1px solid;
    }
  }

  &.editing {
    tbody {
      tr:hover {
        .assigned-column {
          .repository-row-edit-icon {
            display: none;
          }
          .assign-counter-container {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
