#modal-print-repository-row-label {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin-left: 8px;
  }

  .id-label {
    margin-left: .5em;
    opacity: .5;
  }

  .printers-container {
    margin-bottom: 1em;
    min-height: 4em;

    .status-ready {

    }

    .status-ready {
      color: #2DBE61;
    }

    .status-busy {
      color: #231F20;
    }

    .status-out-of-labels {
      color: #231F20;
    }

    .status-unreachable {
      color: #231F20;
    }

    .status-error {
      color: #231F20;
    }
  }

  .labels-container {
    margin-bottom: 1em;
    min-height: 4em;
  }

  .print-copies-input {
    margin-left: .5em;
    text-align: right;
    width: 100px;
  }

  .no-printers-container {
    padding: 2em;
    text-align: center;

    .no-printer-title {
      @include font-h3;
      margin-top: 1em;
    }
  }

  .label-template-warning {
    @include font-small;
    color: $brand-warning;
  }

  .label-preview-container {
    background-color: $color-concrete;
    display: flex;
    justify-content: center;
    min-height: 200px;
    padding: .5em 0;
  }

  .label-template-option {
    align-items: center;
    display: flex;

    img {
      margin-right: .25em;
    }
  }
}
