<button type="button" id="toolbarPrintLabel"
        data-toggle="tooltip"
        data-placement="bottom"
        title="<%= t('repositories.show.button_tooltip.print_label') %>"
        class="btn btn-light print-label-button auto-shrink-button"
        data-rows="[]" style="display: none">
  <span class="sn-icon sn-icon-printer"></span>
  <span class="button-text"><%= t('repository_row.modal_print_label.print_label') %></span>
</button>
