<button type="button" id="toolbarPrintLabel"
        data-toggle="tooltip"
        data-placement="bottom"
        class="btn btn-light print-label-button auto-shrink-button"
        data-rows="[]" style="display: none">
  <span class="fas fa-print"></span>
  <span class="button-text"><%= t('repository_row.modal_print_label.print_label') %></span>
</button>
