<div class="repository-cog dropdown hidden" id="saveRepositoryFilters">
  <button type="button"
          class="btn btn-light auto-shrink-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
    <span class="fas fa-save"></span>
    <span class="hidden-xs button-text"><%= t("repositories.show.filters.save_filters") %></span>
    <span class="sn-icon sn-icon-down button-text"></span>
  </button>
  <ul class="dropdown-menu">
    <li id="newFilterLink">
      <a href="#" data-toggle="modal" data-target="#modalSaveRepositoryTableFilter">
        <span class="sn-icon sn-icon-new-task"></span>
        <%= t('repositories.show.filters.new_filter') %>
      </a>
    </li>
    <li id="overwriteFilterLink" class="hidden">
      <a href="#" data-toggle="modal" class="overwrite-link" data-target="#modalSaveRepositoryTableFilter">
        <span class="fas fa-save"></span>
        <span class="overwrite-title">
          <%= t('repositories.show.filters.overwrite_filter') %>
          <span id="currentFilterName"></span>
        </span>
      </a>
    </li>
  </ul>
</div>
