<div class="dropdown asset-context-menu">
  <button class="btn btn-light btn-xs dropdown-toggle icon-btn" type="button" id="dropdownAssetContextMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="sn-icon sn-icon-more-hori"></i>
  </button>

  <ul class="dropdown-menu dropdown-menu-right rounded !p-2.5 sn-shadow-menu-sm" aria-labelledby="dropdownAssetContextMenu">
    <li>
      <%= link_to shared_asset_download_path(@shareable_link.uuid, asset), class: '!px-3 !py-2.5 hover:!bg-sn-super-light-blue !text-sn-blue', data: { turbolinks: false } do %>
        <%= t('Download') %>
      <% end %>
    </li>
  </ul>
</div>
