<span class="dropdown group-members-dropdown-container">
  <span id="groupMembersButton" class="sn-icon sn-icon-info block-icon group-members-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
  <div class="dropdown-menu" aria-labelledby="groupMembersButton">
    <div class="group-members-content">
      <div class="title">
        <%= t('.title', team: team.name) %>
      </div>
      <% users_excluded_id = assignable.manually_assigned_users.select(:id) %>
      <% team.users.order(full_name: :asc).where.not(id: users_excluded_id).each do |user| %>
        <div class="name">
          <%= user.full_name %>
        </div>
      <% end %>
    </div>
  </div>
</span>
