<% # frozen_string_literal: true %>

<div class="member-item">
  <div class="user-assignment-info">
    <%= render partial: 'shared/user_avatar', locals: { user: user, title: current_assignee_name(user) } %>
    <div>
      <%= current_assignee_name(user) %>
    </div>
  </div>
  <div class="user-assignment-controls">
    <button class="btn btn-light btn-role-select disabled" type="button">
      <%= assignable.user_assignments.find_by(user: user, team: current_team).user_role.name %>
    </button>
  </div>
</div>
