<% # frozen_string_literal: true %>

<div class="member-item">
  <div class="user-assignment-info">
    <div class="global-avatar-container">
      <%= image_tag avatar_path(user, :icon_small), title: current_assignee_name(user), class: 'img-circle pull-left' %>
    </div>
    <div>
      <%= current_assignee_name(user) %>
    </div>
  </div>
  <div class="user-assignment-controls">
    <button class="btn btn-light btn-role-select disabled" type="button">
      <%= assignable.user_assignments.find_by(user: user, team: current_team).user_role.name %>
    </button>
  </div>
</div>
