<% provide(:head_title, t("search.index.head_title")) %>

<div id="GlobalSearch" class="contents">
  <global_search
    :query="'<%= @display_query %>'"
  />
</div>

<%= javascript_include_tag "vue_global_search" %>
