<% provide(:head_title, t("search.index.head_title")) %>


<h1 class="page-header"><%= t 'search.index.page_title' %></h1>
<!-- search form -->
<%= form_tag search_path, method: :get, id: 'search-bar', class: 'navbar-form navbar-left', role: 'search' do %>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="text" name="q" placeholder="<%= t('nav.search') %>">
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="submit">
          <span class="fas fa-search"></span>
        </button>
      </span>
    </div>
  </div>
<% end %>
