// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule
// scss-lint:disable IdSelector




.my-module-header {
  .my-module-title-row {
    align-items: center;
    background: $color-white;
    display: flex;
    height: 4em;
    margin-left: -1.5rem;
    padding: 0 0.5rem;
    width: calc(100% + 3rem);

    .my_module-name {
      display: flex;
      min-width: 5rem;
      width: 100%;

      .view-mode {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .fas {
        margin-right: .5em;
      }
    }
  }

  .name-readonly-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.content-pane.my-modules-protocols-index {
  background-color: $color-alto;
  min-height: calc(100vh - var(--navbar-height));

  .title-row {
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }

  .dropdown {
    .dropdown-menu {
      z-index: 102;
    }

    .dropdown-backdrop {
      z-index: 101;
    }
  }
}

.content-pane.protocols-repository-edit-view {
  margin: 0;
}

.task-section {
  background-color: var(--sn-white);
  border-radius: .25rem;
  margin: 1rem 0;
  padding: 0 1rem;

  .task-section-caret {
    align-items: center;
    color: var(--sn-black);
    display: inline-flex;
    gap: 1rem;
    padding: .5rem;
    padding-left: 0;
    text-decoration: none;

    .fas {
      margin-right: 5px;
    }

    &:not(.collapsed) .sn-icon-right {
      @include rotate(90deg);
    }
  }

  .task-section-title {
    display: inline-block;

    h2 {
      margin: 10px 0;

      &.assigned-items-title {
        &::after {
          color: $color-alto;
          content: '[' attr(data-assigned-items-count) ']';
          display: inline;
          font-size: 1rem;
          font-weight: normal;
          line-height: 22px;
          padding-left: .25rem;
        }
      }
    }
  }

  .task-section-body {
    padding-bottom: 1rem;
  }

  .task-section-header {
    align-items: center;
    display: flex;
    min-height: 4rem;

    .actions-block {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .caret {
        margin-left: 25px;
      }

      .repositories-assign-container {
        max-width: 150px;

        .btn {
          text-align: left;

          .caret {
            margin: 8px 0;
          }
        }

        .repositories-dropdown-menu {
          max-height: 250px;
          overflow: auto;
          z-index: 251;

          .repository {

            .assigned-items,
            .shared-icon {
              flex-shrink: 0;

              .fas {
                padding-right: 5px;
              }
            }

            .assigned-items {
              color: $color-alto;
            }

            .name {
              flex-grow: 1;
            }
          }
        }
      }

      .dropdown-menu {
        @include font-button;

        a {
          padding: 8px 20px;
        }

        .fas {
          padding-right: 5px;
        }
      }
    }
  }
}

.task-details {
  padding-left: 2.5rem;

  .fas.block-icon {
    margin-right: 8px;
  }

  .flex-block {
    align-items: center;
    display: flex;
    line-height: 34px;

    .flex-block-label {
      align-items: center;
      display: flex;
      margin-right: 4px;
    }
  }

  .empty-label {
    color: $color-silver-chalice;
    font-weight: normal;
  }

  .datetime-container {
    align-items: center;
    display: inline-flex;

    .date-text {
      border: 1px solid transparent;
      font-weight: bold;
      line-height: 32px;
      margin-right: 25px;
      padding: 0 4px;
      position: relative;

      .alert-green {
        color: $brand-success;
      }

      .alert-yellow {
        color: $brand-warning;
      }

      .alert-red {
        color: $brand-danger;
      }

      .clear-date {
        color: $color-silver;
        cursor: pointer;
        display: none;
        font-size: 20px;
        left: 100%;
        line-height: 34px;
        margin-left: 5px;
        position: absolute;
        top: 0;
      }
    }

    .datetime-picker-container {
      color: $color-emperor;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .dp__input_wrap {
        opacity: 0;
      }

      #calendarDueDate {
        opacity: 0;
      }

      #calendarStartDate {
        opacity: 0;
      }

      .sn-icon-calendar {
        display: none;
      }
    }

    &:hover {
      .date-text[data-editable=true] {
        background-color: $color-concrete;
        border-radius: 4px;

        .clear-date {
          display: inline;
        }
      }
    }
  }

  .module-tags {
    .tags-wrapper {
      align-items: center;
      display: flex;
      width: 100%;
    }

    .dropdown-selector-container {
      .my-module-white-tags {
        color: $color-white;
      }

      .my-module-tags-color {
        align-items: center;
        border-radius: 8px;
        display: inline-flex;
        height: 16px;
        justify-content: center;
        margin-right: 5px;
        width: 16px;

        &.new {
          color: $color-silver-chalice;
        }
      }

      .my-module-tags-create-new {
        margin-left: 3px;
      }

      .input-field {
        border: 1px solid transparent;
        padding-right: 110px;
      }

      &.open {
        .input-field {
          border: 1px solid $color-alto;
        }
      }

      &:not(.view-mode):hover {
        .input-field {
          border: 1px solid $color-alto;
        }
      }
    }

    .badge-icon {
      display: inline-block;
      line-height: 32px;
      padding: 0 5px 0 0;
      width: 28px;
    }

    .tags-title {
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      margin-right: 4px;
    }

    .select-container,
    .select-user-container {
      display: flex;
      flex-basis: 100px;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      position: relative;

      select {
        display: none;
      }

      .edit-button-container {
        height: 36px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 130px;
        z-index: 20;

        &.hidden {
          display: none;
        }

        a {
          align-items: center;
          color: inherit;
          display: inline-flex;
          gap: .25rem;
          height: 36px;
          opacity: .7;
          text-decoration: none;
        }
      }
    }
  }

  #manage-module-tags-modal {
    .well {
      border: 0;
      box-shadow: none;
    }
  }

  .my-module-user-tags {
    .user-full-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      border-radius: 50%;
      display: inline;
      margin-right: .5em;
      max-height: 20px;
      max-width: 20px;
    }
  }

  .assign-new-user {
    background-color: $color-alto;
    color: $color-volcano;
    text-align: center;

    .fa-plus {
      font-size: 16px;
    }
  }
}

#manage-module-tags-modal {
  .dropdown-toggle {
    box-shadow: unset;
    outline: unset;
  }

  .dropdown-menu {
    outline: none;
  }
}

.task-notes {
  display: inline-block;
  padding-left: 40px;
  position: relative;
  width: 100%;

  .no-description {
    font-size: 16px;
  }

  .task-notes-content {
    overflow-x: auto;

    .form-group.has-error {
      border: 1px solid $brand-danger;
    }
  }
}

.my-module-protocol-status {
  position: relative;

  .status-label {
    color: $color-alto;
    float: left;
    font-size: 1rem;
    font-style: normal;
    margin: 0 .25rem;

    &.linked {
      color: $brand-primary;
    }
  }

  .status-info {
    @include font-h2;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }

    &.protocol-newer {
      color: $brand-focus;
    }

    &.parent-newer {
      color: $brand-warning;
    }
  }

  .status-info-dropdown {
    left: -125px;
    max-width: 100vw;
    width: 534px;
    padding: 0;

    .dropdown-content {
      padding: 12px 24px;
    }

    .dropdown-header,
    .dropdown-body,
    .dropdown-footer {
      padding: 12px 0;
    }

    .dropdown-header {
      background: $color-white;
      border-bottom: $border-tertiary;

      .protocol-name {
        color: $color-black;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .protocol-header-info {
        color: $color-black;
        display: flex;
        font-size: .875em;
        font-weight: 400;
        justify-content: space-between;
      }
    }

    .dropdown-body {

      .info-line {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 9px 0;

        .description {
          @include font-button;
          flex-grow: 1;
          min-width: 120px;
        }

        .value {
          @include font-h3;
          flex-shrink: 0;
        }

        &.new-parent-version {
          .value {
            color: $brand-warning;

            &::before {
              @include font-awesome;
              content: "\f2f1";
              margin-right: 5px;
            }
          }
        }
      }
    }

    .dropdown-footer {
      border-top: $border-tertiary;

      .notification-line {
        @include font-button;
        color: $color-silver-chalice;
        display: flex;

        .fas {
          line-height: 21px;
          margin-right: 11px;
        }

        &.new-parent-version {
          color: $brand-warning;
        }

        &.new-protocol-version {
          color: $brand-focus;
        }
      }
    }
  }
}

.task-details-dropdown-container {
  .dropdown-menu {
    @include font-button;
    min-width: 500px;
    padding: 1em 2em;
    z-index: 251;

    .task-details-value {
      font-weight: bold;
    }

    .row-v-margin {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }
}

@media (max-width: 810px) {
  .task-information .task-section-header {
    display: block;
  }

  .task-information .expanded {
    height: auto;
  }

  .content-pane.my-modules-protocols-index {
    padding: 10px 0 0 0;
  }

  .my-module-protocol-status {
    .status-info-dropdown {
      left: -75px;
      width: 300px;

      .dropdown-footer {
        display: block;
      }
    }
  }

  .task-information {
    grid-template-columns: auto;
    row-gap: .5em;

    .task-details {
      grid-row: 3 / span 1;
    }
  }
}

#confirm-link-update-modal,
.delete-steps-modal {
  .modal-body p {
    margin: 1.2em 0;
  }

  .warning {
    font-weight: bold;
    margin-bottom: 1.2em;
  }
}
