// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule
// scss-lint:disable IdSelector

@import "constants";
@import "mixins";

.my-module-header {
  .my-module-title-row {
    align-items: center;
    background: $color-white;
    display: flex;
    height: 4em;
    margin-left: -1.5rem;
    padding: 0 0.5rem;
    width: calc(100% + 3rem);

    .my_module-name {
      min-width: 5rem;
      width: 100%;
    }
  }
}

.content-pane.my-modules-protocols-index {
  background-color: $color-alto;
  padding: 0 1rem 1rem !important;
  min-height: calc(100vh - var(--navbar-height));

  .title-row {
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }

  .my-module-position-container {
    background-color: $color-white;
    box-shadow: $flyout-shadow;
    margin: 1rem auto;
    max-width: 900px;
    padding: 10px;
    z-index: 2;
  }

  .dropdown {
    .dropdown-menu {
      z-index: 9;
    }
  }
}

.content-pane.protocols-repository-edit-view {
  margin: 0;
}

.task-section {
  margin: 16px 0;
  padding-left: 16px;

  .task-section-caret {
    color: $color-volcano;
    display: inline-block;
    padding: .5em;
    text-decoration: none;

    .fas {
      margin-right: 5px;
    }

    &:not(.collapsed) .fas {
      @include rotate(90deg);
    }
  }

  .task-section-title {
    display: inline-block;

    h2 {
      margin: 10px 0;

      &.assigned-items-title {
        &::after {
          @include font-h3;
          color: $color-alto;
          content: '[' attr(data-assigned-items-count) ']';
          display: inline;
          line-height: 22px;
          padding-left: 5px;
        }
      }
    }
  }

  .task-section-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .actions-block {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .caret {
        margin-left: 25px;
      }

      .repositories-assign-container {
        flex-grow: 1;
        max-width: 150px;

        .btn {
          text-align: left;

          .caret {
            margin: 8px 0;
          }
        }

        .repositories-dropdown-menu {
          max-height: 250px;
          overflow: auto;

          .repository {
            @include font-button;
            cursor: pointer;
            display: flex;
            padding: 8px 16px;

            .assigned-items,
            .shared-icon {
              flex-shrink: 0;

              .fas {
                padding-right: 5px;
              }
            }

            .assigned-items {
              color: $color-alto;
            }

            .name {
              flex-grow: 1;
            }
          }
        }
      }

      .dropdown-menu {
        @include font-button;

        a {
          padding: 8px 20px;
        }

        .fas {
          padding-right: 5px;
        }
      }
    }
  }
}

.task-details {
  .fas.block-icon {
    margin-right: 8px;
  }

  .flex-block {
    align-items: center;
    display: flex;
    line-height: 34px;

    .flex-block-label {
      align-items: center;
      display: flex;
      margin-right: 4px;
    }
  }

  .empty-label {
    color: $color-silver-chalice;
    font-weight: normal;
  }

  .datetime-container {
    align-items: center;
    display: inline-flex;

    .date-text {
      border: 1px solid transparent;
      font-weight: bold;
      line-height: 32px;
      margin-right: 25px;
      padding: 0 4px;
      position: relative;

      .alert-green {
        color: $brand-success;
      }

      .alert-yellow {
        color: $brand-warning;
      }

      .alert-red {
        color: $brand-danger;
      }

      .clear-date {
        color: $color-silver;
        cursor: pointer;
        display: none;
        font-size: 20px;
        left: 100%;
        line-height: 34px;
        margin-left: 5px;
        position: absolute;
        top: 0;
      }
    }

    .datetime-picker-container {
      color: $color-emperor;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      #calendarDueDate {
        opacity: 0;
      }

      #calendarStartDate {
        opacity: 0;
      }

      .fa-calendar-alt {
        display: none;
      }
    }

    &:hover {
      .date-text[data-editable=true] {
        background-color: $color-concrete;
        border-radius: 4px;

        .clear-date {
          display: inline;
        }
      }
    }
  }

  .module-tags {
    .tags-wrapper {
      align-items: center;
      display: flex;
      width: 100%;
    }

    .dropdown-selector-container {
      .my-module-white-tags {
        color: $color-white;
      }

      .my-module-tags-color {
        align-items: center;
        border-radius: 8px;
        display: inline-flex;
        height: 16px;
        justify-content: center;
        margin-right: 5px;
        width: 16px;

        &.new {
          color: $color-silver-chalice;
        }
      }

      .my-module-tags-create-new {
        margin-left: 3px;
      }

      .input-field {
        border: 1px solid transparent;
        padding-right: 110px;
      }

      &.open {
        .input-field {
          border: 1px solid $color-alto;
        }
      }

      &:not(.view-mode):hover {
        .input-field {
          border: 1px solid $color-alto;
        }
      }
    }

    .badge-icon {
      display: inline-block;
      line-height: 32px;
      padding: 0 5px 0 0;
      width: 28px;
    }

    .tags-title {
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      margin-right: 4px;
    }

    .select-container,
    .select-user-container {
      display: flex;
      flex-basis: 100px;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      position: relative;

      select {
        display: none;
      }

      .edit-button-container {
        height: 36px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 120px;
        z-index: 20;

        &.hidden {
          display: none;
        }

        a {
          color: inherit;
          display: inline-block;
          line-height: 36px;
          opacity: .7;
          text-decoration: none;

          i {
            float: left;
            font-size: 16px;
            line-height: 36px;
            margin-right: 5px;
            padding-top: 1px;
          }

          span {
            float: left;
            line-height: 36px;
          }
        }
      }
    }
  }

  #manage-module-tags-modal {
    .well {
      border: 0;
      box-shadow: none;
    }
  }

  .my-module-user-tags {

    img {
      border-radius: 50%;
      display: inline;
      margin-right: .5em;
      max-height: 20px;
      max-width: 20px;
    }
  }

  .assign-new-user {
    background-color: $color-alto;
    color: $color-volcano;
    text-align: center;

    .fa-plus {
      font-size: 16px;
    }
  }
}

.task-notes {
  display: inline-block;
  position: relative;
  width: 100%;

  .no-description {
    font-size: 16px;
  }

  .task-notes-content {
    margin-left: 10px;

    .form-group.has-error {
      border: 1px solid $brand-danger;
    }
  }
}

.my-module-protocol-status {
  position: relative;

  .status-label {
    @include font-h3;
    color: $color-alto;
    float: left;
    margin: 0 3px;

    &.linked {
      color: $brand-primary;
    }
  }

  .status-info {
    @include font-h2;
    color: inherit;
    padding: .5em;
    text-decoration: none;

    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }

    &.protocol-newer {
      color: $brand-focus;
    }

    &.parent-newer {
      color: $brand-warning;
    }
  }

  .status-info-dropdown {
    left: -125px;
    max-width: 100vw;
    width: 506px;
    padding: 0;

    .dropdown-content {
      padding: 12px 24px;
    }

    .dropdown-header,
    .dropdown-body,
    .dropdown-footer {
      padding: 12px 0;
    }

    .dropdown-header {
      background: $color-white;
      border-bottom: $border-tertiary;

      .protocol-name {
        color: $color-black;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .protocol-header-info {
        color: $color-black;
        display: flex;
        font-size: .875em;
        font-weight: 400;
        justify-content: space-between;
      }
    }

    .dropdown-body {

      .info-line {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 9px 0;

        .description {
          @include font-button;
          flex-grow: 1;
          min-width: 120px;
        }

        .value {
          @include font-h3;
          flex-shrink: 0;
        }

        &.new-parent-version {
          .value {
            color: $brand-warning;

            &::before {
              @include font-awesome;
              content: "\f2f1";
              margin-right: 5px;
            }
          }
        }
      }
    }

    .dropdown-footer {
      border-top: $border-tertiary;

      .notification-line {
        @include font-button;
        color: $color-silver-chalice;
        display: flex;

        .fas {
          line-height: 21px;
          margin-right: 11px;
        }

        &.new-parent-version {
          color: $brand-warning;
        }

        &.new-protocol-version {
          color: $brand-focus;
        }
      }
    }
  }
}

.task-details-dropdown-container {
  .task-details-button {
    @include font-h2;
    color: inherit;
    margin-left: -5px;
    text-decoration: none;
  }

  .dropdown-menu {
    @include font-button;
    min-width: 500px;
    padding: 1em 2em;

    .task-details-value {
      @include font-h3;
    }

    .row-v-margin {
      margin-bottom: .5em;
      margin-top: .5em;
    }
  }
}

.task-information {
  .task-section-header {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .status-buttons {
    .status-flow-dropdown[data-status-changing=true] {
      .caret.pull-right {
        display: none;
      }
    }

    > div > .btn {
      min-width: 115px;
    }
  }

  .task-flows {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    #dropdownTaskFlowList {
      min-width: 230px;
    }

    .status-label {
      @include font-small;
      flex-basis: 50%;
      font-weight: 700;
      margin-right: .5em;
      text-align: right;

      .status-note {
        font-weight: normal;
      }

      .pull-right {
        font-weight: 400;
      }
    }

    .status-flow-dropdown {
      &:last-child {
        margin-right: 0;
      }
    }

    .status-buttons {
      display: flex;

      > :not(:first-child):not(.dropdown-menu) {
        margin-left: .5em;
      }
    }

    .status-transition-error {
      @include font-small;
      color: $brand-danger;
      margin-top: .5em;

      .fas {
        margin-right: .5em;
      }
    }
  }
}

@media (max-width: 810px) {
  .task-information .task-section-header {
    display: block;

    .task-flows,
    .status-label,
    .status-buttons {
      display: block;
      max-width: 230px;
    }

    .status-label {
      margin: 0;
      text-align: left;
    }

    .status-buttons > :not(:first-child):not(.dropdown-menu) {
      margin-left: 0;
      margin-top: .5em;
    }
  }

  .task-information .expanded {
    height: auto;
  }

  .content-pane.my-modules-protocols-index {
    padding: 10px 0 0 0;
  }

  .my-module-protocol-status {
    .status-info-dropdown {
      left: -75px;
      width: 300px;

      .dropdown-footer {
        display: block;
      }
    }
  }

  .task-information {
    grid-template-columns: auto;
    row-gap: .5em;

    .task-details {
      grid-row: 3 / span 1;
    }

    .task-flows {
      grid-column: unset;
      grid-row: 2 / span 1;
    }
  }
}

.task-details-code {
  display: inline-block;
  margin-left: 4px;
}

#confirm-link-update-modal,
.delete-steps-modal {
  .modal-body p {
    margin: 1.2em 0;
  }

  .warning {
    font-weight: bold;
    margin-bottom: 1.2em;
  }
}
