// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

.content-pane.my-modules-protocols-index {
  padding: 10px;
}

.task-section {
  border-left: 3px solid $color-concrete;
  margin: 16px 0;
  padding-left: 16px;

  .task-section-caret {
    color: $color-volcano;
    display: inline-block;
    text-decoration: none;

    .fas {
      margin-right: 5px;
    }

    &:not(.collapsed) .fas {
      @include rotate(90deg);
    }
  }

  .task-section-title {
    display: inline-block;

    h2 {
      margin-bottom: 8px;
      margin-top: 11px;
    }
  }

  .task-section-header {
    display: flex;
    flex-wrap: wrap;

    .actions-block {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .repositories-assign-container {
        flex-grow: 1;
        max-width: 200px;

        .btn {
          text-align: left;

          .caret {
            margin: 8px 0;
          }
        }

        .repositories-dropdown-menu {
          width: 100%;

          .repository {
            @include font-button;
            display: flex;
            padding: 8px 16px;

            .assigned-items,
            .shared-icon {
              flex-shrink: 0;

              .fas {
                padding-right: 5px;
              }
            }

            .assigned-items {
              color: $color-alto;
            }

            .name {
              flex-grow: 1;
            }
          }
        }
      }

      .dropdown-menu {
        a {
          padding: 8px 20px;
        }

        .fas {
          padding-right: 5px;
        }
      }
    }
  }
}

.complete-button-container {
  display: inline;
  float: right;
  width: 260px;

  .my_module-state-buttons {
    padding-top: 0;
  }
}

.task-details {
  .fas.block-icon {
    margin-right: 8px;
  }

  .flex-block {
    align-items: center;
    display: flex;
    line-height: 34px;

    .flex-block-label {
      align-items: center;
      display: flex;
      margin-right: 4px;
    }
  }

  .datetime-container {
    align-items: center;
    display: inline-flex;

    .date-text {
      border: 1px solid transparent;
      font-weight: bold;
      line-height: 32px;
      margin-right: 25px;
      padding: 0 4px;
      position: relative;

      .alert-green {
        color: $brand-success;
      }

      .alert-yellow {
        color: $brand-warning;
      }

      .alert-red {
        color: $brand-danger;
      }

      .clear-date {
        color: $color-silver;
        cursor: pointer;
        display: none;
        font-size: 20px;
        left: 100%;
        line-height: 34px;
        margin-left: 5px;
        position: absolute;
        top: 0;
      }
    }

    .datetime-picker-container {
      color: $color-emperor;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      #calendarDueDate {
        opacity: 0;
      }

      #calendarStartDate {
        opacity: 0;
      }

      .fa-calendar-alt {
        display: none;
      }
    }

    &:hover {
      .date-text[data-editable=true] {
        border-color: $color-silver;
        border-radius: 3px;

        .clear-date {
          display: inline;
        }
      }
    }
  }

  .module-tags {
    #module-tags {
      align-items: center;
      display: flex;
      width: 100%;
    }

    .dropdown-selector-container {
      .my-module-white-tags {
        color: $color-white;
      }

      .my-module-tags-color {
        border-radius: 8px;
        display: inline-block;
        height: 16px;
        margin-right: 5px;
        width: 16px;
      }

      .my-module-tags-create-new {
        opacity: .6;
      }

      .input-field {
        border: 1px solid transparent;
        padding-right: 110px;
      }

      &.open {
        .input-field {
          border: 1px solid $color-alto;
        }
      }

      &:not(.view-mode):hover {
        .input-field {
          border: 1px solid $color-gainsboro;
        }
      }
    }

    .badge-icon {
      display: inline-block;
      line-height: 32px;
      padding: 0 5px 0 0;
      width: 28px;
    }

    .tags-title {
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      width: 37px;
    }

    .select-container {
      display: flex;
      flex-basis: 100px;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: calc(100% - 65px);
      position: relative;
      z-index: 110;

      select {
        display: none;
      }

      .edit-button-container {
        height: 36px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 120px;
        z-index: 20;

        &.hidden {
          display: none;
        }

        a {
          color: inherit;
          display: inline-block;
          line-height: 36px;
          opacity: .7;
          text-decoration: none;

          i {
            float: left;
            font-size: 16px;
            line-height: 36px;
            margin-right: 5px;
            padding-top: 1px;
          }

          span {
            float: left;
            line-height: 36px;
          }
        }
      }
    }
  }

  #manage-module-tags-modal {
    .well {
      border: 0;
      box-shadow: none;
    }
  }

  .task-assigned-users {
    height: 34px;

    &:hover {
      text-decoration: none;
    }
  }

  .assign-new-user {
    background-color: $color-concrete;
    color: $color-silver-chalice;
    text-align: center;
  }
}

.task-notes {
  display: inline-block;
  position: relative;
  width: 100%;

  .no-description {
    font-size: 16px;
  }

  .task-notes-content {
    margin-left: 10px;
  }
}

.my-module-recent-protocols {
  flex-grow: 1;
  height: 36px;
  margin-bottom: 5px;
  position: relative;

  .btn-group {
    align-items: center;
    display: flex;
    float: right;
    height: 33px;
  }

  .title {
    font-size: 14px;
  }

  .dropdown-button {
    cursor: pointer;
    padding: 10px 5px;
  }

  .dropdown-menu {
    left: auto;
    padding: 0;
    right: 0;
    width: 402px;

    .protocol {
      cursor: pointer;
      display: inline-block;
      float: left;
      padding: 5px 10px;
      transition: $md-transaction;
      width: 200px;

      &:hover {
        background: $color-gainsboro;
      }

      .fas {
        margin-right: 5px;
      }
    }
  }
}
