<hr>

  <div class="col-xs-12 comments-title">
    <h4>
      <%=t('my_modules.results.comments_tab') %>
      (<span id="comment-counter-<%= result.id %>"><%= comments.count %></span>)
    </h4>
  </div>

  <%= render partial: 'shared/comments/comments.html.erb', locals: {
    object: result,
    comments: comments, 
    can_create_comments: can_create_comments_in_module?(@my_module), 
    create_url: result_result_comments_path(result, format: :json),
    more_url: result_result_comments_path(result, format: :json, from: comments.first&.id)
  } %>