<div>
  <h1>breadcrumbs</h1>
  <div id="breadcrumbs" class="flex items-center gap-4">
    <Breadcrumbs :breadcrumbs="breadcrumbs">
  </div>
</div>

<%= javascript_include_tag 'vue_design_system_breadcrumbs' %>
