<h1>Checkbox</h1>
<div class="flex flex-items gap-8 p-6">
  <div class="sci-checkbox-container">
    <input type="checkbox" class="sci-checkbox">
    <span class="sci-checkbox-label">
  </div>
  <div class="sci-checkbox-container">
    <input type="checkbox" class="sci-checkbox" disabled>
    <span class="sci-checkbox-label">
  </div>
  <div class="sci-checkbox-container">
    <input type="checkbox" class="sci-checkbox" checked disabled>
    <span class="sci-checkbox-label">
  </div>
</div>
