<h1>Checkbox</h1>
<div  class="mb-8">
  <div class="flex items-center gap-3">
    <div class="sci-checkbox-container">
      <input type="checkbox" id="checkbox1" class="sci-checkbox">
      <span class="sci-checkbox-label"></span>
    </div>
    <label class="sci-label" for="checkbox1">Checkbox</label>
  </div>

  <div class="flex items-center gap-3">
    <div class="sci-checkbox-container">
      <input type="checkbox" class="sci-checkbox" disabled>
      <span class="sci-checkbox-label"></span>
    </div>
    <label class="sci-label disabled">Disabled Checkbox</label>
  </div>

  <div class="flex items-center gap-3">
    <div class="sci-checkbox-container">
      <input type="checkbox" class="sci-checkbox" checked disabled>
      <span class="sci-checkbox-label"></span>
    </div>
    <label class="sci-label disabled">Checked Disabled Checkbox</label>
  </div>
</div>
