<h1>Input Title Field</h1>
<div id="titleInputs" class="mb-8 flex flex-col gap-2">
  <input-title-field placeholder="Add title"></input-title-field>
  <input-title-field v-model="testValue" :error="error" :error-message="errorMessage"></input-title-field>
</div>

<%= javascript_include_tag 'vue_design_system_input_titles' %>
