<h1>Radio</h1>
<div class="flex flex-items gap-8 p-6">
  <div class="sci-radio-container">
    <input type="radio" name="test_1" class="sci-radio">
    <span class="sci-radio-label">
  </div>
  <div class="sci-radio-container">
    <input type="radio" name="test_1" class="sci-radio" checked>
    <span class="sci-radio-label">
  </div>
  <div class="sci-radio-container">
    <input type="radio" name="test_2" class="sci-radio" disabled>
    <span class="sci-radio-label">
  </div>
  <div class="sci-radio-container">
    <input type="radio" name="test_2" class="sci-radio" checked disabled>
    <span class="sci-radio-label">
  </div>
</div>
