<h1>Radio</h1>
<div class="flex items-center gap-3">
  <div class="sci-radio-container">
    <input type="radio" name="test_1" class="sci-radio">
    <span class="sci-radio-label"></span>
  </div>
  <label class="sci-label">Radio A</label>
</div>

<div class="flex items-center gap-3">
  <div class="sci-radio-container">
    <input type="radio" name="test_1" class="sci-radio" checked>
    <span class="sci-radio-label"></span>
  </div>
  <label class="sci-label">Radio B</label>
</div>

<div class="flex items-center gap-3">
  <div class="sci-radio-container">
    <input type="radio" name="test_2" class="sci-radio" disabled>
    <span class="sci-radio-label"></span>
  </div>
  <label class="sci-label disabled">Disabled Radio</label>
</div>

<div class="flex items-center gap-3 mb-8">
  <div class="sci-radio-container">
    <input type="radio" name="test_2" class="sci-radio" checked disabled>
    <span class="sci-radio-label">
  </div>
  <label class="sci-label disabled">Checked Disabled Radio</label>
</div>

