<h1>Shadows & corners</h1>
<hr>
<br>
<h1>Shadows</h1>
<hr>
<div class="flex flex-wrap justify-between mx-10 gap-4">
    <div>
        <div class="sci-label mb-4">Menu shadow - small - up</div>
        <div class="shadow-box shadow-up"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Menu shadow - small - down</div>
        <div class="shadow-box shadow-down"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Menu shadow - large - up</div>
        <div class="shadow-box shadow-large-up"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Menu shadow - large - down</div>
        <div class="shadow-box shadow-large-down"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Drag shadow</div>
        <div class="shadow-box shadow-drag"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Modal shadow</div>
        <div class="shadow-box shadow-modal"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Focus state shadow</div>
        <div class="shadow-box shadow-focus"></div>
    </div>
    <div>
        <div class="sci-label mb-4">Cursor shadow</div>
        <div class="shadow-box shadow-cursor"></div>
    </div>
</div>

<h1>Corners</h1>
<hr>
<div class="flex flex-wrap justify-between mx-10 gap-4">
    <div>
        <div class="sci-label mb-4">4px</div>
        <div class="corner-box rounded-sm"></div>
    </div>
    <div>
        <div class="sci-label mb-4">6px</div>
        <div class="corner-box rounded-md"></div>
    </div>
    <div>
        <div class="sci-label mb-4">8px</div>
        <div class="corner-box rounded-lg"></div>
    </div>
</div>
<hr class="my-4">