<div  class="mb-8">
  <h1>Tabs</h1>
  <div class="bg-sn-super-light-grey p-4">
    <div class="tab-group">
      <%= link_to "Tab A", nil, class: "tab-item active "%>
      <%= link_to "Tab B", nil, class: "tab-item"%>
      <%= link_to "Tab C", nil, class: "tab-item"%>
      <%= link_to "Tab D", nil, class: "tab-item"%>
    </div>
  </div>
</div>
