<div  class="mb-8">
  <h1>Tags</h1>
  <div class="flex items-center gap-4 flex-wrap">
    <div class="sci-tag bg-sn-light-grey">
      Simple tag
    </div>
    <div class="sci-tag bg-sn-background-blue">
      Tag with delete
      <i class="sn-icon sn-icon-close"></i>
    </div>
    <div class="sci-tag bg-sn-blue text-white ">
      <div class="avatar-container bg-sn-background-blue"></div>
      Tag with avatar
      <i class="sn-icon sn-icon-close"></i>
    </div>
    <div class="sci-tag bg-sn-background-blue disabled">
      Disabled tag
      <i class="sn-icon sn-icon-close"></i>
    </div>
  </div>
</div>
