<div  class="mb-8">
  <h1>Toast message</h1>
  <div class="flex items-center gap-4 flex-wrap">
    <div class="sci-toast sci-toast-info">
      This is an info toast message.
    </div>
    <div class="sci-toast sci-toast-success">
      This is a success toast message.
    </div>
    <div class="sci-toast sci-toast-warning">
      This is a warning toast message.
    </div>
    <div class="sci-toast sci-toast-error">
      This is an error toast message.
    </div>
  </div>
</div>
