<h1>Toggle</h1>
<div  class="mb-8">
  <div class="flex items-center gap-3">
    <div class="sci-toggle-checkbox-container">
      <input type="checkbox" class="sci-toggle-checkbox">
      <span class="sci-toggle-checkbox-label"></span>
    </div>
    <label class="sci-label">Toggle Checkbox</label>
  </div>

  <div class="flex items-center gap-3">
    <div class="sci-toggle-checkbox-container">
      <input type="checkbox" class="sci-toggle-checkbox" disabled>
      <span class="sci-toggle-checkbox-label"></span>
    </div>
    <label class="sci-label disabled">Disabled Toggle Checkbox</label>
  </div>

  <div class="flex items-center gap-3">
    <div class="sci-toggle-checkbox-container">
      <input type="checkbox" class="sci-toggle-checkbox" checked disabled>
      <span class="sci-toggle-checkbox-label"></span>
    </div>
    <label class="sci-label disabled">Checked Disabled Toggle Checkbox</label>
  </div>
</div>
