<div class="modal" id="make-private-results-modal" tabindex="-1" role="dialog" aria-labelledby="make-private-results-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="make-private-results-modal-label">
          <%= t("protocols.index.make_private_results.title") %>
        </h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "general.close" %></button>
      </div>
    </div>
  </div>
</div>