<div class="users-access-cell">
    <% if can_manage_protocol_users?(protocol) %>
        <%= link_to edit_access_permissions_protocol_path(protocol), class: 'protocol-users-link', data: { action: 'remote-modal' } do %>
            <%= render partial: 'protocols/index/users_list', locals: { protocol: protocol } %>
            <span class="new-user global-avatar-container">
                <i class="sn-icon sn-icon-new-task"></i>
            </span>
        <% end %>
    <% else %>
        <%= link_to access_permissions_protocol_path(protocol), class: 'protocol-users-link', data: { action: 'remote-modal' } do %>
            <%= render partial: 'protocols/index/users_list', locals: { protocol: protocol } %>
        <% end %>
    <% end %>
</div>
