<div class="modal" id="protocol-preview-modal" tabindex="-1" role="dialog" aria-labelledby="protocol-preview-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content" data-e2e="e2e-MD-protocolTemplates-previewProtocolsIo">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          data-e2e="e2e-BT-protocolTemplates-previewProtocolsIo-close">
          <i class="sn-icon sn-icon-close"></i>
        </button>
        <h4 class="modal-title"
          id="protocol-preview-modal-label"
          data-e2e="e2e-TX-protocolTemplates-previewProtocolsIo-title">
        </h4>
      </div>
      <div class="modal-body" data-e2e="e2e-CO-protocolTemplates-previewProtocolsIo-body"></div>
      <div class="modal-footer" data-e2e="e2e-CO-protocolTemplates-previewProtocolsIo-footer"></div>
    </div>
  </div>
</div>
