<% protocol.user_assignments[0..2].each_with_index do |user_assigment, i| %>
  <span class="relative" style="z-index: <%= 5 - i %>">
    <%= render partial: 'shared/user_avatar.html.erb', locals: { user: user_assigment.user, title: user_name_with_role(user_assigment) } %>
  </span>
<% end %>

<% more_users = protocol.user_assignments[3..-1].to_a %>
<% if more_users.any? %>
  <span class="more-users" title="<%= user_names_with_roles(more_users) %>">
     +<%= more_users.size %>
  </span>
<% end %>
