// scss-lint:disable IdSelector
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

@import "constants";

#manage-repository-column {
  .modal-content {
    font-size: 14px;
    min-height: 500px;
    width: 540px;
  }

  .modal-header {
    padding: 4px 15px 4px 8px;

    .back-to-column-modal {
      float: left;
    }

    .modal-title {
      margin-right: 25px;
      overflow: hidden;
      padding: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .close {
      padding: 6px 0;
    }
  }

  .modal-body {
    padding: 0 15px 61px;

    .form-horizontal {
      padding: 15px 0;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .form-control {
      font-size: 14px;
    }

    #items-textarea {
      height: 120px;
    }

    .dropdown-selector-container {
      .delimiter-icon-dropdown {

        .tag-label {
          align-items: center;
          display: flex;
        }

        .icon {
          background: $color-concrete;
          border-radius: $border-radius-default;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          line-height: 24px;
          margin-right: 5px;
          text-align: center;
          transition: .3s;
          width: 24px;
        }
      }
    }
  }

  .modal-footer {
    bottom: 0;
    padding: 12px 15px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .range-label {
    left: 3px;
    position: relative;
    top: -2px;
  }

  #repository-column-data-type + .dropdown-selector-container {
    .custom-option {
      padding: 0 25px;
    }
  }

  #new-repository-column {
    .tag-label{
      pointer-events: none;
    }
  }

  .repo-columns-list {
    height: 390px;
    margin-bottom: 0;
    overflow-y: auto;
    padding: 0;
    position: relative;

    .modal-tooltiptext {
      margin-left: 0;
      z-index: 99999999;
    }

    .col-list-el {
      background: $color-white;
      border-bottom: 1px solid $color-alto;
      padding: 10px 10px 10px 0;
      vertical-align: middle;

      .manage-controls {
        display: none;
        margin-top: -10px;
      }

      &:hover {
        &.editable.has-permissions {
          .manage-controls {
            display: inline-block;
          }

          .column-type {
            display: none;
          }
        }

        .grippy {
          background: url(asset-path("custom/grippy.png"));
        }
      }

      &:last-of-type {
        border-bottom: 0;
      }

      &:not(.editable) {
        .column-type::before {
          @include font-awesome;
          content: $font-fas-lock;
          padding-right: 4px;
        }
      }
    }

    [data-position] {
      cursor: grab;
    }

    .ui-sortable-helper {
      cursor: grabbing;
    }

    .grippy {
      background-repeat: none;
      display: inline-block;
      height: 13px;
      width: 8px;
    }

    .column-type {
      color: $color-silver-chalice;
    }

    .col-invisible {
      color: $color-alto;
    }

    .vis-controls {
      display: inline-block;

      span {
        cursor: pointer;

        &.disabled {
          visibility: hidden;
        }

        &:hover {
          color: $color-volcano;
        }
      }

      .vis {
        margin-left: 10px;
        margin-right: 5px;

        &:not(.fa-eye):not(.fa-eye-slash) {
          padding-right: 15px;
        }
      }
    }
  }

  .delete-content {
    height: 390px;
    padding: 15px 0;
  }

  #new-repo-column-modal {
    float: left;
    margin-left: 5px;
  }

  &[data-task-page=true] {
    .repo-columns-list>.col-list-el:hover.editable.has-permissions>.manage-controls {
      display: none;
    }

    .repo-columns-list>.col-list-el:hover.editable.has-permissions>.column-type {
      display: inline-block;
    }

    .modal-footer {
      min-height: 61px;

      #new-repo-column-modal {
        display: none;
      }
    }
  }
}
