// scss-lint:disable NestingDepth



#manage-repository-column {
  .dropdown-preview {
    align-items: center;
    background-color: $color-concrete;
    border: 1px solid $color-gainsboro;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: .5em 100px;
    position: relative;

    .field-name {
      @include font-small;
      color: $color-silver-chalice;
      left: 0;
      padding: .5em;
      position: absolute;
      top: 0;
    }

    .preview-label {
      @include font-small;
      font-weight: bold;
    }

    .preview-block {
      flex-basis: 200px;
      position: relative;
    }

    .dropdown-selector-container {
      width: 200px;
    }
  }

  .limit-counter-container {
    @include font-small;
    bottom: 0;
    color: $color-silver-chalice;

    &.error-to-many-items {
      color: $brand-danger;
      display: inline;
    }
  }

  .too-many-items {
    border-color: $brand-danger;
  }
}
