<ol class="breadcrumb breadcrumb-organizations">
  <% if action_name == "organizations" %>
    <li class="active">
      <%= t("users.settings.organizations.breadcrumbs.all") %>
    </li>
  <% else %>
    <li>
      <%= link_to t("users.settings.organizations.breadcrumbs.all"), organizations_path %>
    </li>
  <% end %>

  <% if action_name == "organization" %>
    <li class="active">
      <%= @org.name %>
    </li>
  <% elsif action_name == "new_organization" || action_name == "create_organization" %>
    <li class="active">
      <%= t("users.settings.organizations.breadcrumbs.new_organization") %>
    </li>
  <% end %>
</ol>