// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.dashboard-container .current-tasks-widget {

  .title {
    flex-shrink: 0;
  }

  .actions-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
  }

  .search-container {
    flex-basis: 36px;

    .sn-icon {
      position: absolute;
    }

    .task-search-field {
      background: transparent;
      border: $border-default;
      padding-left: 36px;
      position: relative;
      width: 200px;
      z-index: 2;

      &:placeholder-shown {
        border: $border-transparent;
        cursor: pointer;
        width: 36px;
      }

      &:hover {
        border: $border-default;
      }

      &:focus {
        border: $border-focus;
        cursor: auto;
        width: 200px;
      }


    }
  }

  .filter-container {
    height: 36px;
    margin-right: 4px;
    position: relative;
    width: 36px;

    .current-tasks-filters {
      padding: 0;
      width: 230px;

      .header {
        align-items: center;
        border-bottom: $border-default;
        display: flex;
        height: 44px;
        margin-bottom: 16px;
        padding: 0 16px;

        .title {
          @include font-h2;
          flex-grow: 1;
          user-select: none;

        }
      }

      .select-block {
        display: inline-block;
        padding: 0 16px 16px;
        position: relative;
        width: 100%;

        label {
          @include font-small;
          display: inline-block;
          font-weight: bold;
          margin-bottom: 5px;
          user-select: none;
        }
      }

      .footer {
        align-items: center;
        border-top: $border-default;
        display: flex;
        height: 68px;
        justify-content: flex-end;
        position: relative;
        padding: 16px;

        .clear-button {
          margin-right: 8px;
        }
      }
    }
  }

  .widget-placeholder {
    .fas {
      font-size: 32px;
      margin-left: 100px;
      margin-top: 50px;
    }

    &.team {
      .assigned {
        display: none;
      }
    }

    &.assigned {
      .team {
        display: none;
      }
    }
  }

  .current-tasks-list-wrapper {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  .current-tasks-list {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    padding: 0 1em;

    &.disabled {
      pointer-events: none;
    }

    .current-task-item {
      color: $color-volcano;
      display: contents;
      text-decoration: none;

      .current-task-breadcrumbs {
        @include font-small;
        color: $color-silver-chalice;
        grid-column: span 3;
        line-height: 1em;
        padding: .5em .5em .25em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .slash {
          display: inline-block;
          text-align: center;
          width: 16px;
        }
      }

      .row-border {
        border-bottom: $border-tertiary;
        height: 32px;
        line-height: 24px;
        padding-bottom: 8px;
      }

      .task-name {
        font-size: $font-size-base;
        font-weight: bold;
        overflow: hidden;
        padding: 0 .5em;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .task-due-date {
        padding: 0 2em 0 1em;

        .fas {
          padding: .25em;
        }

        &.overdue {
          color: $brand-danger;
        }

        &.day-prior {
          color: $brand-warning;
        }

        &.completed {
          color: $brand-success;
        }
      }

      .task-status-container {
        grid-column: 3;
        padding: 0 .5em;
        text-align: right;

        .task-status {
          @include font-small;
          border-radius: $border-radius-tag;
          color: $color-white;
          font-weight: bold;
          padding: .25em .5em;

          &.status-light {
            @include not-started;
          }
        }
      }

      &:hover > * {
        background: var(--sn-super-light-grey);
      }
    }
  }
}

@media (max-width: 1500px) {
  .dashboard-container .current-tasks-widget {
    .task-progress-container {
      max-width: 200px;
    }
  }
}

@media (max-width: 1250px) {
  .dashboard-container .current-tasks-widget {
    .task-progress-container {
      max-width: 150px;
    }

    .current-tasks-list {
      .current-task-item {
        .item-row {
          .task-due-date {
            flex-basis: 230px;
          }
        }
      }
    }

  }
}

@media (max-width: 1000px) {
  .dashboard-container .current-tasks-widget {
    .no-tasks .fas {
      margin-left: 500px;
    }
  }
}

@media (max-width: 700px) {
  .dashboard-container .current-tasks-widget {
    --widget-header-size: 72px;

    .widget-title {
      flex-basis: 100%;
      line-height: 36px;
    }

    .actions-container {
      flex-grow: 0;
      padding: 0;
    }

    .current-tasks-navbar {
      flex-basis: 0;
      flex-grow: 1;
    }

    .search-container {
      margin-right: 5px;

      .task-search-field {
        width: 150px;

        &:focus {
          width: 150px;
        }
      }
    }

    .current-tasks-list {
      grid-template-columns: auto;

      .current-task-item {

        .current-task-breadcrumbs {
          grid-column: 1;
          padding-left: 0;
        }

        .task-name {
          border: 0;
          padding: 0;
          height: 1.5em;
        }

        .task-due-date {
          @include font-small;
          border: 0;
          height: 24px;
          padding-left: 0;


          .fas {
            display: none;
          }
        }

        .task-status-container {
          grid-column: 1;
          text-align: left;
          padding-left: 0;
        }
      }
    }
  }
}
