.dashboard-container .current-tasks-widget {
  grid-column: 1 / span 9;
  grid-row: 1 / span 6;
}

@media (max-width: 900px) {
  .dashboard-container .current-tasks-widget {
    grid-column: 1 / span 12;
    grid-row: 1 / span 4;
  }
}
