.dashboard-container .quick-start-widget {
  grid-column: 1 / span 2;
  grid-row: 7 / span 6;

  .widget-body {
    padding: 16px;

    .quick-start-description {
      margin-bottom: 24px;
    }

    .btn-secondary {
      margin-bottom: 8px;
      text-align: left;
    }
  }
}

@media (max-width: 1700px) {
  .dashboard-container .quick-start-widget {
    grid-column: 1 / span 3;
  }
}


@media (max-width: 1300px) {
  .dashboard-container .quick-start-widget {
    grid-column: 1 / span 4;
  }
}

@media (max-width: 1000px) {
  .dashboard-container .quick-start-widget {
    grid-column: 7 / span 6;
    grid-row: 5 / span 4;
  }
}
