.dashboard-container .quick-start-widget {
  grid-column: 1 / span 3;
  grid-row: 7 / span 6;
}

@media (max-width: 1000px) {
  .dashboard-container .quick-start-widget {
    grid-column: 7 / span 6;
    grid-row: 5 / span 4;
  }
}
