<%= render partial: "global_activities/references/team",
           locals: { team: team, subject: team, breadcrumbs: breadcrumbs, values: values, type_of: type_of } %>
<div class="ga-breadcrumb">
  <span class="sn-icon sn-icon-folders"></span>

  <% if subject %>
    <% path = project_folder_path(subject, team: team) %>
    <%= route_to_other_team(path,
                            team,
                            subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH),
                            title: subject.name) %>
  <% else %>
    <span title="<%= breadcrumbs['project_folder'] %>">
      <%= breadcrumbs['project_folder']&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
