<%= render partial: "global_activities/references/team.html.erb",
           locals: { team: team, subject: subject&.team, breadcrumbs: breadcrumbs  } %>
<div class="ga-breadcrumb">
  <span class="fas fa-list-alt"></span>
  <% if subject %>
    <%= route_to_other_team(repositories_path(subject),
                            team,
                            subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH),
                            title: subject.name) %>
  <% else %>
    <span title="<%= breadcrumbs[:repository] %>">
      <%= breadcrumbs[:repository]&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
