<%= render partial: "global_activities/references/team.html.erb",
           locals: { team: team, subject: subject&.team, breadcrumbs: breadcrumbs, values: values, type_of: type_of } %>
<div class="ga-breadcrumb">
  <span class="fas fa-clipboard-check"></span>
  <% if subject %>
    <%= route_to_other_team(reports_path(subject),
                            team,
                            subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH),
                            title: subject.name) %>
  <% else %>
    <span title="<%= breadcrumbs['report'] %>">
      <%= breadcrumbs['report']&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
