<div class="ga-breadcrumb">
  <span class="sn-icon sn-icon-users"></span>
  <% if team %>
    <%= route_to_other_team projects_path(team: team.id),
                            team,
                            team.name&.truncate(Constants::NAME_TRUNCATION_LENGTH),
                            title: team.name %>
  <% else %>
    <span title="<%= breadcrumbs['team'] %>">
      <%= breadcrumbs['team']&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
