// scss-lint:disable all
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 16px;
  opacity: 0.6;
  margin: 0 1rem 0 5px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;

  &::after,
  &::before {
    content: '';
    display: block;
    background-color: var(--sn-white);
    height: 1rem;
    position: absolute;
    width: 1rem;
    top: 0
  }

  &::after {
    right: -1rem;
    border-bottom-right-radius: 4px;
  }

  &::before {
    left: -5px;
    border-bottom-left-radius: 4px;
    width: 5px;
  }
}

.ps__rail-y {
  display: none;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 16px;
  opacity: 0.6;
  margin: 1rem 0;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;

  cursor: pointer;
  z-index: 5;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--sn-white);
    height: 1rem;
    width: 1rem;
    left: 0
  }

  &::after {
    bottom: -1rem;
    border-bottom-right-radius: 4px;
  }

  &::before {
    border-bottom-right-radius: 4px;
    top: -1rem;
  }

}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: var(--sn-white);
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: $color-black;
  border-radius: 4px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  opacity: .5;
  position: absolute;
}

.ps__thumb-y {
  background-color: $color-black;
  border-radius: 3px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  opacity: .5;
  position: absolute;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
