<ul class="sidebar-branch">
  <% if experiment.archived_branch? %>
    <li class="sidebar-leaf">
      <%= link_to t('sidebar.my_modules.back_to_archived_button'), project_path(experiment.project, view_mode: :archived), class: 'sidebar-link back-button' %>
    </li>
  <% else %>
    <li class="sidebar-leaf">
      <%= link_to t('sidebar.my_modules.back_to_active_button'), my_modules_experiment_path(experiment), class: 'sidebar-link back-button' %>
    </li>
  <% end %>
  <% my_modules&.each do |my_module| %>
    <li class="sidebar-leaf">
      <%= link_to my_module.name,
                  protocols_my_module_url(my_module),
                  title: my_module.name,
                  class: 'sidebar-link',
                  data: { module_id: my_module.id } %>
    </li>
  <% end %>
</ul>
