<% if project.active_experiments.present? %>
  <ul>
    <% project.active_experiments.each do |experiment| %>
      <% cache [current_user, experiment] do %>
        <li data-parent="candidate" data-experiment-id="<%= experiment.id %>">
          <span class="tree-link line-wrap first-indent">
            <i class="no-arrow"></i>
            <%= link_to experiment.name,
                        experiment_action_to_link_to(experiment),
                        title: experiment.name,
                        class: 'overview_exp_label'
                        %>
          </span>
          <%= render partial: 'shared/sidebar/my_modules', locals: { experiment: experiment } %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
