<ul class="sidebar-branch">
  <li class="sidebar-leaf">
    <%= link_to t('sidebar.experiments.back_button'), projects_path, class: 'sidebar-link back-button' %>
  </li>
  <% project.sorted_active_experiments(@current_sort).each do |experiment| %>
    <li class="sidebar-leaf">
      <%= link_to experiment.name, experiment_action_to_link_to(experiment), class: 'sidebar-link' %>
    </li>
  <% end %>
</ul>
