<% if experiment.active_my_modules.present? %>
  <ul>
    <% experiment.active_my_modules.each do |my_module| %>
      <li class="leaf" data-module-id="<%= my_module.id %>">
        <span class="tree-link task-tree-link second-indent" title="<%= my_module.name %>">
          <%= link_to my_module.name,
                      module_action_to_link_to(my_module),
                      class: 'line-wrap',
                      data: { type: 'my_module', id: my_module.id } %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
