 <ul class="sidebar-branch">
  <% if projects_view_mode_archived? %>
    <li class="sidebar-leaf">
      <%= link_to projects_path, class: "sidebar-link back-button" do %>
        <%= t("projects.index.back_to_active_projects") %>
      <% end %>
    </li>
  <% end %>
  <% if !projects_view_mode_archived? %>
    <li class="sidebar-leaf">
      <%= link_to projects_path(view_mode: :archived), class: "sidebar-link" do %>
        <span class="sn-icon sn-icon-archive"></span>
        <%= t('projects.index.navigation_archived_projects') %>
      <% end %>
    </li>
  <% end %>
</ul>
