<% records.each do |record| %>
  <% if record[:project] %>
    <li class="sidebar-leaf">
      <%= link_to record[:project].name, project_url(record[:project]), class: 'sidebar-link' %>
    </li>
  <% else %>
    <li class="sidebar-leaf">
      <% unless record[:children].empty? %>
        <i class="fas fa-caret-right toggle-branch collapsed"></i>
      <% end %>
      <%= link_to project_folder_path(record[:folder]), class: "sidebar-link folder #{'selected' if @current_folder == record[:folder]}" do %>
        <i class="fas fa-folder"></i>
        <%= record[:folder].name %>
      <% end%>
      <ul class="sidebar-branch">
        <%= render partial: 'shared/sidebar/projects_tree_branch.html.erb', locals: { records: record[:children] } %>
      </ul>
    </li>
  <% end %>
<% end %>
