<ul>
  <% @projects_tree.each do |project| %>
    <% cache [action_name, current_user, project] do %>
      <li data-parent="candidate">
        <span class="tree-link no-indent" title="<%= project.name %>">
          <i class="no-arrow"></i>
            <%= link_to project.name,
                        project_action_to_link_to(project),
                        title: project.name,
                        class: 'line-wrap',
                        data: { type: 'project', id: project.id } %>
        </span>
        <%= render partial: 'shared/sidebar/experiments', locals: { project: project } %>
      </li>
    <% end %>
  <% end %>
</ul>
