
<div class="pseudo-attachment-container" style="order: <%= i %>">
    <%= link_to rails_blob_path(asset.file, disposition: 'attachment'),
            class: 'file-preview-link',
            id: "modal_link#{asset.id}",
            data: { no_turbolink: true,
                    id: true,
                    'preview-url': asset_file_preview_path(asset),
                    'order-atoz': order_atoz,
                    'order-ztoa': order_ztoa,
                    'order-new': i,
                    'order-old': assets_count - i,
            } do %>

    <%= render partial: 'shared/asset_placeholder.html.erb', locals: { edit_page: false, asset: asset } %>
    <% end %>
</div>
