<div class="attachment-placeholder pull-left new">
  <div class="attachment-thumbnail no-shadow">
    <i class="fas fa-image"></i>
  </div>
  <div class="attachment-label"><%= truncate(file_name || file_url, length: Constants::FILENAME_TRUNCATION_LENGTH) %>
  </div>
  <div class="spencer-bonnet-modif">
  </div>
</div>
