<div class="col-xs-12">
  <hr>
</div>
<div class="col-xs-12 attachments-actions">

  <div class="title">
    <h4>
      <%= t('protocols.steps.files', count: attachments.size) %>
    </h4>
  </div>
  <div>
    <div class="attachemnts-header pull-right">
    </div>
  </div>
</div>

<div class="col-xs-12 attachments">
  <% attachments.each do |a| %>
    <%= render partial: 'steps/attachments/new_attachment.html.erb',
               locals: {  file_url: a[:url], file_name: a[:name] } %>
  <% end %>
</div>
<hr>
