<div class="select-block dropdown-selector-container mb-6">
  <label class="sci-label"><%= defined?(label_text) ? label_text : t('filters_modal.text.label') %></label>
  <div class="input-field dropdown text-search-filter">
    <input id="textSearchFilterInput"
           class="dropdown-toggle search-field"
           type="text"
           name="search"
           autocomplete="off"
           data-toggle="dropdown"
           placeholder="<%= t('filters_modal.text.placeholder') %>">
  </div>
  <div id="textSearchFilterHistory" class="dropdown-menu recent-searches" aria-labelledby="textSearchFilterInput">
    <label><%= t("filters_modal.recent_searches_label") %></label>
  </div>
</div>
