/**
 * Additional rules when generating PDF from the reports.
 */
/* line 6, /usr/src/app/app/assets/stylesheets/reports_pdf.scss */
.glyphicon {
  display: none;
}

/* line 11, /usr/src/app/app/assets/stylesheets/reports_pdf.scss */
.print-report-body .print-report {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* line 17, /usr/src/app/app/assets/stylesheets/reports_pdf.scss */
tr {
  page-break-inside: avoid;
}

/* line 21, /usr/src/app/app/assets/stylesheets/reports_pdf.scss */
thead {
  display: table-row-group;
}
