<div>
  <em>
    <%= t("projects.reports.elements.modals.result_contents_inner.instructions") %>
  </em>
</div>

<%= form.check_box :result_comments, label: t("projects.reports.elements.modals.result_contents_inner.comments") %>