<h5 class="text-center"><%= t('experiments.canvas.popups.samples_tab') %></h5>
<hr>
<ul class="no-style double-line">
  <% if @number_of_samples == 0 then %>
    <li><em><%= t 'experiments.canvas.popups.no_samples' %></em></li>
  <% else %>
    <% @samples.each do |sample| %>
      <li><span class="text-muted fas fa-caret-right"></span><span><%= sample.name %></span></li>
    <% end %>
  <% end %>
  <hr>
  <li><%= link_to t("experiments.canvas.popups.manage_samples"), samples_my_module_url(id: @my_module.id) %></li>
</ul>
