<div class="comments-sidebar" data-comments-url="<%= comments_path %>">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <div class="comments-subject-title"></div>
      <div class="btn btn-light icon-btn close-btn">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="sidebar-body">
      <div class="comments-list">
      </div>
      <div class="loading-placeholder">
        <% 5.times do |i| %>
          <div class="comment-placeholder <%= i.even? ? 'left' : 'right' %>">
            <div class="comment-user-placeholder"></div>
            <div class="comment-body-placeholder"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="comment-input-container">
        <textarea class="comment-input-field smart-text-area textarea-sm"></textarea>
        <i class="fas fa-paper-plane send-comment"></i>
      </div>
    </div>
  </div>
</div>
