<ul class="nav nav-tabs nav-settings">
  <li role="presentation" class="<%= 'active' if action_name == 'preferences' %>">
    <%= link_to t("users.settings.navigation.preferences"), preferences_path %>
  </li>
  <li role="presentation" class="<%= "active" if action_name.in?(['teams', 'team', 'new_team', 'create_team']) %>">
    <%= link_to t("users.settings.navigation.teams"), teams_path %>
  </li>
</ul>
