@import 'constants';
@import '~react-bootstrap-table/dist/react-bootstrap-table.min';

body {
  background-color: $color-concrete;
  color: $color-emperor;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 13px;
}
