<div class="content-header sticky-header">
  <div class="title-row">
    <i class="sn-icon sn-icon-navigator sci--layout--navigator-open cursor-pointer p-1.5 border rounded border-sn-light-grey mr-4"></i>
    <h1 class="experimnet-name" data-toggle="tooltip" data-placement="bottom" title="<%= @experiment.name %>">
      <% if @experiment.archived_branch? %>
        <span class="whitespace-nowrap"><%= t('labels.archived')%></span>&nbsp;
      <% end %>
      <% if @inline_editable_title_config.present? %>
              <%= render partial: "shared/inline_editing",
                         locals: {
                            initial_value: @experiment.name,
                            config: @inline_editable_title_config
                         } %>
      <% else %>
        <div class="name-readonly-placeholder">
          <%= @experiment.name %>
        </div>
      <% end %>
    </h1>
  </div>
</div>
