<div id="tagsModalContainer" class="vue-tags-modal">
  <div ref="tagsModal" class="tags-modal-component" id="tagsModalComponent"></div>
  <teleport to="body">
    <tags-modal v-if="tagsModalOpen"
      :tags-colors="<%= Constants::TAG_COLORS.to_json %>"
      :params="myModuleParams"
      project-name="<%= @project.name  %>"
      project-tags-url="<%= project_tags_path(@project) %>"
      @close="close"
      @tags-loaded="syncTags"
    />
  </teleport>
</div>
<%= javascript_include_tag 'vue_legacy_tags_modal' %>
