<div id="tagsModalContainer" class="vue-tags-modal">
  <div ref="tagsModal" class="tags-modal-component" id="tagsModalComponent"></div>
  <teleport to="body">
    <tags-modal v-if="tagsModalOpen"
      :subject="myModuleParams"
      @close="syncTags"
    />
  </teleport>
</div>
<%= javascript_include_tag 'vue_legacy_tags_modal' %>
