// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.elements-actions-container {
  align-items: center;
  display: flex;
  flex-basis: 20%;
  gap: .25rem;
  justify-content: flex-end;

  .disabled {
    color: $color-silver-chalice;
    pointer-events: none;
  }

  .dropdown-menu {
    white-space: nowrap;
  }

  .insert-button {
    .caret {
      margin-left: .5em;
    }
  }

  .insert-element-dropdown {
    @include font-button;

    min-width: 230px;
    padding: 0;

    li {
      padding: .5em 1em;

      &.action {
        cursor: pointer;

        &:hover {
          background: var(--sn-super-light-grey);
        }

        .fas {
          margin-right: .5em;
        }
      }

      &.title {
        @include font-small;
        color: $color-alto;
        text-transform: uppercase;
      }
    }
  }
}
