.content__text-container {

  // TinyMCE table of contents
  .mce-toc ul,
  .mce-toc li {
    list-style-type: none;
  }

  .img-responsive {
    display: inline;
    vertical-align: baseline;
  }

  .view-text-element {
    overflow-x: auto;
    pointer-events: initial;
    a {
      pointer-events: initial;
    }

    p {
      margin: 0;
    }

    ol {
      counter-reset: item;

      > li {
        counter-increment: item;
      }

      &:not([style*="list-style-type"]) > li::marker {
        content: counters(item, ".") ". ";
      }
    }
  }

  img {
    max-width: 100%;
  }
}
