.content__text-container {

  .text-header:not(.editing-name):not(.locked) {
    &:hover {
      background-color: $color-concrete;
    }
  }

  // TinyMCE table of contents
  .mce-toc ul,
  .mce-toc li {
    list-style-type: none;
  }

  .img-responsive {
    display: inline;
    vertical-align: baseline;
  }

  .view-text-element {
    a {
      pointer-events: initial;
    }
  }

  img {
    max-width: 100%;
  }

  .content__text-body:hover:not(.edit):not(.locked) {
    background: $color-concrete;
  }
}
