<span 
  class="btn btn-default new-marvinjs-upload-button"
  data-object-id="<%= element_id %>"
  data-object-type="<%= element_type %>"
  data-marvin-url="<%= marvin_js_assets_path %>"
>
  <span class="fas fa-file-invoice new-marvinjs-upload-icon"></span>
  <%= t('marvinjs.new_button') %>
</span>