.field_with_errors,
.sci-input-container {
  .help-block {
    color: $brand-danger;
    font-size: 12px;
  }
}

.form-group.has-error {
  margin-bottom: 0;

  .form-control {
    height: auto;
  }
}
