// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.sci-cursor-edit {
  cursor: url("/images/icon_small/edit.svg") 0 16, auto;
}

.inline-edit-placeholder:empty::before {
  content: attr(placeholder);
  display: block;
}
