// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.sci-cursor-edit {
  cursor: pointer;
}

.inline-edit-placeholder:empty::before {
  content: attr(placeholder);
  display: block;
}
