// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.atwho-view {
  background: $color_white;
  border-radius: $border-radius-default;
  box-shadow: $modal-shadow;
  display: none;
  left: 0;
  margin-top: 18px;
  max-width: 700px;
  min-width: 600px;
  overflow: auto;
  position: absolute;
  top: 0;
  z-index: 11110 !important;

  .atwho-header-res {
    .nav-tabs {
      align-items: center;
      margin-bottom: 0;
    }

    .rep-tab.active:not(:empty) {
      border-bottom: $border-default;
      display: flex;
      padding: .25em;
    }

    .dismiss {
      @include font-button;
      color: $color-silver-chalice;
      cursor: pointer;
      margin-left: auto;
      padding: .5em .75em;
    }

    .repository-object {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .atwho-view-ul {
    margin: 0;
    padding: 0;
  }

  .atwho-no-results {
    color: $color-silver-chalice;
    padding: 1.5em 4em;
    text-align: center;

    .description {
      @include font-main;
      padding: 0 4em 2.5em;
    }
  }

  .atwho-header {
    @include font-small;
    border-bottom: $border-default;
    color: $color-silver-chalice;
    padding: .5em;

    .dismiss {
      @include font-button;
      cursor: pointer;
      float: right;
      padding: 0 .25em;
      position: relative;
    }
  }

  .atwho-footer {
    @include font-small;
    border-top: $border-default;
    color: $color-silver-chalice;
    padding: .5em;
    white-space: pre;
  }

  .atwho-scroll-container {
    max-height: 200px;
    overflow-y: auto;
    padding: .5em;
    position: relative;

    .atwho-breadcrumbs {
      @include font-small;
      color: $color-silver-chalice;
      display: flex;

      .atwho-breadcrumb {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .slash {
        margin: 0 .5em;
      }
    }

    .dot {
      margin: 0 5px;
    }

    .item {
      cursor: pointer;
      line-height: 2.25em;
      overflow: hidden;
      padding: 0 .5em;
      position: relative;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;

      .atwho-button-container {
        background: linear-gradient(90deg,
                                    transparent,
                                    $color-concrete 15%,
                                    $color-concrete 100%);
        display: inline;
        opacity: 0;
        padding-left: 2em;
        position: absolute;
        right: 0;

        .atwho-assign-button-form {
          display: inline;
        }

        .atwho-insert-button,
        .atwho-assign-button {
          background: $color-concrete;
          color: $brand-primary;
          height: 2.25em;
          margin-right: .5em;
          padding: 0 .5em;
          text-align: center;
          width: auto;
        }
      }

      &.cur {
        background: $color-concrete;
        color: $brand-primary;

        .atwho-button-container {
          opacity: 1;
        }
      }

      .atwho-highlight {
        background: $brand-warning-light;
      }
    }
  }

  .atwho-user {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: .5em 0;

    &.cur {
      background: $color-concrete;
    }

    .atwho-highlight {
      background: $brand-warning-light;
    }

    &:not:first-child {
      border-top: $border-default;
    }

    .avatar {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin-left: .5rem;
      border-radius: 50%;
    }

    .user-info {
      display: inline-block;
      margin-left: .5em;
    }

    .user-email {
      @include font-small;
      color: $color-silver-chalice;
      line-height: 1em;
    }
  }

  .more-results {
    color: $color-silver-chalice;
    padding: .5em 0;
  }
}

.sa-type {
  padding-left: 2px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: super;
  font-size: .625rem;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

.atwho-user-container {
  display: inline-block;
  white-space: nowrap;

  .atwho-user-popover {
    cursor: pointer;
    line-height: 1.25rem;
  }

  .atwho-user-popover:focus {
    outline: none;
  }
}

.atwho-inserted,
.atwho-user-popover,
.sa-link {
  pointer-events: initial;
}

.atwho-inserted {
  line-height: 16px;
}
