<% provide(:sidebar_title, t('sidebar.templates.sidebar_title')) %>
<% provide(:container_class, "no-second-nav-container") %>


<div class="content-pane flexible with-grey-background">
  <div class="content-header sticky-header">
    <div class="title-row">
      <h1>
        <%= t('user_groups.promo.head_title') %>
      </h1>
    </div>
  <div class="flex items-center justify-center py-20">
    <div class="promo-container">
      <div class="promo-text">
        <h1 class="title">
          <%= t('user_groups.promo.promo_title') %>
        </h1>
      </div>
    </div>
  </div>
</div>
