<ul class="nav nav-pills nav-stacked nav-stacked-arrow" data-hook="user-settings-account-navigation-html">
  <li role="presentation" class="<%= 'active' if on_settings_account_profile_page? %>">
    <%= link_to t('users.settings.account.navigation.profile'), edit_user_registration_path %>
  </li>
  <li role="presentation" class="<%= 'active' if on_settings_account_preferences_page? %>">
    <%= link_to t('users.settings.account.navigation.preferences'), preferences_path %>
  </li>
</ul>
