<div class="modal-dialog" role="document" data-hook="pre-tutorial-modal">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h3>
        <%= t("tutorial.pre_modal_title") %>
      </h3>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <h4><%= t("tutorial.pre_modal_message") %></h4>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary center-block" data-dismiss="modal"
        aria-hidden="true">
        <%= t("tutorial.pre_modal_proceed") %>
      </button>
    </div>
  </div>
</div>
