.step-table-container {
  margin-bottom: 1em;

  .step-table {
    border: $border-transparent;
    margin-left: 20px;
    padding: 4px;
    position: relative;

    .enable-edit-mode {
      cursor: pointer;
      display: none;
      height: 100%;
      justify-content: flex-end;
      left: 0;
      padding: 12px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 200;
    }

    .edit-message {
      @include font-small;
      color: $color-silver-chalice;
      padding: 12px 0 8px;
    }

    td,
    th {
      color: $color-black;
    }

    &.view {
      &:hover {
        background-color: $color-concrete;

        .enable-edit-mode {
          display: flex;
        }
      }
    }

    &.edit {
      border: $border-default;
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;

    .btn {
      margin-left: .5em;
    }
  }
}
