.step-text-container {
  display: block;
  margin-bottom: 16px;
  padding-left: 1.5em;
  position: relative;
  width: calc(100% + 16px);


  .buttons-container {
    background: linear-gradient(
      90deg,
      transparent 0%,
      $color-concrete 25%,
      $color-concrete 100%
    );
    display: none;
    padding-left: 2em;
    position: absolute;
    right: 0;
  }


  .element-grip {
    align-items: center;
    color: $color-silver-chalice;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: .5em;
    position: absolute;
  }

  &:hover:not(.edit) {
    background: $color-concrete;

    .buttons-container {
      display: flex;
    }

    .element-grip {
      display: flex;
    }
  }

  &.edit {
    .buttons-container,
    .element-grip {
      display: none;
    }
  }
}
