<div id="exportStockConsumtionModal" data-behaviour="vue">
  <export-stock-consumption-modal export-url="<%= export_repository_stock_items_modal_repositories_path %>" />
</div>

<%= javascript_include_tag('vue_components_export_stock_consumption_modal') %>
