<div id="fileEditModal"
     class="modal modal-file-edit"
     role="dialog"
     aria-labelledby="fileEditModal"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="file-name"></span>
        <div class="sci-btn-group">
          <a class="file-save-link btn btn-light" href='#'>
            <span class="fas fa-save"></span> <%= t('SaveClose')%>
          </a>
          <button type="button" class="preview-close btn btn-light icon-btn" data-dismiss="modal">
            <span class="sn-icon sn-icon-close"></span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div id="tui-image-editor">
        </div>
      </div>
    </div>
  </div>
</div>
