<div id="notifications">
  <% if flash[:success] %>
  <div id="alert-flash" class="alert alert-success alert-dismissable alert-floating">
    <div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <span class="fas fa-check-circle"></span>
      <span><%= sanitize_input(flash[:success]) %></span>
    </div>
  </div>
  <% end %>
  <% if notice %>
  <div id="alert-flash" class="alert alert-info alert-dismissable alert-floating">
    <div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <span class="fas fa-info-circle"></span>
      <span><%= notice %></span>
    </div>
  </div>
  <% end %>
  <% if alert and !alert.empty? or flash[:error]%>
  <div id="alert-flash" class="alert alert-danger alert-dismissable alert-floating">
    <div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <span class="fas fa-exclamation-circle"></span>
      <span><%= alert || sanitize_input(flash[:error]) %></span>
    </div>
  </div>
  <% end %>
</div>
