<div id="imagePreviewModal" class="modal modal-image-preview" role="dialog" tabindex="-1" aria-labelledby="imagePreviewModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="preview-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
        <span class="image-name"></span>
        <a class="image-download-link" href='#'>
          <p><span class="glyphicon glyphicon-download-alt"></span> <%= t('Download')%></p>
        </a>
      </div>
      <div class="modal-body">
        <img>
      </div>
      <div class="modal-footer">
        <span class="image-description"></span>
      </div>
    </div>
  </div>
</div>
