<div
    id="repositoryItemSidebar"
    data-behaviour="vue"
    class='bg-white fixed top-0 right-0 h-screen w-[565px] z-[9999] rounded-tl-4 rounded-bl-4 transition-transform ease-in-out transform translate-x-full'>
    <repository-item-sidebar />
</div>
