<div class="hidden tinymce-cancel-button tox-mbtn" tabindex="-1">
  <button type="button" tabindex="-1">
    <span class="sn-icon sn-icon-close"></span>
    <span class="mce-txt"><%= t('general.cancel') %></span>
  </button>
</div>
<div class="hidden tinymce-save-button tox-mbtn" tabindex="-1">
  <button type="button" tabindex="-1" >
    <span class="sn-icon sn-icon-check"></span>
    <span class="mce-txt"><%= t('general.save') %></span>
  </button>
</div>
<div class="hidden tinymce-status-badge pull-right">
  <i class="fas fa-check-circle"></i>
  <span><%= t('tiny_mce.saved_label') %></span>
</div>
