<div class="hidden tinymce-cancel-button mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text pull-right" tabindex="-1">
  <button type="button" tabindex="-1">
    <span class="fas fa-times"></span>
    <span class="mce-txt"><%= t('general.cancel') %></span>
  </button>
</div>
<div class="hidden tinymce-save-button mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text mce-last pull-right" tabindex="-1">
  <button type="button" tabindex="-1" >
    <span class="fas fa-check"></span>
    <span class="mce-txt"><%= t('general.save') %></span>
  </button>
</div>
<div class="hidden tinymce-status-badge pull-right">
  <i class="fas fa-check-circle"></i>
  <span><%= t('tiny_mce.saved_label') %></span>
</div>
