<% user_still_in_team = user.teams.include?(team) %>

<template id="user-name-popover">
  <div class='col-xs-4'>
    <img 
      src='<%= user_avatar_absolute_url(user, :thumb, base64_encoded_imgs) %>'
      alt='thumb'>
  </div>
  <div class='col-xs-8'>
    <div class='row'>
      <div class='col-xs-9 text-left'>
        <h5><%= user.full_name %></h5>
      </div>
      <div class='col-xs-3 text-right'>
        <span class='fas fa-times' aria-hidden='true'></span>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <p class='silver'><%= user.email %></p>
        <p>
          <% if user_still_in_team %>
            <% user_team_assignment = user.user_assignments.find_by(assignable: team) %>
            <% I18n.t('atwho.users.popover_html',
                    role: user_team_assignment.user_role.name.capitalize,
                    team: user_team_assignment.assignable.name,
                    time: I18n.l(user_team_assignment.created_at, format: :full_date)) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</template>
