
<header class="masthead clearfix" role="banner">
  <img alt="" class="site-logo" src="https://www.epa.gov/sites/all/themes/epa/logo.png">
  <div class="site-name-and-slogan">
    <h1 class="site-name"><a href="https://www.epa.gov/" rel="home" title="Go to the home page"><span>US EPA</span></a></h1>
    <div class="site-slogan">United States Environmental Protection Agency</div>
  </div>
  <div class="region-header">
    <div class="block-epa-core-gsa-epa-search" id="block-epa-core-gsa-epa-search">
      <form action="https://search.epa.gov/epasearch" class="epa-search" method="get">
        <label class="element-hidden" for="search-box">Search</label>
        <input class="form-text" id="search-box" name="querytext" placeholder="Search EPA.gov" value="">
        <button class="epa-search-button" id="search-button" title="Search" type="submit">Search</button>
        <input name="areaname" type="hidden" value="">
        <input name="areacontacts" type="hidden" value="">
        <input name="areasearchurl" type="hidden" value="">
        <input name="typeofsearch" type="hidden" value="epa">
        <input name="result_template" type="hidden" value="2col.ftl">
      </form>
    </div>
  </div>
</header>