<div class="dropdown view-switch" >
  <div href="#" class="btn btn-light btn-black view-switch-button prevent-shrink <%= "disabled" if disabled %>" id="viewSwitchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="view-switch-btn-name"><%= name %></span>
    <span class="sn-icon sn-icon-down"></span>
  </div>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewSwitchButton">
    <%= yield %>
  </ul>
</div>
