<% provide(:head_title, t("users.settings.account.preferences.head_title")) %>

<div id="team_automations" class="contents">
  <team-automations
    :team-url="'<%= team_users_settings_account_team_automation_path(@team) %>'"
  />
</div>

<%= javascript_include_tag "vue_team_automations" %>
