<div class="ql-editor">
  <%= auto_link(smart_annotation_parser(simple_format(sanitize_input(result.result_text.text))),
                link: :urls,
                sanitize: false,
                html: { target: '_blank' }).html_safe %>
</div>
