<% if can_download_result_assets(result.my_module) %>
  <%= link_to image_tag(preview_asset_path result.asset),
    download_asset_path(result.asset), data: {no_turbolink: true} if result.asset.is_image? %>
  <p><%= link_to result.asset.file_file_name, download_asset_path(result.asset), data: {no_turbolink: true} %></p>
<% else %>
  <%= image_tag(preview_asset_path result.asset) if result.asset.is_image? %>
  <p><%= result.asset.file_file_name %></p>
<% end %>
