<div class="ql-editor">
  <%= custom_auto_link(generate_image_tag_from_token(result.result_text.text, result.result_text),
                       simple_format: false,
                       tags: %w(img)) %>
</div>
