<div class="hot-table">
	<%= hidden_field(result.table, :contents, value: result.table.contents_utf_8, class: "hot-contents" ) %>
	<%= hidden_field(result.table, :metadata, value: result.table.metadata, class: "hot-metadata" ) %>
	<div class="step-result-hot-table">
	</div>
</div>
