<div class="ql-editor">
  <%= custom_auto_link(result.result_text.tinymce_render(:text),
                       simple_format: false,
                       tags: %w(img),
                       team: current_team) %>
</div>
