// scss-lint:disable SelectorDepth NestingDepth IdSelector

#experimentTable,
#experiment-canvas,
#module-archive {
  .toolbar {
    align-items: center;
    column-gap: .5rem;
    display: flex;

    .collapse {
      margin: .5rem 0;
    }
  }
}

#experimentTable {
  &.archived {
    [data-view-mode="active"] {
      display: none !important;
    }
  }
}

#experimentTable,
#experiment-canvas {
  .narrow {
    .btn:not(.prevent-shrink) {
      padding: 7px;
      width: 36px;
    }

    .hidden-xs {
      display: none;
    }

    .left,
    .middle,
    .right {
      align-items: center;
      display: flex;
      flex-direction: inherit;
      gap: .5rem;
    }
  }
}

#experiment-canvas {
  [data-view-mode="archived"] {
    display: none;
  }

  padding: 0;

  .toolbar-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .toolbar-right-block {
      align-items: center;
      display: flex;
      margin-left: auto;
    }

    .zoom-text {
      margin-right: .5em;
    }

    .view-switch-button {
      outline: 1px solid $color-alto;
    }

    .view-switch,
    .filter-container {
      display: inline-block;
    }

    .view-switch {
      margin-left: auto;

      .caret {
        margin: 8px 0 8px 8px;
      }

      &.open {
        .caret {
          transform: rotateX(180deg);
        }

        .sn-icon-down {
          transform: rotateX(180deg);
        }
      }

      .dropdown-menu {
        @include font-button;
        min-width: 100%;
        padding: 0;

        .divider-label {
          @include font-small;
          color: $color-silver-chalice;
          padding: .25em 1em;
        }

        .divider {
          margin: 0;
        }

        li {
          cursor: pointer;
          padding: .5em 1em;
          white-space: nowrap;

          .button-icon {
            margin-right: .5em;
          }

          &:hover:not(.divider-label) {
            background: $color-concrete;
          }

          .btn {
            height: 36px;
          }

          a {
            display: inline-block;
            margin: -1em;
            padding: .5em 1em;
            width: calc(100% + 2em);

            &.selected::after {
              @include font-awesome;
              content: $font-fas-check;
              margin-left: auto;
              position: absolute;
              right: 1em;
            }
          }
        }
      }

      .cards-switch {
        &.active::after {
          @include font-awesome;
          content: "\f00c";
          position: absolute;
          right: 1em;
        }
      }
    }
  }
}

#new-my-module-modal {
  .my-module-user-tags {
    img {
      border-radius: 50%;
      display: inline;
      margin-right: .5em;
      max-height: 20px;
      max-width: 20px;
    }
  }
  .dropdown-selector-container {
    .my-module-white-tags {
      color: $color-white;
    }

    .my-module-tags-color {
      align-items: center;
      border-radius: 8px;
      display: inline-flex;
      height: 16px;
      justify-content: center;
      margin-right: 5px;
      width: 16px;

      &.new {
        color: $color-silver-chalice;
      }
    }

    .my-module-tags-create-new {
      margin-left: 3px;
    }

    &.open {
      .input-field {
        border: 1px solid $color-alto;
      }
    }

    &:not(.view-mode):hover {
      .input-field {
        border: 1px solid $color-alto;
      }
    }
  }

  .datetime-picker-container {
    width: 45%;

    .sn-icon-calendar {
      color: $color-volcano !important;
      font-size: 14px !important;
    }
  }
}

.dropdown-experiment-actions,
.my-module-menu {
  .divider-label {
    @include font-small;
    color: $color-silver-chalice;
    padding: .25em 1em;

    &.footer {
      border-top: 1px solid $color-concrete;
      padding-top: .5em;
    }
  }

  li {
    @include font-button;
    cursor: pointer;
    padding: .5em 1em;
    white-space: nowrap;

    .fas {
      display: inline-block;
      margin-right: .25em;
      width: 18px;
    }

    &:hover:not(.divider-label) {
      background: $color-concrete;
    }

    a {
      display: inline-block;
      margin: -.5em -1em;
      padding: .5em 1em;
      width: calc(100% + 2em);
    }
  }
}
