// scss-lint:disable SelectorDepth NestingDepth IdSelector

#experimentTable {
  --content-header-size: 5em;
  --toolbar-height: 4.5em;
  position: relative;

  .experiment-table-container {
    height: calc(100vh - var(--content-header-size) - var(--navbar-height) - var(--toolbar-height));
    overflow: auto;
  }

  .toolbar-row {
    align-items: center;
    display: flex;
    height: var(--toolbar-height);

    .toolbar-left-block {
      display: flex;

      .btn {
        margin-right: .25em;
      }
    }

    .toolbar-right-block {
      margin-left: auto;
    }
  }

  .experiment-table {
    display: grid;
    grid-auto-rows: 3em 1px;
    grid-template-columns: max-content repeat(calc(var(--columns-count)), minmax(max-content, auto)) max-content;
    min-width: 100%;

    .table-header-cell {
      align-items: center;
      background-color: $color-concrete;
      border: 1px solid $color-white;
      display: flex;
      height: 3em;
      padding: 0 .5em;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 2;

      &.select-all-checkboxes {
        justify-content: center;
      }

      .fa-comment {
        color: $color-silver-chalice;
      }
    }

    .table-header {
      display: contents;
      height: 10px;

      &::after {
        content: "";
        grid-column: 1/-1;
      }
    }

    .table-body {
      display: contents;
    }

    .table-body-cell {
      align-items: center;
      display: flex;
      padding: 0 .5em;

      .my-module-users-link {
        color: $color-silver-chalice;

        &:hover {
          text-decoration: none;
        }
      }

      .global-avatar-container {
        color: $color-silver-chalice;
        height: 2em;
        line-height: 2em;
        margin-right: .25em;
        width: 2em;
      }

      .more-users {
        background: $color-volcano;
        border-radius: 50%;
        color: $color-white;
        height: 2em;
        line-height: 2em;
        margin-right: .25em;
        text-align: center;
        text-decoration: none;
        width: 2em;
      }

      .new-user {
        background: $color-concrete;
        text-align: center;
      }
    }

    .table-row {
      display: contents;

      &:hover {
        .table-body-cell {
          background-color: $color-concrete;
        }
      }

      &::after {
        background: $color-concrete;
        content: "";
        display: inline-block;
        grid-column: 1/-1;
        height: 1px;
      }
    }

    .my-module-status {
      color: $color-white;
      display: inline-block;
      margin: 3px 0;
      max-width: 100%;
      overflow: hidden;
      padding: 2px 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .table-row-placeholder {
      align-items: center;
      background-color: $color-white;
      border-radius: $border-radius-default;
      box-shadow: $flyout-shadow;
      display: contents;

      .placeholder-cell {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: placeholder-pulsing;
        background-color: $color-alto;
        border-radius: $border-radius-default;
        height: 18px;
        margin: auto;

        &.line-0 {
          display: block;
          grid-column: 2;
          width: 90%;
        }

        &.line-1 {
          display: block;
          grid-column: 3;
          width: 90%;
        }

        &.line-2 {
          display: block;
          grid-column: 4;
          width: 90%;
        }

        &.line-3 {
          display: block;
          grid-column: 5;
          width: 90%;
        }

        &.line-4 {
          display: block;
          grid-column: 6;
          width: 90%;
        }

        &.line-5 {
          display: block;
          grid-column: 7;
          width: 90%;
        }

        &.line-6 {
          display: block;
          grid-column: 9;
          width: 90%;
        }

        &.line-7 {
          display: block;
          grid-column: 10;
          width: 90%;
        }

        &.circle-0 {
          border-radius: 100%;
          display: block;
          grid-column: 8;
          height: 24px;
          margin-left: 8px;
          width: 24px;
        }


        @keyframes placeholder-pulsing {
          0% {
            opacity: 1;
          }

          50% {
            opacity: .5;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    &.last-page {
      padding-bottom: 5em;
      position: relative;
    }

    .experiment-table-list-end-placeholder {
      align-items: center;
      background-color: $color-concrete;
      bottom: 1em;
      display: flex;
      height: 3em;
      left: calc(50% - 150px);
      margin: 0 auto;
      padding: 1em;
      position: absolute;
      width: 300px;

      > * {
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  .unseen-comments {
    @include font-small;
    align-items: center;
    background-color: $brand-complementary;
    border: 2px solid $color-white;
    border-radius: 50%;
    color: $color-black;
    display: flex;
    font-weight: bold;
    height: 16px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: -1px;
    min-width: 16px;
  }

  .open-comments-sidebar {
    display: contents;
    margin-bottom: 0;
  }
}

.datetime-picker-container {
  width: 45%;

  .fa-calendar-alt {
    color: $color-volcano !important;
  }
}


.table-display-modal {
  .column-container {
    align-items: center;
    border-bottom: $border-default;
    display: flex;
    padding: .5em 1em;

    &:not(.visible) {
      color: $color-alto;
    }

    &:last-child {
      border: 0;
    }

    .fas {
      cursor: pointer;
      margin-right: 1em;
    }

    &.task_name {
      padding-left: 3em;

      .fas {
        display: none;
      }
    }
  }
}
