<ul class="dropdown-menu">
  <!-- Iterate over ALL RAP Program Level entries and create <li> for them -->
  <!-- Also add onclick or onselect to these values to automatically render the next partial -->
  <%= programs.each do |program| %>
    <li><%= program %></li>
  <% end %>
</ul>
