<% content_for :sidebar do %>
  <div id="slide-panel" class="visible">

    <div class="sidebar-header">
      <div class="sidebar-header-title">
        <h5><%=t "projects.reports.new.sidebar_title" %></h5>
      </div>
    </div>
    <div class="sidebar-header-toggle">
      <a href="" class="toggle-sidebar-link">
        <span class="glyphicon glyphicon-play-circle"></span>
      </a>
    </div>

    <div class="tree report-tree">
      <ul id="report-sidebar-tree">
      </ul>
    </div>
  </div>
<% end %>

<%= javascript_include_tag("sidebar") %>
