<p class="step-description-component-command">Command: <br>
  <%= "Name: #{@item[:name]}" %>
  <%= "Command: <code>#{@item[:command]}</code>" %>
</p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
