<p class="step-description-component-duration">Duration: <br>
  <%= "#{@item[:name]} #{@item[:value]} seconds" %>
</p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
