<p class="step-description-component-gotostep">Go to step: <br/>
Step nr: <%= @item[:step_id] %><br/>
When: <%= @item[:value] %></p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
