<p class="step-description-component-link">Link: <br>
  <a href="<%= @item[:source] %>" target="_blank"><%= @item[:source] %></a>
</p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
