<p class="step-description-component-note">Note:<br/>
Author: <%= @item[:author] %><br/>
<%= @item[:body] %></p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
