<p class="step-description-component-temperature">Temperature:<br/>
<%= "#{@item[:value]} #{@item[:unit]} #{@item[:name]}" %></p>
<%= render partial: 'templates/protocols_import/step_description/details', locals: { item: @item } %>
