// scss-lint:disable IdSelector SelectorDepth NestingDepth

.protocols-index {

  .title-row {
    .fas {
      margin-right: 16px;
    }
  }

  .protocols-datatable {
    --content-header-size: 5em;
    --protocol-toolbar-size: 4em;
    height: calc(100vh - var(--navbar-height) - var(--content-header-size));

    #protocols-table_wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .toolbar {
      display: flex;

      .left-general-toolbar {
        align-items: center;
        column-gap: .5em;
        display: flex;
      }

      .right-general-toolbar {
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: .5em;
      }

      .dropdown-menu {
        min-width: 150px;
      }
    }

    .dataTables_scroll {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: calc(100% - var(--datatable-pagination-row) - var(--protocol-toolbar-size));
    }

    .dataTables_scrollBody {
      height: 100%;
    }
  }

  .protocol-filters {
    display: flex;
    position: relative;

    .filter-container {
      margin-right: 1em;
    }

    .dropdown-option.users-dropdown-list {
      padding: 8px 10px;

      .item-avatar {
        border-radius: 50%;
        height: 32px;
        margin: 0 16px 0 0;
        width: 32px;
      }
    }
  }

  &.archived {
    .only-active {
      display: none;
    }
  }

  &:not(.archived) {
    .only-archive {
      display: none;
    }
  }
}

#protocol-versions-modal {
  .modal-body {
    padding-bottom: 0;
    padding-top: 0;
  }

  .modal-footer {
    border: 0;
  }

  .protocol-version-row {
    border-bottom: 1px solid $color-concrete;
    padding: 1em 0;
  }

  .protocol-version-link {
    margin-right: 1em;
  }

  .protocol-version-comment-row {
    padding-bottom: .5em;
    padding-top: .5em;
  }
}
