// scss-lint:disable IdSelector SelectorDepth NestingDepth

.protocols-index {
  .protocols-datatable {
    --content-header-size: 5em;
    --protocol-toolbar-size: 4em;
    height: calc(100vh - var(--navbar-height) - var(--content-header-size));

    #protocols-table_wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .toolbar {
      display: flex;

      .left-general-toolbar {
        align-items: center;
        column-gap: .5em;
        display: flex;
      }

      .right-general-toolbar {
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: .5em;
      }

      .dropdown-menu {
        min-width: 150px;
      }
    }

    .dataTables_scroll {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: calc(100% - var(--datatable-pagination-row) - var(--protocol-toolbar-size));
    }

    .dataTables_scrollBody {
      height: 100%;
    }
  }

  .protocol-filters {
    display: flex;
    position: relative;

    .filter-container {
      margin-right: 1em;
    }

    .dropdown-option.users-dropdown-list {
      padding: 8px 10px;

      .item-avatar {
        border-radius: 50%;
        height: 32px;
        margin: 0 16px 0 0;
        width: 32px;
      }
    }
  }
}
