<div class="card folder-card">
  <div class="checkbox-cell">
    <div class="sci-checkbox-container">
      <input value="1" type="checkbox" class="sci-checkbox card-selector">
      <span class="sci-checkbox-label"></span>
    </div>
  </div>
  <div class="icon-folder">
    <i class="fas fa-folder"></i>
  </div>
  <div class="name">
    <%= folder.name %>
  </div>
  <div class="description">
    <%= t('projects.index.folder.description', projects_count: folder.projects_count, folders_count: folder.folders_count) %>
  </div>
</div>
