<% if projects_by_folder.blank? %>
  <div class="no-results-container">
    <%= image_tag('/images/no_search_results.png', class: 'no-results-img') %>
    <div class="no-results-title"><%= t('projects.index.no_results_found') %></div>
    <div class="no-results-description"><%= t('projects.index.no_results_description') %></div>
  </div>
<% else %>
  <% projects_by_folder.each do |folder, projects| %>
    <% projects.each do |project| %>
      <% cache [current_user, project] do %>
        <%= render partial: 'projects/index/project_card', locals: { project: project } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
