<% project.user_assignments[0..3].each do |user_assigment| %>
  <span class="global-avatar-container">
    <%= image_tag(avatar_path(user_assigment.user, :icon_small), title: user_name_with_role(user_assigment)) %>
  </span>
<% end %>

<% more_users = project.user_assignments[4..-1].to_a %>
<% if more_users.any? %>
  <span class="more-users" title='<%= sanitize_input(user_names_with_roles(more_users)) %>'>
     +<%= more_users.size %>
  </span>
<% end %>
