<% project.user_assignments[0..3].each do |user_assigment| %>
  <%= render partial: 'shared/user_avatar', locals: { user: user_assigment.user, title: user_name_with_role(user_assigment) } %>
<% end %>

<% more_users = project.user_assignments[4..-1].to_a %>
<% if more_users.any? %>
  <span class="more-users" title='<%= user_names_with_roles(more_users) %>'>
     +<%= more_users.size %>
  </span>
<% end %>
