<div class="label-printing-progress-modal">
  <div class="modal-header p-3">
    <div class="title"></div>
    <div class="printer-status" id="printer-status">
    </div>
    <button type="button" class="close !opacity-100" data-dismiss="modal"><i class="sn-icon sn-icon-close"></i></button>
  </div>
  <div class="modal-body p-3">
    <div class="printing-status">
      <%= t("label_printers.modal_printing_status.printing_status.printing") %>
    </div>
  </div>
</div>
