<!-- Modal footer for Manage users modal -->
<span class="pull-left">
  <% if current_user.is_admin_of_team?(@project.team) %>
    <%= link_to t('projects.index.modal_manage_users.invite_users_link'), team_path(@project.team.id) %>
    <span><%=t 'projects.index.modal_manage_users.invite_users_details', team: @project.team.name %></span>
  <% else %>
    <i><%=t 'projects.index.modal_manage_users.contact_admins', team: @project.team.name %></i>
  <% end %>
</span>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t 'general.close' %></button>
