<% provide(:head_title, sanitize_input(t("projects.samples.head_title", project: h(@project.name)))) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div id="content">
  <%= render partial: "shared/samples" %>
</div>
