<% if can_manage_protocol_in_repository?(@protocol) && edit_mode %>
  <%= render partial: "my_modules/protocols/protocol_description_form.html.erb", locals:
    {
      protocol: @protocol,
      update_url: description_protocol_path(@protocol, format: :json)
    }
  %>
<% elsif @protocol.description.present? %>
  <%= custom_auto_link(@protocol.tinymce_render(:description),
                        simple_format: false,
                        tags: %w(img),
                        team: current_team) %>
<% else %>
   <span style="font-size: 16px"><%= t('my_modules.protocols.protocol_status_bar.no_description') %></span>
<% end %>
