<% if can_manage_protocol_in_repository?(@protocol) %>
 <%= render partial: "shared/inline_editing.html.erb",
                   locals: {
                     initial_value: @protocol.name,
                     config: {
                       field_to_udpate: 'name',
                       params_group: 'protocol',
                       path_to_update:  name_protocol_path(@protocol)
                     }
                   } %>
<% else %>
  <span class="view-mode"><%= @protocol.name %></span>
<% end %>
