<div class="modal" id="experimentDetailsModal" tabindex="-1" role="dialog" aria-labelledby="experimentDetailsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('general.close') %>"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title" id="experimentDetailsModalLabel">
          <%= t('experiments.index.details_modal.description', name: @experiment.name) %>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          <%= custom_auto_link(@experiment.description, team: current_team) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('general.close') %></button>
      </div>
    </div>
  </div>
</div>
