<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div  class="sci-input-container">
      <label><%= t('experiments.new.name') %></label>
      <%= form.text_field :name,
                          autofocus: true,
                          class: 'sci-input-field',
                          placeholder: t('experiments.new.name_placeholder'),
                          id: 'experiment-name' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="sci-input-container">
      <label><%= t('experiments.new.description') %></label>
      <%= form.smart_text_area :description,
                               id: 'experiment-description',
                               class: 'sci-input-field textarea h-48',
                               data: { 'atwho-edit' => '' } %>
    </div>
  </div>
</div>
