<%= bootstrap_form_for [@project, @experiment] do |f| %>
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <%= f.text_field :name, label: t("experiments.new.name.label"), autofocus: true, placeholder: t("experiments.new.name.placeholder") %>
      <%= f.text_area :description, label: t("experiments.new.description.label"), placeholder: t("experiments.new.description.placeholder") %>
      <div class="text-center">
          <%= f.submit t("experiments.new.submit") %>
      </div>
    </div>
  </div>
<% end %>
