<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div  class="form-group">
      <%= form.text_field :name,
                          label: t("experiments.new.name"),
                          autofocus: true,
                          placeholder: t("experiments.new.name_placeholder"),
                          id: 'experiment-name'%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
      <%= form.smart_text_area :description,
                               label: t('experiments.new.description'),
                               id: 'experiment-description',
                               data: { 'atwho-edit' => '' } %>
    </div>
  </div>
</div>
