<div class="tasks-no-results-container" id="tasksNoResultsContainer">
  <%= image_tag('/images/no_search_results.png', class: 'no-results-img') %>
  <div class="no-results-title"><%= t('projects.index.no_results_found') %></div>
  <div class="no-results-description"><%= t('projects.index.no_results_description') %></div>
</div>
