<% provide(:head_title, t("experiments.module_archive.head_title", experiment: h(@experiment.name)).html_safe) %>
<%= render partial: "shared/sidebar", locals: { current_experiment: @experiment, page: 'experiment' } %>
<%= render partial: "shared/secondary_navigation" %>

<div class="content-pane" id="module-archive">
  <% if @experiment.archived_modules.count > 0 %>
    <div class="row" style="margin-top: 10px;">
      <% @experiment.archived_modules.each_with_index do |my_module, i| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <%= render partial: "experiments/module_archive/my_module.html.erb", locals: { my_module: my_module} %>
        </div>
        <% if (i+1) % 6 == 0 %>
        <div class="clearfix visible-lg-block"></div>
        <% end %>
        <% if (i+1) % 4 == 0 %>
        <div class="clearfix visible-md-block"></div>
        <% end %>
        <% if (i+1) % 3 == 0 %>
        <div class="clearfix visible-sm-block"></div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <em><%=t "experiments.module_archive.no_archived_modules" %></em>
      </div>
    </div>
  <% end %>
</div>
