<% provide(:head_title, t("projects.samples.head_title", project: h(@experiment.name)).html_safe) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div id="content">
  <%#= render partial: "shared/samples" %>
</div>
