<% @recent_notifications.each do |notification| %>
<li class="notification">
  <div class="row">
    <div class="col-md-3">
      <% byebug %>
      <% if notification.type_of == :assignment %>
        <%= image_tag avatar_path(notification.generator_user, :icon_small), class: "avatar" %>
      <% end %>
    </div>
    <div class="col-md-9">
      <strong><%= notification.title %></strong> <br> <%= notification.message %></
    </div>
  </div>
<li>
<% end %>
