<div class="activity-card" data-e2e="e2e-CO-activities-activityCard">
  <div class="activity-text" data-e2e="e2e-CO-activities-activityText">
    <% if activity.old_activity?  %>
      <%= sanitize_input(activity.message) %>
    <% else %>
      <%= generate_activity_content(activity) %>
    <% end %>
  </div>
  <div class="activity-info" data-e2e="e2e-CO-activities-activityInfo">
    <div class="activity-timestamp">
      <%= activity.created_at.strftime('%H:%M') %>
    </div>
    <div class="navigational-breadcrumbs">
    <% unless activity.old_activity? || !activity.subject_type.present?%>
      <%= render partial: "global_activities/references/#{activity.subject_type.underscore}",
                 locals: {
                    team: activity.team,
                    subject: activity.subject,
                    breadcrumbs: activity.breadcrumbs,
                    values: activity.values,
                    type_of: activity.type_of
                  } %>
    <% end %>
    </div>
  </div>
</div>
