<h3 class="ga-title">Global activities</h3>
<div class="ga-top-actions">
  <span><i class="fas fa-caret-square-down"></i> Expand All</span>
  <span><i class="fas fa-caret-square-up"></i> Colapse All</span>
</div>
<div class="ga-search-container">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>
<div class="ga-tags-container">
  <ul class="ga-tags"></ul>
  <div class="clear-container">
    <span>
      <i class="fas fa-times"></i>
      <%= t('global_activities.index.clear_filters') %>
    </span>
  </div>
</div>