
<div class="global-activities-container container-flex">
  <div class="row">
    <div class="ga-top col-md-12">
      <%= render partial: "top_pane" %>
    </div>


    <div class="ga-side col-lg-3 col-md-12 col-xl-2">
      <%= render partial: "side_filters" %>
    </div>

    <div class="ga-main col-lg-9 col-md-12 col-xl-10">
      <div class="ga-activities-list">
        <h2>list of activities</h2>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag("global_activities/side_pane") %>