# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.
# Be sure to restart your server when you modify this file.

common: &common

# ======================================================================
# Server address is used for mailer (in "confirm new email/..." emails,
# sciNote needs to know onto which URL to redirect the user for
# confirmation page)
# ======================================================================

  mail_server_url: <%= ENV["MAIL_SERVER_URL"] || "localhost" %>

# ======================================================================
# Mailer configuration to define from which SMTP server to send
# e-mails.
# ======================================================================

  mailer_from: <%= ENV["MAIL_FROM"] %>
  mailer_reply_to: <%= ENV["MAIL_REPLYTO"] %>
  mailer_address: <%= ENV["SMTP_ADDRESS"] %>
  mailer_port: <%= ENV["SMTP_PORT"] || "587" %>
  mailer_domain: <%= ENV["SMTP_DOMAIN"] %>
  mailer_user_name: <%= ENV["SMTP_USERNAME"] %>
  mailer_password: <%= ENV["SMTP_PASSWORD"] %>

# ======================================================================
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.
# ======================================================================

# secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

# ======================================================================
# Write any potential environment-specific secrets here.
# ======================================================================

development:
  secret_key_base: <%= ENV["DEVELOPMENT_KEY_BASE"] %>
  <<: *common

test:
  secret_key_base: <%= ENV["TEST_KEY_BASE"] %>
  <<: *common

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *common
