<% # frozen_string_literal: true %>

<div class="modal fade user-assignments-modal project-assignments-modal" tabindex="-1" role="dialog" data-action="modal-close">
  <div class="modal-dialog modal-lg" role="document">
    <%= render 'access_permissions/partials/edit_assignments_content', project: project, new_resource_path: new_resource_path, update_path: update_path %>
  </div>
</div>
