<div class="modal repository-stock-modal"
     id="manage-repository-stock-value-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="manageRepositoryStockValueLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<%= javascript_include_tag 'repositories/stock', nonce: true %>
