<button class="btn btn-secondary mb-0.5" disabled>
  <div class="w-4 h-4  border rounded-sm flex items-center justify-center border-sn-grey-500 <%= value  ? 'bg-sn-grey-500' : '' %>">
    <i class="sn-icon sn-icon-check text-white" style="font-size: 16px !important;"></i>
  </div>
  <%= description %>
</button>
