@import "colors";

$border-radius-default: 4px;
$border-radius-modal: 6px;
$border-radius-tag: 2px;

$border-default: 1px solid $color-alto;
$border-secondary: 1px solid $color-silver-chalice;
$border-tertiary: 1px solid $color-concrete;

$border-focus: 1px solid $brand-focus;
$border-danger: 1px solid $brand-danger;
$border-transparent: 1px solid transparent;
