$colors:  ("sn-white": "#FFFFFF",
          "sn-super-light-grey": "#F9F9F9",
          "sn-light-grey": "#EAECF0",
          "sn-sleepy-grey": "#D0D5DD",
          "sn-grey": "#98A2B3",
          "sn-dark-grey": "#475467",
          "sn-black": "#1D2939",
          "sn-blue": "#104DA9",
          "sn-science-blue": "#3B99FD",
          "sn-super-light-blue": "#F0F8FF",
          "sn-blue-hover": "#254981",
          "sn-science-blue-hover": "#79B4F3",
          "sn-alert-green": "#5EC66F",
          "sn-alert-violet": "#6F2DC1",
          "sn-alert-brittlebush": "#E9A845",
          "sn-alert-passion": "#DF3562",
          "sn-alert-turqoise": "#46C3C8",
          "sn-alert-bloo": "#3070ED",
          "sn-alert-blue-disabled": "#87A6D4",
          "sn-alert-green-disabled": "#AEE3B7",
          "sn-alert-violet-disabled": "#B796E0",
          "sn-alert-brittlebush-disabled": "#F4D3A2",
          "sn-alert-passion-disabled": "#EF9AB0",
          "sn-alert-turqoise-disabled": "#A2E1E3",
          "sn-alert-science-blue-disabled": "#9DCCFE",
          "sn-delete-red": "#CE0C24",
          "sn-delete-red-hover": "#AD0015",
          "sn-delete-red-disabled": "#F5D7DB",
          "sn-coral": "#FB565B",
          "sn-background-blue": "#DBE4F2",
          "sn-background-green": "#E7F7E9",
          "sn-background-violet": "#E9DFF6",
          "sn-background-brittlebush": "#FCF2E3",
          "sn-background-passion": "#FAE1E7",
          "sn-background-turqoise": "#E3F6F7",
          "sn-background-bloo": "#E2F0FF");

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}


// LEGACY COLORS

// Grayscale colors
$color-white: #fff;
$color-concrete: #eaecf0;
$color-alto: #d0d5dd;
$color-silver-chalice: #98a2b3;
$color-volcano: #475467;
$color-black: #1d2939;
$color-transparent: rgba(255, 255, 255, 0);
$color-gray: #adadad;


// Theme colors
$brand-primary: #104da9;
$brand-primary-hover: #2d5faa;
$brand-primary-press: #07244f;
$brand-primary-light: #7094cb;

$brand-academy: #a52068;
$brand-academy-dark: #8c1b58;

$brand-accent: #ffcf26;

$brand-focus: #3b99fd;
$brand-focus-light: #f0f8ff;

$brand-success: #5ec66f;
$brand-success-light: #cbefd7;

$brand-danger: #ce0c24;
$brand-danger-hover: #ad0015;
$brand-danger-press: #801515;
$brand-danger-light: #f9c9c9;

$brand-warning: #f0ad4e;
$brand-complementary: #ffcf26;
$brand-warning-light: #fbebd3;

// MS Office colors:
$office-ms-word: #2b579a;
$office-ms-excel: #217346;
$office-ms-powerpoint: #d24726;

// MarvinJS color:
$marvinjs-color: #29999c;

$pdf-color: #f40f02;

// Don"t use them
$color-alabaster: $color-concrete;
$color-gainsboro: $color-concrete;
$color-silver: $color-alto;
$color-dove-gray: $color-volcano;
$color-emperor: $color-black;
$brand-default: $color-white;
$brand-info: $brand-focus;
$brand-other: $brand-success;
$brand-extra: $brand-focus;
$brand-light-blue: $brand-focus-light;

// This color was removed from constants, but it is still in use for DD hover. Need it for button in DD
$color-dd-hover: #f5f5f5;
