$flyout-shadow: 0px 1px 4px rgba(35, 31, 32, 0.15);
$modal-shadow: 0px 4px 16px rgba(35, 31, 32, 0.15);

.sn-shadow-flyout {
  box-shadow: $flyout-shadow;
}

.sn-shadow-menu-sm {
  box-shadow: 0px 16px 32px 0px rgba(16, 24, 40, 0.07);
}

.sn-shadow-menu-lg {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
