$flyout-shadow: 0px 1px 4px rgba(35, 31, 32, 0.15);
$modal-shadow: 0px 4px 16px rgba(35, 31, 32, 0.15);

.sn-shadow-flyout {
  box-shadow: $flyout-shadow;
}

.sn-shadow-menu-sm {
  box-shadow: 0px 16px 32px 0px rgba(16, 24, 40, 0.07);
}

.sn-shadow-menu-lg {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.shadow-box {
  width: 160px;
  height: 160px;
  background-color: #FFFFFF;
}

.corner-box {
  width: 160px;
  height: 160px;
  background-color: #EAECF0;
}

.shadow-up {
  box-shadow: 0px -16px 32px 0px rgba(16, 24, 40, 0.07);
  border-radius: 7px;
}

.shadow-down {
  box-shadow: 0px 16px 32px 0px rgba(16, 24, 40, 0.07);
  border-radius: 7px;
}

.shadow-large-up {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.07);
  border-radius: 14px;
}

.shadow-large-down {
  box-shadow: 0px -32px 64px -12px rgba(16, 24, 40, 0.07);
  border-radius: 14px;
}

.shadow-drag {
  box-shadow: 0px 0px 20px 0px rgba(16, 24, 40, 0.07);
  border-radius: 20px;
}

.shadow-modal {
  box-shadow: 0px 0px 64px -12px rgba(16, 24, 40, 0.07);
  border-radius: 16px;
}

.shadow-focus {
  box-shadow: 0px 0px 0px 4px rgba(121, 180, 243, 0.5);
  border-radius: 16px;
}

.shadow-cursor {
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 1);
  border-radius: 25px;
}
