$timing-function-deceleration: cubic-bezier(0, 0, .2, 1) !default;
$timing-function-standard: cubic-bezier(.4, 0, .2, 1) !default;
$timing-function-acceleration: cubic-bezier(.4, 0, 1, 1) !default;
$timing-function-sharp: cubic-bezier(.4, 0, .6, 1) !default;
