<div class="form-group">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="permission-selector">
      <span class="sci-checkbox-container">
        <%= check_box_tag 'range', '', column&.repository_date_time_range_value?, { id: 'datetime-range', class: column.new_record? ? 'sci-checkbox' : 'sci-checkbox disabled' } %>
        <span class="sci-checkbox-label"></span>
      </span>
      <span class="range-label"><%= t('libraries.manange_modal_column.datetime_type.range_label') %></span>
    </div>
  </div>
</div>
