<div class="form-group">
  <label class="control-label col-sm-3">
    <%= t('libraries.manange_modal_column.datetime_type.options') %>
  </label>
  <div class="col-sm-9">
    <span class="sci-checkbox-container">
      <%= check_box_tag 'range', '', column&.repository_time_range_value?, { id: 'time-range', class: 'sci-checkbox', disabled: !column.new_record? } %>
      <span class="sci-checkbox-label"></span>
    </span>
    <span class="range-label"><%= t('libraries.manange_modal_column.datetime_type.range_label') %></span>
  </div>
</div>
