<style>
  body {
    height: 95px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 80px;
    table-layout: fixed;
    width: 100%
  }

  table td {
    font-size: 16px;
    padding: .25em;
    text-align: left;
    vertical-align: middle;
  }

  table td.pagination {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

</style>
<table>
  <tr>
    <td colspan=1><%= render Reports::TextInputComponent.new(report: report, name: :report_file_name, label: 'Report file name', editing: false) %></td>
    <td colspan=2 class="pagination">Page <span class="page"></span> of <span class="topage"></span></td>
    <td colspan=1><%= render Reports::DateInputComponent.new(report: report, name: :report_date, label: 'Date', editing: false) %></td>
  </tr>
</table>
