<% provide(:head_title, t('users.settings.account.addons.head_title')) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: 'users/settings/sidebar.html.erb' %>
<div class="tab-content">
  <div class="tab-pane content-pane active" role="tabpanel">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h4><%= t('users.settings.account.addons.title') %></h4>
        <div data-hook="settings-addons-container">
          <em data-hook="settings-addons-no-addons">
            <%= t('users.settings.account.addons.no_addons') %>
          </em>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane tab-pane-settings" role="tabpanel"></div>
</div>
