<% # frozen_string_literal: true %>

<div class="modal fade user-assignments-modal my-module-assignments-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="user_assignments_modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t '.title', resource_name: my_module.name %></h4>
      </div>
      <div class="modal-body">
        <p class="user-assignments-description">
          <%= t '.description' %>
        </p>
        <hr />
        <% users.order(full_name: :asc).each do |user| %>
          <%= render partial: 'access_permissions/partials/member_field',
                      locals: {
                        user: user,
                        with_inherit: true,
                        object: my_module,
                        update_path: access_permissions_project_experiment_my_module_path(project, experiment, my_module)
                      } %>
        <% end %>
        <%= render('access_permissions/partials/default_public_user_role_form', project: project, editable: false) if project.visible? %>
      </div>
    </div>
  </div>
</div>
