<% # frozen_string_literal: true %>

<div class="modal fade my-module-assignments-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="user_assignments_modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t '.title', resource_name: my_module.name %></h4>
      </div>
      <div class="modal-body">
        <% users.order(full_name: :asc).each do |user| %>
          <% user_assignment = my_module.user_assignments.find_by(user: user) %>
          <% next if user_assignment.blank? %>
          <%= render partial: 'access_permissions/partials/user_assignment', locals: { user_assignment: user_assignment, user: user, resource: my_module } %>
        <% end %>
        <%= render('access_permissions/partials/default_public_user_role_form',
                   project: my_module.experiment.project, editable: false) if my_module.experiment.project.visible? %>
      </div>
    </div>
  </div>
</div>
