<div data-part="view">
  <div class="form-group user-settings-edit-avatar">
    <% @user_avatar_url ||= avatar_path(current_user, :thumb) %>
    <div class="avatar-container">
      <div class="avatar-image">
          <%= image_tag @user_avatar_url %>
      </div>
      <div class="avatar-edit"></div>
      <div class="avatar-edit-text">
        <span class="sn-icon sn-icon-edit"></span>
        <span><%=t "users.registrations.edit.avatar_btn" %></span>
      </div>
    </div>
  </div>
</div>
