<div data-part="view">
  <div class="form-group user-settings-edit-avatar">
    <div class="avatar-container">
      <div class="avatar-image">
        <%= render partial: 'shared/user_avatar', locals: { user: current_user } %>
      </div>
      <div class="avatar-edit"></div>
      <div class="avatar-edit-text">
        <span class="sn-icon sn-icon-edit"></span>
        <span><%=t "users.registrations.edit.avatar_btn" %></span>
      </div>
    </div>
  </div>
</div>
