<span class="settings-external-id user-settings-block">
  <h3><%= t("users.registrations.edit.external_id_label") %></h3>
  <%= render partial: "shared/inline_editing",
             locals: {
               initial_value: @user.external_id,
               config: {
                 params_group: 'user',
                 field_to_udpate: 'external_id',
                 path_to_update: registration_path(resource_name, format: :json)
               }
             } %>
</span>
