<span class="settings-page-full-name user-settings-block">
  <h3><%= t("users.registrations.edit.name_label") %></h3>
  <%= render partial: "shared/inline_editing",
             locals: {
               initial_value: @user.full_name,
               config: {
                 params_group: 'user',
                 field_to_udpate: 'full_name',
                 path_to_update: registration_path(resource_name, format: :json)
               }
             } %>
</span>
