<span class="settings-page-initials user-settings-block">
  <h3><%= t("users.registrations.edit.initials_label") %></h3>
  <%= render partial: "shared/inline_editing",
             locals: {
               initial_value: @user.initials,
               config: {
                 params_group: 'user',
                 field_to_udpate: 'initials',
                 path_to_update: registration_path(resource_name, format: :json)
               }
             } %>
</span>
