<div class="sci--layout--left-menu-container">
  <% left_menu_elements.each_with_index do |item, index| %>
    <%= link_to item[:url], title: item[:title] || item[:name], class:"sci--layout--menu-item", data: {
        e2e: "e2e-BT-leftMenu-#{item[:name].downcase.gsub(' ', '-')}",
        active: item[:active],
        disabled: current_user.teams.blank?,
        toggle: "tooltip",
        placement: "right"
      } do %>
      <i class="sn-icon <%= item[:icon] %>"></i>
    <% end %>
  <% end %>
</div>
