<% if @navigator %>
  <div id="sciNavigationNavigatorContainer"
       class="contents"
       data-navigator-state-url="<%= navigator_state_navigations_path %>"
       data-turbolinks-permanent data-behaviour="vue">
    <navigator-container
      @navigator:colapse="navigatorCollapsed = true"
    />
  </div>
<% end %>
