<% if @navigator %>
  <%= hidden_field_tag :active_navigator_item, @navigator[:id] %>
  <%= hidden_field_tag :active_navigator_url, @navigator[:url] %>
  <%= hidden_field_tag :active_navigator_archived, @navigator[:archived] %>
<% end %>
<div id="sciNavigationNavigatorContainer"
      class="contents"
      data-navigator-state-url="<%= navigator_state_navigations_path %>"
      data-turbolinks-permanent data-behaviour="vue">
  <navigator-container
    @navigator:colapse="toggleNavigatorState(true)"
    :reload-current-level="reloadCurrentLevel"
    :reload-children-level="reloadChildrenLevel"
    :reload-expanded-children-level="reloadExpandedChildrenLevel"
  />
</div>
