<div id="sciNavigationTopMenuContainer" data-turbolinks-permanent data-behaviour="vue">
  <top-menu-container
    url="<%= top_menu_navigations_path %>"
    notifications-url="<%= user_notifications_path %>"
    unseen-notifications-url="<%= unseen_counter_user_notifications_path %>" />
</div>
