<% if user_signed_in? %>
  <div id="sciNavigationTopMenuContainer" data-turbolinks-permanent data-behaviour="vue">
    <top-menu-container
      url="<%= top_menu_navigations_path %>"
      notifications-url="<%= user_notifications_path %>"
      unseen-notifications-url="<%= unseen_counter_user_notifications_path %>" />
  </div>
<% else %>
  <div class="sci--navigation--top-menu-container">
    <div class="sci--navigation--top-menu-logo">
      <a title="SciNote" href="/">
        <%= image_tag "scinote_logo.svg", class: "logo" %>
      </a>
    </div>
  </div>
<% end %>
