// scss-lint:disable SelectorDepth SelectorFormat
// scss-lint:disable NestingDepth ImportantRule

@import "constants";
@import "mixins";

.team-settings-pane {
  .settings-team-name {
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 0;

    .inline-editing-container {
      .view-mode {
        font-size: 18px;
      }

      .input-field {
        font-size: 18px;
      }

      &.error {
        .input-field {
          font-size: 16px;
        }
      }
    }
  }

  .team-metadata {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 20px;
    font-size: 14px;
    margin-bottom: 20px;

    .grid-block {

      .fas {
        color: $color-silver;
        margin-right: 5px;
      }
    }

    .created-by {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .team-description {
    display: inline-block;
    margin-top: 20px;
    position: relative;
    width: 100%;

    .view-mode {
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      float: left;
      min-height: 100px;
      padding: 2px 4px;
      white-space: pre;
      width: 100%;

      &.disable-select {
        cursor: default;
        margin-bottom: 20px;
        min-height: auto;
      }

      &:empty:not(:focus)::before {
        color: $color-silver-chalice;
        content: attr(data-placeholder);
        font-weight: normal;
      }
    }

    .input-field {
      border: 1px solid $color-silver;
      border-radius: $border-radius-small;
      cursor: pointer;
      display: block;
      float: left;
      min-height: 100px;
      padding: 2px 4px;
      width: 100%;

      &::placeholder {
        color: $color-silver-chalice;
        font-weight: normal;
      }

      &:focus {
        outline: 0;
      }

      &:disabled {
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        pointer-events: none;
        user-select: none;

        + .button-container {
          display: none;
        }
      }
    }

    .button-container {
      position: absolute;
      right: 0;
      top: -20px;

      .inline-field-button {
        color: $color-silver-chalice;
        cursor: pointer;
        line-height: 20px;
        padding-left: 20px;
      }
    }

    &:hover .input-field,
    &:hover .view-mode:not(.disable-select) {
      border: 1px solid $color-silver;

      &:disabled {
        border: 1px solid $color-gainsboro;
      }
    }
  }

  .users-datatable {
    .table-header {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      .add-new-team-members {
        flex-grow: 1;
        padding: 5px 0;
      }

      .filter-table,
      .display-limit {
        flex-shrink: 0;
        padding: 5px 0;
      }

      .add-new-team-members,
      .filter-table {
        margin-right: 15px;
      }
    }

    .table-footer {
      display: flex;
      flex-wrap: wrap;

      .page-info,
      .page-selector {
        flex-grow: 1;
      }

      .page-selector {
        text-align: right;
      }
    }

    .dropdown-teams-user {
      .dropdown-menu li.user-team-role {
        > :first-child {
          padding-left: 10px;
        }

        &:not(.disabled) span.fas {
          color: transparent !important;
        }
      }
    }
  }
}
