<%
gallery_view_id = nil unless defined? gallery_view_id
deletable = asset.step.present?
editable = true

partial_locals = {
  asset: asset,
  gallery_view_id: gallery_view_id,
  deletable: deletable,
  editable: editable
}
%>
<div>
    <% if asset.inline? %>
        <%= render partial: 'assets/asset_inline', locals: partial_locals %>
    <% elsif asset.list? %>
        <%= render partial: 'assets/asset_list', locals: partial_locals %>
    <% else %>
        <%= render partial: 'assets/asset_thumbnail', locals: partial_locals %>
    <% end %>
</div>
