<div class="attachment-container pull-left new">
  <div class="attachment-preview no-shadow">
    <i class="sn-icon sn-icon-result-image"></i>
  </div>
  <div class="attachment-label"><%= truncate(file_name || file_url, length: Constants::FILENAME_TRUNCATION_LENGTH) %>
  </div>
  <div class="attachment-metadata">
  </div>
</div>
