<div class="panel panel-default panel-step-attachment">
  <div class="panel-heading">
    <span class="fas fa-table"></span>
    <%= t("protocols.steps.new.table_panel_title") %>
    <div class="pull-right">
      <%= ff.remove_nested_fields_link do %>
        <span class="fas fa-times"></span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <%= ff.smart_text_area :name, label: t("protocols.steps.new.table_name"), class: "table_name", autofocus: true, placeholder: t("protocols.steps.new.table_name_placeholder") %>
    <div data-role="editable-table" class="panel-body">
      <%= ff.hidden_field(:contents, value: ff.object.contents_utf_8, class: "hot-contents" ) %>
      <div class="hot"></div>
    </div>
  </div>
</div>
