<div class="panel panel-default panel-step-attachment">
  <div class="panel-heading">
    <span class="fas fa-paperclip"></span>
    <%= t("protocols.steps.new.asset_panel_title") %>
    <div class="pull-right">
      <% unless ff.object.file.exists? && ff.object.locked? %>
        <%= ff.remove_nested_fields_link do %>
          <span class="fas fa-times"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <%= render partial: "shared/asset_link", locals: { asset: ff.object, display_image_tag: true }, formats: :html %>
  </div>
</div>
