<div class="panel panel-default panel-step-attachment">
  <div class="panel-body">
    <div class="row table-name-container">
      <div class="col-xs-11">
        <%= ff.smart_text_area :name,
                               label: t("protocols.steps.new.table_name"),
                               class: "table_name",
                               autofocus: true,
                               single_line: true,
                               placeholder: t("protocols.steps.new.table_name_placeholder") %>
      </div>
      <div class="col-xs-1 remove-container">
        <%= ff.remove_nested_fields_link do %>
          <span class="fas fa-times"></span>
        <% end %>
      </div>
    </div>
    <div data-role="editable-table" class="panel-body">
      <%= ff.hidden_field(:contents, value: ff.object.contents_utf_8, class: "hot-contents" ) %>
      <div class="hot"></div>
    </div>
  </div>
</div>
