// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

#results-toolbar {
  align-items: center;
  display: flex;

  .dropdown-menu {
    z-index: 9;
  }

  .add-result-dropdown {
    li {
      cursor: pointer;
      padding: .5em 1em;

      .fas {
        padding-right: .5em;
        width: 1.75em;
      }

      .create-wopi-file-btn,
      .new-marvinjs-upload-button,
      .new-bio-eddie-upload-button {
        padding: 0;
      }
    }
  }

  .collapse-expand-result {
    margin-left: auto;
  }

  .sort-result-dropdown {
    margin-left: .5em;

    .dropdown-menu {
      a {
        @include font-button;
        padding: .5em 1em;

        &.selected::after {
          @include font-awesome;
          content: $font-fas-check;
          float: right;
        }
      }
    }
  }
}

.well {
  .align-right {
    column-gap: 8px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.result {
  .panel {
    margin-left: 4.25em !important;
  }

  .result-icon {
    @include font-main;
    background: $color-concrete;
    border-radius: 50%;
    float: left;
    line-height: 3em;
    text-align: center;
    width: 3em;
  }
}

.edit-text-result {
  .form-group {
    display: flex;
    flex-direction: column;
  }
}

