// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

#results-toolbar {
  .help_tooltips {
    align-items: center;
    display: flex;

    .add-result-text {
      display: inline-block;
      line-height: 36px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}
