// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

#results-toolbar {
  .add-result-toolbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .add-result-text {
    display: inline-block;
    margin-right: 5px;
  }
}
