<%= form_with model: @my_module, url: my_module_path(@my_module, format: :json), data: { remote: :true }, builder: SciFormHelper::SciFormBuilder do |f| %>
  <label class="sci-label">
    <%= t('my_modules.due_date.label') %>
  </label>
  <div  id="date-time-picker" class="vue-date-time-picker">
    <input ref="input" type="hidden" v-model="date" data-simple-format="true"  name="my_module[due_date]" data-default="<%= l(@my_module.due_date, format: :default) if @my_module.due_date %>" />
    <date-time-picker class="w-64" :clearable="true" @cleared="clearDate" ref="vueDateTime" @change="updateDate" mode="datetime"></date-time-picker>
  </div>
<% end %>
