<% 
if my_module.completed? 
  date_class = "alert-green"
elsif my_module.is_one_day_prior? 
  date_class = "alert-yellow"
  label = "(#{t('my_modules.states.due_soon')})"
elsif my_module.is_overdue?
  date_class = "alert-red"
  label = "(#{t('my_modules.states.overdue')})"
end
%>
<span class="date-text <%= date_class %>">
  <span class="view-block"><%= l(my_module.due_date.utc, format: :full) %></span>
  <%= render partial: "global_activities/date_picker.html.erb", locals: { 
                id: 'due-date', 
                use_current: 'false',
                setDate: l(my_module.due_date.utc, format: :full),
                placeholder: t("experiments.canvas.full_zoom.no_due_date"), 
                label: nil 
  } %>
  <%= label %>
</span>
