<% display_status = protocol.description.blank? && protocol.steps.count.zero? %>
<% if @recent_protcols_positive %>
  <div class="my-module-recent-protocols"
    style="display: <%= display_status ? '' : 'none' %>"
    data-update-url="<%= load_from_repository_protocol_path(protocol) %>"
  >
    <div class="btn-group">
      <div class="title"><%= t('my_modules.module_header.recent_protocols_from_repository') %></div>
      <div
        class="dropdown-button"
        title="Recent protocols"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
      </ul>
    </div>
  </div>
<% end %>