<h5 class="text-center"><%=t "experiments.canvas.popups.info_tab" %></h5>
<hr>
<ul class="no-style content-module-info">
  <li>
    <span class="description-label">
      <%= render partial: "description_label" %>
    </span>
  </li>
  <% if can_manage_my_module?(@my_module) %>
    <hr>
    <li>
      <%= link_to t("experiments.canvas.popups.full_info"), description_my_module_path(@my_module, format: :json), class: "description-link", remote: true %>
    </li>
  <% end %>
</ul>
