<div class="pull-right my_module-state-buttons">
  <div class="btn-group">
    <% if !@my_module.completed? %>
      <div data-action="complete-task" data-link-url="<%= toggle_task_state_my_module_path(@my_module) %>">
        <%= render 'my_modules/state_button_complete.html.erb' %>
      </div>
    <% else @my_module.completed? %>
      <div data-action="uncomplete-task" data-link-url="<%= toggle_task_state_my_module_path(@my_module) %>">
        <%= render 'my_modules/state_button_uncomplete.html.erb' %>
      </div>
    <% end %>
  </div>
  <span data-hook="my_module-protocol-buttons"></span>
</div>