<div class="select-container">
  <div class="edit-button-container hidden">
    <a class="edit-tags-link" data-remote="true" href="<%= my_module_tags_edit_path(@my_module, format: :json) %>">
        <i class="sn-icon sn-icon-settings"></i>
        <span class="hidden-xs"><%= t("my_modules.details.manage_tags") %></span>
    </a>
  </div>
  <%= select_tag "activity",
  options_for_select(my_module.tags.order(:id).map { |i|
    [
      escape_input(i[:name]),
      escape_input(i[:id]),
      {'data-params' => {color: escape_input(i[:color])}.to_json}
   ]
  }),
  {
    id: 'module-tags-selector',
    'data-module-id': my_module.id,
    'data-project-id': my_module.experiment.project_id,
    'data-placeholder': t("my_modules.details.no_tags"),
    'data-tags-create-url': project_tags_path(project_id: my_module.experiment.project_id),
    'data-ajax-url': search_tags_my_module_my_module_tags_path(@my_module),
    'data-update-module-tags-url': my_module_my_module_tags_path(@my_module),
    'data-view-mode': !editable
  } %>
</div>
