<% tags = my_module.tags %>
  <% tags.each do |tag| %>
    <span class="fas fa-tag" style="color: <%= tag.color %>"></span>
    <strong><%= tag.name %></strong>
  <% end %>
<% if tags.count == 0 %>
  <em><%=t "my_modules.module_header.no_tags" %></em>
<% end %>
