<% provide(:head_title, t("my_modules.module_archive.head_title", project: h(@my_module.experiment.project.name), module: h(@my_module.name)).html_safe) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div class="content-pane" id="result-archive">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-3">
      <% i = 0 %>
      <% @archived_results.each do |result| %>
        <%= render partial: "my_modules/archive/result.html.erb", locals: { result: result } %>
        <% i = i + 1 %>
      <% end %>
    </div>
  </div>
  <% if i == 0 %>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-12">
        <em><%=t "my_modules.module_archive.no_archived_results" %></em>
      </div>
    </div>
  <% end %>
</div>

<script>window.initPreviewModal()</script>
