<% provide(:head_title, t("my_modules.module_archive.head_title", project: h(@my_module.experiment.project.name), module: h(@my_module.name)).html_safe) %>
<% provide(:sidebar_title, t("sidebar.my_module.sidebar_title")) %>

<% provide(:container_class, 'no-second-nav-container') %>
<div class="content-pane flexible my-module-content my-modules-protocols-archive with-grey-background relative" data-task-id="<%= @my_module.id %>">
  <%= render partial: 'my_modules/header' %>
  <div class="my-module-position-container">
    <!-- Header Actions -->
    <%= render partial: 'my_modules/header_actions' %>
    <div id="myModuleArchive" >
      <my-module-archive/>
    </div>
  </div>
</div>

<%= javascript_include_tag 'vue_my_module_archive' %>
