<% provide(:head_title, t("my_modules.samples.head_title", project: h(@project.name), module: h(@my_module.name)).html_safe) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div id="content">
	<%#= render partial: "shared/samples" %>
</div>
