<style>
  body {
    height: 95px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 80px;
    table-layout: fixed;
    width: 100%
  }

  table td {
    font-size: 16px;
    padding: .25em;
    text-align: left;
    vertical-align: top;
  }
</style>
<table>
  <tr>
    <td colspan=2 class="logo"></td>
    <td colspan=2></td>
  </tr>
</table>
