<h5 class="text-center"><%= t('experiments.canvas.popups.comments_tab') %></h5>
<hr>
  <%= render partial: 'shared/comments/comments.html.erb', locals: {
    object: @my_module,
    comments: comments, 
    can_create_comments: can_create_comments_in_module?(@my_module), 
    create_url: my_module_my_module_comments_path(@my_module, format: :json),
    more_url: my_module_my_module_comments_path(@my_module, format: :json, from: comments.first&.id)
  } %>
