<% day = 0 %>
<% current_day = DateTime.current.strftime('%j').to_i %>

<% comments.each do |comment| %>
  <% comment_day = comment.created_at.strftime('%j').to_i %>
  <% if comment_day < current_day && comment_day > day %>
    <% day = comment.created_at.strftime('%j').to_i %>
    <li class="comment-date-separator">
      <p class="text-center"><%= comment.created_at.strftime('%d.%m.%Y') %></p>
    </li>
  <% end %>
  <li class="comment">
    <%= render 'my_module_comments/comment.html.erb', comment: comment %>
  </li>
<% end %>
