<!-- Import modal -->
<%= render partial: "protocols/import_export/import_modal.html.erb" %>

<!-- Protocol preview templates -->
<div class="hidden">
  <%= render partial: "protocols/import_export/preview_templates.html.erb" %>
</div>