<!-- Import modal -->
<%= render partial: "protocols/import_export/import_modal" %>

<!-- Protocol preview templates -->
<div class="hidden">
  <%= render partial: "protocols/import_export/preview_templates" %>
</div>