<div data-template="step" style="display: none;">
  <hr>
  <div class="badge-num">
    <span class="badge-preview size-digit-1">
      <b data-val="position"></b>
    </span>
    &nbsp;
    &nbsp;
    <span class="step-panel-collapse-link" data-toggle="collapse">
      <span class="fas fa-caret-square-down collapse-step-icon"></span>
      <strong data-val="name"></strong>
    </span>
  </div>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel">
      <div data-val="description" class="ql-editor"></div>
      <hr>
      <div class="row">
        <div data-toggle="tables" class="col-xs-12">
          <div data-hold="tables"></div>
        </div>
        <div data-toggle="assets" class="col-xs-12">
          <strong><%= t("protocols.import_export.import_modal.assets_header") %></strong>
          <ul data-hold="assets">
          </ul>
        </div>
        <div class="col-xs-12">
          <div data-hold="checklists"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-template="table" style="display: none;">
  <div>
    <strong data-val="name"></strong>
  </div>
  <div data-hold="table"></div>
</div>

<div data-template="checklist" style="display: none;">
  <div>
    <strong data-val="name"></strong>
  </div>
  <div data-hold="checklist-items"></div>
</div>

<div data-template="checklist-item" style="display: none;">
  <div class="checkbox">
    <label>
      <input type="checkbox" disabled="disabled">
      <span data-val="text"></span>
    </label>
  </div>
</div>
