<div data-template="step" style="display: none;">
  <hr>
  <div class="badge-num">
    <span class="badge-preview size-digit-1">
      <b data-val="position"></b>
    </span>
    &nbsp;
    &nbsp;
    <span class="step-panel-collapse-link" data-toggle="collapse">
      <span class="sn-icon sn-icon-right"></span>
      <strong data-val="name"></strong>
    </span>
  </div>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" role="tabpanel">
      <div data-val="description" class="ql-editor"></div>
      <hr>
      <div class="row">
      </div>
    </div>
  </div>
</div>

<div data-template="table" class="col-xs-12">
  <div>
    <strong data-val="name"></strong>
  </div>
  <div data-hold="table"></div>
</div>

<div data-template="checklist" class="col-xs-12">
  <div>
    <strong data-val="name"></strong>
  </div>
  <div data-hold="checklist-items"></div>
</div>

<div data-template="checklist-item">
  <div class="checkbox">
    <label>
      <input type="checkbox" disabled="disabled">
      <span data-val="text"></span>
    </label>
  </div>
</div>

<div data-template="step-text" class="col-xs-12">
  <div>
    <strong data-val="name"></strong>
  </div>
  <div data-val="text"></div>
</div>


<div data-template="asset-file-name">
    <strong><%= t("protocols.import_export.import_modal.assets_header") %></strong>
</div>
