<% provide :head_title, t('nav.label.dashboard') %>

<% if current_team %>
  <div class="dashboard-view" data-e2e="e2e-CO-dashboard">
    <div class="dashboard-background"></div>
    <div class="dashboard-header">
      <%= render partial: 'quick_start' %>
    </div>
    <div class="dashboard-container">
      <% Extends::DEFAULT_DASHBOARD_CONFIGURATION.each do |widget| %>
        <% if widget[:visible] %>
          <%= render partial: widget[:partial], locals: {widget: widget} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
