<% provide :head_title, t('nav.label.dashboard') %>

<div class="dashboard-container">
  <%= render "calendar" %>
  <%= render "current_tasks" %>
  <%= render "recent_work" %>
  <%= render "quick_start" %>
</div>
