.inline-editing-container {
  line-height: 32px;
  position: relative;
  width: 100%;

  .button-container {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;

    span {
      color: $color-silver;
      cursor: pointer;
      display: inline-block;
      line-height: 32px;
      position: absolute;
      text-align: center;
      width: 36px;

      &:nth-child(1) {left: 0;}

      &:nth-child(2) {right: 0;}
    }
  }

  .error-block {
    bottom: 1px;
    color: $brand-danger;
    display: none;
    font-size: 11px;
    line-height: 11px;
    position: absolute;

  }

  &.error {

    .error-block {
      display: block;
    }

    .input-field {
      font-size: 16px;
      line-height: 20px;
      outline: none;
      padding-bottom: .5rem;
    }
  }

  .view-mode {
    border: 1px solid transparent;
    cursor: text;
    height: 2rem;
    min-height: 1.5rem;
    overflow: hidden;
    padding-right: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:empty:not(:focus):before {
      color: $color-silver-chalice;
      content: attr(data-placeholder);
      font-weight: normal;
    }
  }

  input {
    border: 1px solid transparent;
    cursor: initial;
    display: block;
    height: 2rem;
    padding-left: 0;
    padding-right: 36px;
    width: 100%;

    &::placeholder {
      color: $color-silver-chalice;
      font-weight: normal;
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      background: transparent;
      border: 1px solid transparent;
      cursor: pointer;
      pointer-events: none;
      user-select: none;

      + .button-container {
        display: none;
      }
    }
  }

  @-moz-document url-prefix() {
    input {
      padding: 0 4px;
    }
  }
}
