@import "constants";
@import "mixins";

.tree {
  height: 100%;
  padding-bottom: 30px;

  ul {
    padding-left: 0;
  }

  > ul {
    margin-bottom: 0;
  }

  .no-indent {
    background-color: $color-white;
  }

  .first-indent {
    background-color: $color-concrete;
    padding-left: 30px;
  }

  .second-indent {
    background-color: $color-concrete;
    padding-left: 60px;
  }

  li {
    list-style-type: none;
    margin: 0;
    position: relative;

    span {
      display: block;
      padding: 15px;

      &.my-module-group-element {
        border: 0;
        padding: 0;
      }

      &.fa-map-marker-alt {
        border: 0;
        display: inline-block;
        padding: 0;
      }
    }

    &.active > span {
      background-color: $brand-primary;
      color: $color-white;
      font-weight: bold;

      &.first-indent > span,
      &.no-indent > span {
        border: 0;
        display: inline-block;
        padding: 0;
      }
    }

    i.no-arrow {
      padding-left: 15px;
    }

    i.fas {
      cursor: pointer;
      font-size: 9pt;

      &.expanded {
        @include rotate(90deg);
      }
    }

    // Links are recolored
    a {
      color: $color-emperor;

      &:hover {
        color: $brand-primary;
      }
    }

    .border-custom {
      box-shadow: 0 -.25px 0 .25px $color-alto;
      margin: 0 15px;
    }
  }

  #settings {
    .fa-caret-right {
      margin-left: -15px;
    }

    .no-indent {
      padding-left: 30px;
    }

    .first-indent {
      padding-left: 45px;
    }
  }
}
