<style>
 .print-header {
    border-bottom: 2px solid #a0a0a8;
    line-height: 50px;
  }

  .logo-img {
    display: inline-block;
    margin: 0 0 0 30px;
  }

  img {
    width: 100px;
  }

  .page-numbers {
    display: inline-block;
    float: right;
    margin: 0 30px 0 0;
    white-space: nowrap;
  }
</style>
<div class="print-header">
  <div class="logo-img">
    <% if logo == 'scinote_logo.svg' %>
      <%= image_tag wicked_pdf_asset_base64(logo) %>
    <% else %>
      <%= image_tag logo %>
    <% end %>
  </div>
  <div class="page-numbers pagination" data-page-offset="0">
    Page <span class="page"></span> of <span class="topage"></span>
  </div>
</div>
