<div class="content__checklist-item step-element--locked my-2">
  <div class="checklist-item-header flex rounded pl-10 ml-[-2.325rem] items-center relative w-full group/checklist-item-header locked">
    <div class="absolute cursor-grab justify-center left-0  px-2 tw-hidden text-sn-grey step-element-grip-placeholder"></div>
    <div class="flex items-start gap-2 grow <%= 'done' if checklist_item.checked %>">
      <div class="sci-checkbox-container disabled my-0.5">
        <input type="checkbox"
               class="sci-checkbox"
               <%= 'checked' if checklist_item.checked %> />
        <span class="sci-checkbox-label" ></span>
      </div>
      <div class="pr-24 relative flex items-start max-w-[90ch] step-element--locked">
        <%= render partial: "shareable_links/my_modules/inline_view", locals: { text: checklist_item.text, smart_annotation_enabled: true } %>
      </div>
    </div>
  </div>
</div>
