<div class="step-checklist-item step-element--locked">
  <div class="step-element-header locked">
    <div class="step-element-grip-placeholder"></div>
    <div class="step-element-name <%= 'done' if checklist_item.checked %>">
      <div class="sci-checkbox-container disabled">
        <input type="checkbox"
               class="sci-checkbox"
               <%= 'checked' if checklist_item.checked %> />
        <span class="sci-checkbox-label" ></span>
      </div>
      <div class="step-checklist-text step-element--locked">
        <%= render partial: "shareable_links/my_modules/inline_view", locals: { text: checklist_item.text, smart_annotation_enabled: true } %>
      </div>
    </div>
  </div>
</div>
