<div class="content__text-container locked" tabindex="0">
  <div class="sci-divider my-6"></div>
  <% if element.name.present? %>
    <div class="text-header h-9 flex rounded mb-1 items-center relative w-full group/text-header">
      <div class="grow-1 text-ellipsis whitespace-nowrap grow my-1 font-bold">
        <%= render partial: "shareable_links/my_modules/inline_view", locals: { text: element.name, smart_annotation_enabled: false } %>
      </div>
    </div>
  <% end %>
  <% if element.text.present? %>
    <div class="rtf-view rounded min-h-[2.25rem] mb-4 relative group/text_container content__text-body overflow-auto w-full">
      <%= smart_annotation_text(element.shareable_tinymce_render(:text)) %>
    </div>
  <% else %>
    <div class="empty-text-element">
      <%= t("protocols.steps.text.empty_text") %>
    </div>
  <% end %>
</div>
