<div class="step-text-container step-element--locked locked" tabindex="0">
  <% if element.name.present? %>
    <div class="step-element-header step-element--locked mt-4">
        <div class="step-element-name font-bold">
          <%= render partial: "shareable_links/my_modules/inline_view", locals: { text: element.name, smart_annotation_enabled: false } %>
          </div>
    </div>
  <% end %>
  <% if element.text.present? %>
    <div class="view-text-element">
      <%= smart_annotation_text(element.shareable_tinymce_render(:text)) %>
    </div>
  <% else %>
    <div class="empty-text-element">
      <%= t("protocols.steps.text.empty_text") %>
    </div>
  <% end %>
</div>
