<div class="h-full">
  <div class="flex items-center justify-center h-full">
    <div class="w-[489px]">
      <div class="flex justify-center">
        <%= image_tag 'forms/promo.svg' %>
      </div>
      <div class='promo-text mt-6 flex flex-col gap-7'>
        <h1 class='m-0'><%= t('forms.promo.promo_title') %></h1>
      </div>
    </div>
  </div>
</div>
