 <% provide(:head_title, @form.name || t('seo.titles.forms_show')) %>
 <div id="formShow" >
  <form-show
    form-url="<%= form_path(@form) %>"
  />
</div>

<%= javascript_include_tag 'vue_form_show' %>
