<div class="modal fade" id="modal-delete-module-group" tabindex="-1" role="dialog" aria-labelledby="modal-delete-module-group-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-delete-module-group-label"><%=t "experiments.canvas.edit.modal_delete_module_group.title" %></h4>
      </div>
      <div class="modal-body">
        <span id="message-template" style="display: none;"><%=t "experiments.canvas.edit.modal_delete_module_group.message" %></span>
        <span id="delete-message"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-action="confirm">
          <%=t "experiments.canvas.edit.modal_delete_module_group.confirm" %>
        </button>
      </div>
    </div>
  </div>
</div>
