<div class="modal fade" id="modal-new-module" tabindex="-1" role="dialog" aria-labelledby="modal-new-module-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title" id="modal-new-module-label"><%=t "experiments.canvas.edit.modal_new_module.title" %></h4>
      </div>
      <div class="modal-body">
        <div class="sci-input-container">
          <%= text_field_tag t("experiments.canvas.edit.modal_new_module.name"), '', placeholder: t("experiments.canvas.edit.modal_new_module.name_placeholder"), id: "new-module-name-input", class: "sci-input-field" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
        <button type="button" class="btn btn-success" data-dismiss="modal" data-action="confirm"><%=t "experiments.canvas.edit.modal_new_module.confirm" %></button>
      </div>
    </div>
  </div>
</div>
