<% query ||= nil %>
<% text = query.present? ? highlight(asset.file_file_name, query.strip.split(/\s+/)) : asset.file_file_name %>

<% if asset.step %>
  <% protocol = asset.step.protocol %>
  <% if can_read_protocol_in_module?(protocol) ||
        can_read_protocol_in_repository?(protocol) ||
        (asset.result && can_view_or_download_result_assets(asset.result.my_module) %>
    <a href="<%= download_asset_path asset %>" target="_blank">
      <%= text %>
    </a>
  <% end %>
<% else %>
  <%= text %>
<% end %>
