<% query ||= nil %>
<% text = query.present? ? highlight(experiment.name, query.strip.split(/\s+/)) : experiment.name %>

<% if experiment.archived? %>
  <span class="label label-warning"><%= t('search.index.archived') %></span>
<% end %>
<% if can_read_experiment?(experiment) %>
  <%= route_to_other_team(my_modules_experiment_path(experiment), experiment.project.team, text) %>
<% else %>
  <%= text %>
<% end %>
