<div class="modal" id="manage-module-tags-modal" tabindex="-1" role="dialog" aria-labelledby="manage-module-tags-modal-label" <%= "data-module-id=#{my_module.id}" if my_module %>>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title" id="manage-module-tags-modal-label"><%= t("experiments.canvas.modal_manage_tags.head_title") %></h4>
      </div>
      <div class="modal-intro">
        <h4 class="tags-introduction" id="manage-module-tags-modal-intro"><%= t("experiments.canvas.modal_manage_tags.explanatory_text") %></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.close" %></button>
      </div>
    </div>
  </div>
</div>
