 <div class="status-flow">
  <% status_flow.each_with_index do |status, i| %>

    <% unless i.zero? %>
      <div class="connector"></div>
    <% end %>

    <div class="status-container">
      <div class="current-status">
        <% if status[:current_status] %>
          Current status<i class="fas fa-long-arrow-alt-right"></i>
        <% end %>
      </div>
      <div class="status-block" style="background: <%= status[:color] %>">
        <%= status[:name] %>
      </div>
      <div class="status-comment"><%= status[:status_comment] %></div>
    </div>
  <% end %>



