<div id="updateRepositoryRecordModal" class="modal update-repository-record-modal" tabindex="-1" role="dialog" data-dismiss="modal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
