<div id="updateRepositoryRecordModal" class="modal update-repository-record-modal" tabindex="-1" role="dialog" data-dismiss="modal">
  <div class="modal-dialog">
    <div class="modal-content" data-e2e="e2e-MD-task-assignItemModal-confirmAssign">
    </div>
  </div>
</div>
