<% if @editing %>
  <div class="sci-input-container">
    <%= label_tag @name, @label %>
    <%= text_area_tag @name, @value, placeholder: @placeholder, class: 'sci-input-field' %>
  </div>
<% else %>
  <%= @value %>
<% end %>
