<div>
  <%= label_tag "#{@name}[]", @label %>
  <ul>
  <% @items.each do |key, value| %>
    <li>
      <div class="sci-checkbox-container">
        <%= check_box_tag "#{@name}[]", key, false ,class: 'sci-checkbox' %>
        <span class="sci-checkbox-label"></span>
      </div>
      <%= value %>
    </li>
  <% end %>
  </ul>
</div>
