<% if @editing %>
  <div class="sci-select-container">
    <%= label_tag @name, @label %>
    <%= select_tag @name,
                   options_for_select(@project_members.map do |member| 
                                        [member.name, member.id, { data: { params: { job_title: member.job_title } } }]
                                      end, 
                                      @value),
                   placeholder: @placeholder,
                   class: 'sci-input-field report-template-value-dropdown',
                   data: { type: 'ProjectMembersInputComponent', job_title_element_target: @job_title_element_target }, multiple: true %>
  </div>
<% else %>
  <% @project_members.where(id: @value).each do |member| %>
    <%= member.public_send(@displayed_field) %>
    <br>
  <% end %>
<% end %>
