.task-protocol {
  .protocol-name {
    .sci-inline-edit__view.blank,
    textarea {
      font-weight: bold;
    }
  }

  .protocol-step-actions {
    margin-left: -6px;
  }

  .protocol-buttons-group {
    column-gap: .25em;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .portocol-header-left-part {
    align-items: baseline;
    display: flex;
  }

  .insert-step {
    align-items: center;
    color: $color-concrete;
    cursor: pointer;
    display: flex;

    &::before,
    &::after {
      background-color: $color-concrete;
      content: "";
      display: inline-block;
      flex-grow: 1;
      height: 3px;
    }

    .fa-plus {
      margin: 0 .5em;
    }

    &:hover {
      color: $brand-primary;

      &::before,
      &::after {
        background-color: $brand-primary;
      }
    }
  }
  .protocol-description {
    margin-bottom: 2em;
    padding-left: 1em;
  }


  .protocol-options-dropdown {
    a {
      cursor: pointer;

      &.disabled {
        cursor: default;
        pointer-events: none;
      }
    }
  }
  .tinymce-container {
    display: flex;
    width: 100%;

    .tiny-mce-editor {
      flex-basis: 100%;
    }
  }
}
