// scss-lint:disable SelectorDepth SelectorFormat QualifyingElement
// scss-lint:disable NestingDepth ImportantRule

@mixin my-module-repository-title {
  @include font-h3;
  line-height: 22px;
  overflow: hidden;
  padding-right: 55px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::after {
    color: $color-alto;
    content: attr(data-rows-count);
    display: inline-block;
    line-height: 22px;
    padding-left: 5px;
    position: absolute;
    right: 0;
    width: 55px;
  }
}

.my-module-inventories {

  .main-actions {
    align-items: center;
    display: flex;

    .filter-container {
      flex-grow: 1;
    }
  }

  .dataTables_scroll {
    .dataTables_scrollBody {
      thead {
        opacity: 0;
      }
    }
  }

  tbody {
    tr {
      .assigned-column {
        .repository-row-lock-icon {
          display: none !important;
        }
      }
    }

    tr:hover {
      .assigned-column {
        .repository-row-edit-icon {
          display: none !important;
        }

        .circle-icon {
          margin-left: 30px !important;
        }
      }
    }
  }

  .pagination-row {
    align-items: center;
    display: flex;

    .pagination-info,
    .pagination-actions {
      flex-grow: 1;
    }

    .pagination-info {
      align-items: center;
      display: flex;

      .dataTables_info {
        padding-top: 0;
      }

      .dataTables_length {
        margin-right: 24px;
        width: 170px;

        .dropdown-selector-container {
          width: inherit;
        }

        label {
          margin-bottom: 0;
        }
      }
    }
  }
}

#assigned-items-container {
  padding-top: 10px;

  .assigned-repository {
    border: $border-default;
    border-radius: $border-radius-modal;
    margin-bottom: 10px;

    .assigned-repository-caret {
      align-items: center;
      color: inherit;
      display: flex;
      height: 52px;
      padding: 0 18px;
      text-decoration: none;

      &.collapsed:hover,
      &.collapsed:active {
        background: $color-concrete;
        text-decoration: none;
      }

      &:not(.collapsed) .fa-caret-right {
        @include rotate(90deg);
      }

      .fa-caret-right {
        flex-shrink: 0;
        margin-right: 10px;
      }

      .assigned-repository-title {
        @include my-module-repository-title;
      }

      .action-buttons {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;

        .fas {
          cursor: pointer;
          line-height: 36px;
          text-align: center;
          width: 36px;
        }
      }
    }

    .assigned-repository-container {
      .table.dataTable {
        margin-top: 0 !important;

        .row-name {
          border-left: 0;
        }
      }

      .pagination-row {
        border-top: $border-default;
        padding: 5px 10px;

        .pagination {
          display: inline-flex;
        }

        .dataTables_paginate {
          height: 38px;
        }
      }
    }
  }
}

#myModuleRepositoryFullViewModal {
  .modal-dialog {
    height: 100vh;
    margin: 0;
    width: 100vw;

    .modal-content {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      height: inherit;

      .modal-header {
        align-items: center;
        display: flex;
        height: 55px;
        padding: 10px 24px;

        .close {
          flex-shrink: 0;
        }

        .header-container {
          flex-grow: 1;

          .assigned-repository-title {
            @include my-module-repository-title;
            @include font-h2;
          }

          .breadcrumbs {
            @include font-small;
            align-items: center;
            color: $color-silver-chalice;
            display: flex;
            height: 20px;
            width: 100%;

            .my-module,
            .project,
            .experiment {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .slash {
              flex-basis: 20px;
              text-align: center;
            }
          }
        }
      }

      .modal-body {
        flex-grow: 1;
        padding: 0;
      }

      // .dataTables_wrapper {
      //   height: 100%;
      //   position: absolute;
      //   width: 100%;
      //
      //   .dataTables_scroll {
      //     height: calc(100% - 146px);
      //     padding: 0 24px;
      //
      //     .dataTables_scrollBody {
      //       height: calc(100% - 44px);
      //     }
      //   }
      //
      //   .main-actions {
      //     padding: 16px 24px 10px;
      //   }
      //
      //   .pagination-row {
      //     border-top: $border-default;
      //     height: 84px;
      //     padding: 0 24px;
      //   }
      // }
    }
  }

  .dataTables_scrollBody {

    tbody tr.selected {
      background: $brand-warning-light;
    }

    .assigned-column {
      position: relative;

      .assign-counter-container {
        border-radius: $border-radius-tag;
        cursor: pointer;
        line-height: 35px;
        position: absolute;
        text-align: center;
        top: 1px;
        width: calc(100% - 16px);

        .assign-counter {
          &.has-assigned {
            color: $brand-primary;
          }
        }

        &:hover {
          background-color: $color-alto;
        }
      }
    }
  }

  .table-container {
    padding: 2em;
    width: 100%;

    &.collapsed {
      margin-right: 20%;
      width: 80%;
    }

  }

  .repository-versions-sidebar {
    background-color: $color-concrete;
    bottom: 0;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    transition: .5s;
    width: 20%;

    &.collapsed {
		  margin-right: -20%;
		}

    .sidebar-collapse-button {
      color: $color-volcano;
      text-decoration: none;
    }

    .repository-versions-header {
      border-bottom: 1px solid $color-alto;
      padding: 0 1em;
    }

    .list-group-item {
      background-color: $color-concrete;
      border: 0;

      .list-group-item-text {
        color: $color-silver-chalice;
      }

      .version-button {
        color: $color-volcano;
        text-decoration: none;
      }

      .delete-snapshot-button {
        display: none;
      }

      &:hover {
        background-color: $color-alto;

        .delete-snapshot-button {
          display: block;
        }
      }

      &.active {
        background-color: $brand-primary;

        .list-group-item-heading,
        .list-group-item-text,
        .delete-snapshot-button {
          color: $color-white;
        }
      }
    }

    .create-snapshot-item {
      border-bottom: 1px solid $color-alto;
      padding: 15px 10px;
    }
  }
}

.update-repository-record-modal {
  .rows-list-container {
    display: flex;
    margin: 0 -10px;

    .header {
      font-weight: bold;

      .fas {
        margin-right: 3px;
      }
    }

    .rows-list {
      background: $color-concrete;
      height: 170px;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      position: relative;

      li {
        margin: 6px 0;
      }
    }

    .rows-to-assign,
    .rows-to-unassign {
      flex-grow: 1;
      margin: 0 10px;
    }

    .rows-to-assign .header .fas {
      color: $brand-success;
    }

    .rows-to-unassign .header .fas {
      color: $brand-danger;
    }

  }
}
