// scss-lint:disable SelectorDepth SelectorFormat QualifyingElement
// scss-lint:disable NestingDepth ImportantRule

@mixin my-module-repository-title {
  @include font-h3;
  line-height: 22px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#assigned-items-container {
  padding-left: 2.375rem;
  padding-top: 10px;

  .modal-body {
    padding: 0;
    border-bottom: 0;
  }

  .assigned-repository {
    border: $border-default;
    border-radius: $border-radius-modal;
    margin-bottom: 10px;

    .assigned-repository-caret {
      align-items: center;
      color: inherit;
      display: flex;
      height: 52px;
      padding: 0 18px;
      text-decoration: none;

      &.collapsed:hover,
      &.collapsed:active {
        border-radius: 6px;
        text-decoration: none;
      }

      &:not(.collapsed) .fa-caret-right {
        @include rotate(90deg);
      }

      &:not(.collapsed) .sn-icon-right {
        @include rotate(90deg);
      }

      .fa-caret-right {
        flex-shrink: 0;
        margin-right: 10px;
      }

      .sn-icon-right {
        flex-shrink: 0;
        margin-right: 10px;
      }

      .assigned-repository-title {
        @include my-module-repository-title;

        &::after {
          color: $color-alto;
          content: '[' attr(data-rows-count) ']';
          display: inline-block;
          font-weight: normal;
          padding-left: 1px;
          padding-right: .7em;
          right: 0;
        }
      }

      .action-buttons {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;

        .full-screen:hover {
          background: $color-alto;
        }
      }

      .snapshot-tag {
        background-color: $color-concrete;
        color: $color-silver-chalice;
        flex-shrink: 0;
        padding: .3em;
      }
    }

    .assigned-repository-container {
      .table.dataTable {
        margin-top: 0 !important;

        .row-name {
          border-left: 0;
        }
      }

      .repository-table {
        height: 100%;
      }

      .pagination-row {
        border-top: $border-default;
        padding: 5px 10px;

        .pagination {
          display: inline-flex;
        }

        .dataTables_paginate {
          height: 38px;
        }
      }
    }
  }
}

.assigned-repository.shared {
  border: 0;
  box-shadow: 0;

  .table {
    border: 0;
    margin-bottom: 0;
  }

  tr:not(:first) {
    border-bottom: 2px solid var(--sn-sleepy-grey);
    border-top: 0;
  }

  .item-name {
    vertical-align: middle;
  }

  .version-label {
    @include font-small;
    color: var(--sn-grey);
    font-weight: bold;
  }

  .dataTables_scrollHead .sorting {
    position: relative;

    &::after {
      content: "\21C5";
      font-size: 20px;
      position: absolute;
      right: 4px;
    }
  }
}

#myModuleRepositoryFullViewModal {
  padding-left: 0 !important;

  .modal-dialog {
    height: 100vh;
    margin: 0;
    width: 100vw;

    .modal-content {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      display: grid;
      grid-template-areas: 'header sidebar'
                           'table sidebar';
      grid-template-columns: minmax(50%, 100%) 0;
      grid-template-rows: 55px calc(100% - 55px);
      height: inherit;
      padding: 0;
      transition: all $timing-function-sharp;

      &.show-sidebar {
        grid-template-columns: minmax(50%, 100%) minmax(250px, 400px);
      }

      .modal-header {
        align-items: center;
        display: flex;
        grid-area: header;
        height: 55px;
        padding: 10px 24px;

        .close {
          flex-shrink: 0;
          text-align: center;
          width: 20px;
        }

        .header-container {
          flex-grow: 1;
          max-width: calc(100% - 20px);

          .repository-name-container {
            display: flex;
            align-items: center;
          }

          .repository-title {
            @include my-module-repository-title;
            @include font-h2;
          }

          .repository-version {
            @include font-h2;
            flex-shrink: 0;
            padding-right: .7em;

            &::after {
              color: $color-alto;
              content: '[' attr(data-rows-count) ']';
              display: inline-block;
              padding-left: .3em;
            }
          }

          .breadcrumbs {
            align-items: center;
            color: $color-silver-chalice;
            display: flex;
            font-size: 10px;
            height: 20px;
            width: 90%;

            .my-module,
            .project,
            .experiment {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .slash {
              flex-basis: 20px;
              text-align: center;
            }
          }
        }
      }

      .modal-body {
        grid-area: table;
      }

      .stock-low {
        &::before {
          @include font-awesome;
          color: $brand-warning;
          content: $font-fas-exclamation-triangle;
        }
      }

      .stock-empty {
        color: $brand-danger;

        &::before {
          @include font-awesome;
          content: $font-fas-exclamation-triangle;
        }
      }

      .manage-repository-consumed-stock-value-link:not(.stock-value-view-render) {
        color: $color-volcano;
      }

      .empty-stock-render,
      .consumption-locked {
        color: $color-silver-chalice;
      }

      .row-stock,
      .row-consumption {
        min-width: 140px;
      }
    }
  }

  .dataTables_scrollBody {
    flex-grow: 1;

    tbody tr.selected {
      background: $brand-warning-light;
    }

    .assigned-column {
      padding-bottom: 2px;
      padding-left: 8px;
      padding-top: 2px;
      position: relative;

      .row-reminders-dropdown {
        cursor: pointer;
        display: inline-block;
        margin-right: 8px;
        padding: 8px;

        .fa-bell {
          height: 16px;
          text-align: center;
          width: 16px;
        }

        &.open {
          background: $color-concrete;
          border-radius: 4px;
        }
      }

      .assign-counter-container {
        border-radius: $border-radius-tag;
        cursor: pointer;
        display: inline-block;
        line-height: 35px;
        padding: 0 5px;
        position: absolute;
        right: 5px;

        .assign-counter {
          display: inline-block;
          height: 100%;
          width: 100%;

          &.has-assigned {
            color: $brand-primary;
          }
        }

        &:hover {
          background-color: $color-alto;
        }

        .dropdown-menu {
          min-width: 320px;
          padding: 8px;
        }
      }
    }
  }

  .dataTables_scrollHead {
    flex-shrink: 0;
  }

  .table-container {
    height: 100%;
    padding: 1em 1.5em 0;
    width: 100%;

    .dataTables_wrapper {
      display: flex;
      flex-direction: column;
      height: inherit;

      .dataTables_scroll {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 100%;
        overflow: auto;
      }

      // Checklists
      .checklist-dropdown {
        .dropdown-menu {
          min-width: 220px;

          .checklist-item {
            line-height: 18px;
            padding: 5px 15px;
          }
        }

        span {
          color: $brand-primary;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .main-actions {
      flex-shrink: 0;
      margin-bottom: 10px;
    }

    .pagination-row {
      border-top: $border-default;
      flex-shrink: 0;
      margin-left: -1.5em;
      padding: 1em 1.5em;
      width: calc(100% + 3em);
    }

  }

  .repository-versions-sidebar {
    background-color: $color-concrete;
    grid-area: sidebar;
    overflow: hidden;

    .list-group-item-heading {
      font-weight: normal;
    }

    .sidebar-collapse-button {
      color: $color-volcano;
      text-decoration: none;
    }

    .repository-versions-header {
      border-bottom: 1px solid $color-alto;
      height: 55px;
      padding: 0 1em;

      h4 {
        line-height: 55px;
        margin: 0;
      }
    }

    .repository-versions-list {
      display: grid;
      grid-template-rows: min-content min-content minmax(0, 100%);
      grid-auto-rows: min-content;
      height: calc(100% - 55px);
      margin-bottom: 0;

      .repository-snapshots-container {
        overflow: auto;
        position: relative;
      }
    }

    .list-group-item {
      align-items: center;
      background-color: $color-concrete;
      border: 0;
      border-radius: 0;
      margin: .5em 0;
      position: relative;

      &[data-selected="true"] {
        &::after {
          background-color: $brand-primary;
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: .5em;
        }

        &.active {
          &::after {
            background-color: $color-black;
          }
        }
      }


      .list-group-item-text {
        @include font-small;
        color: $color-silver-chalice;
      }

      .version-button {
        color: $color-volcano;
        text-decoration: none;
      }

      .delete-snapshot-button {
        display: none;
      }

      &.disabled {
        color: $color-alto;

        &:hover {
          background-color: $color-concrete;
        }
      }

      &.failed {
        background-color: $brand-danger-light;

        &:hover {
          background-color: $brand-danger-light;

          .fa-trash {
            opacity: 1;
          }
        }

        .delete-snapshot-button {
          display: block;
        }

        .fa-trash {
          opacity: .5;
        }


        .list-group-item-heading::before {
          @include font-awesome;
          content: $font-fas-exclamation-triangle;
          color: $brand-danger;
          display: inline-block;
          vertical-align: text-top;
        }
      }

      &.repository-snapshot-item:hover,
      &.live-version-item:hover {
        background-color: $color-alto;

        .delete-snapshot-button {
          display: block;
        }
      }

      &.active {
        background-color: $brand-primary;

        &:hover {
          background-color: $brand-primary;
        }

        .list-group-item-heading,
        .list-group-item-text,
        .delete-snapshot-button {
          background: transparent;
          color: $color-white;

          &:hover {
            border-color: $color-white;
          }
        }
      }
    }

    .repository-snapshot-item:not(.provisioning){
      cursor: pointer;
    }

    .create-snapshot-item {
      border-bottom: 1px solid $color-alto;
      padding: 12px 10px;
    }
  }
}

.update-repository-record-modal {
  .rows-list-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 -10px;

    &.multiple {
      grid-template-columns: 1fr 1fr;
    }

    .header {
      font-weight: bold;

      .fas {
        margin-right: 3px;
      }
    }

    .rows-list {
      background: $color-concrete;
      height: 170px;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      position: relative;

      li {
        margin: 6px 0;
      }
    }

    .rows-to-assign,
    .rows-to-unassign {
      flex-grow: 1;
      margin: 0 10px;
    }

    .rows-to-assign .header .fas {
      color: $brand-success;
    }

    .rows-to-unassign .header .fas {
      color: $brand-danger;
    }

  }

  .my-modules-to-assign {
    @include font-button;
    background: $color-concrete;
    border-radius: $border-radius-default;
    padding: 1em;

    .my-module-to-assign {
      margin-bottom: .5em;
    }

    .current-task {
      @include font-small;
      background: $brand-primary-light;
      border-radius: $border-radius-tag;
      color: $color-white;
      padding: .25em;
    }
  }

  .hidden-my-modules {
    background: $brand-warning-light;
    border-radius: $border-radius-default;
    margin-top: .5em;
    padding: .5em;

    .fas {
      color: $brand-warning;
    }
  }
}


@media (max-width: 700px) {
  #myModuleRepositoryFullViewModal {
    .modal-dialog {
      .modal-content {
        grid-template-areas: 'header'
                             'table'
                             'sidebar';
        grid-template-columns: 100%;
        grid-template-rows: 55px calc(100% - 55px) 0;

        &.show-sidebar {
          grid-template-columns: 100%;
          grid-template-rows: 55px 0 calc(100% - 55px);

          .modal-body {
            overflow: hidden;
          }
        }
      }
    }

    .sidebar-collapse-button {
      transform: rotateZ(90deg);
    }
  }
}
