
#consumeRepositoryStockValueModal {
  .consumption-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .8em;

    .units {
      margin: 1.5rem 0 0 .5rem;
    }
  }
}
