@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'shared_styles/elements/buttons.css';

html {
  font-size: 16px;
}

.border {
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}
