@import "sn-inter-font";
@import "sn-icon-font";


@import "shared_styles/constants";

@import "constants";
@import "mixins";


@import "bootstrap-datetimepicker";
@import "bootstrap-colorselector";
@import "bootstrap-tagsinput";
@import "bootstrap-tagsinput-typeahead";
@import "jstree_style.min";

@import "shared_styles/global_elements";

@import "handsontable.full.sass.scss";
@import "emojionearea.min";
@import "ajax-bootstrap-select.min";
@import "extend/bootstrap";
@import "extend/datatable";
@import "extend/perfect-scrollbar";
@import "access_permissions/access_modal";
@import "hooks/tinymce";
@import "hooks/tui_image_editor";
@import "partials/_inline_editing";
@import "partials/_tree_view";
@import "my_modules/protocols/index";
@import "my_modules/results/index";
@import "my_modules/protocol";
@import "my_modules/repositories";
@import "my_modules/status_flow";
@import "my_modules/stock_consumption_modal";
@import "my_modules/shareable_links";
@import "protocols/index";
@import "protocols/preview_modal";
@import "protocols/protocol";
@import "protocols/tinymce_editor";
@import "dashboard/calendar";
@import "dashboard/create_task_modal";
@import "dashboard/current_tasks";
@import "dashboard/recent_work";
@import "dashboard/show";
@import "repository/assign_items_to_task_modal";
@import "repository/filters";
@import "repository/index";
@import "repository/print_progress_modal";
@import "repository/repository_print_label_modal";
@import "repository/repository_row_modal";
@import "repository/repository_table";
@import "repository/repository_toolbar";
@import "repository/stock_modal";
@import "experiment/canvas";
@import "experiment/show";
@import "experiment/table";
@import "repository_columns/date_type";
@import "repository_columns/index";
@import "repository_columns/list_type";
@import "repository_columns/status_type";
@import "repository_columns/stock_type";
@import "label_templates/index";
@import "label_templates/label_preview";
@import "label_templates/promo";
@import "label_templates/show";
@import "reports/new";
@import "settings/addons";
@import "settings/connected_accounts";
@import "settings/device_table";
@import "settings/label_printers";
@import "settings/preferences";
@import "settings/teams";
@import "settings/users";
@import "settings/webhooks";
@import "shared/content/elements";
@import "shared/content/attachments";
@import "shared/content/checklist";
@import "shared/content/table";
@import "shared/content/text";
@import "shared/action_toolbar";
@import "shared/assets";
@import "shared/avatar";
@import "shared/ag_table";
@import "shared/cards";
@import "shared/comments_sidebar";
@import "shared/comments";
@import "shared/content_pane";
@import "shared/datatable";
@import "shared/datatables";
@import "shared/datetime_picker";
@import "shared/dropdown_menu";
@import "shared/dropdown_selector";
@import "shared/file_preview";
@import "shared/filter_dropdown";
@import "shared/form_errors";
@import "shared/icons";
@import "shared/image_edit_modal";
@import "shared/inline_edit";
@import "shared/jstree_override";
@import "shared/kaminari_pagination";
@import "shared/mobile";
@import "shared/my_modules_list_partial";
@import "shared/pdf_preview";
@import "shared/select";
@import "shared/smart_annotation";
@import "shared/handson_table.scss";
@import "steps/step";
@import "themes/main_navigation";
@import "themes/menu_bar";
@import "themes/projects";
@import "themes/repositories";
@import "themes/scinote";


@import "navigation/general";
@import "navigation/breadcrumbs";
@import "navigation/left_menu";
@import "navigation/navigator";
@import "navigation/notifications";
@import "navigation/top_menu";

@import "bio_eddie";
@import "experiments";
@import "forgot_password";
@import "global_activities";
@import "marvinjs";
@import "my_modules";
@import "notifications";
@import "projects";
@import "protocol_management";
@import "report_index";
@import "reports";
@import "reports_pdf.sass.scss";
@import "reports_print";
@import "repositories";
@import "search";
@import "session_expired";
@import "sign_up";
@import "sign_in";
@import "steps";
@import "system_notifications";
@import "tiny_mce";

// Addons

body {
  font-family: "SN Inter", "Open Sans", Arial, Helvetica, sans-serif;
}
