/*
 *= require_self
 *= require jquery-ui/draggable
 *= require rails_bootstrap_forms
 *= require bootstrap-select
 *= require sn-icon-font
 *= require sn-inter-font
 *= stub reports_pdf
 */

@import "shared_styles/constants/*";

@import "constants";

@import "bootstrap-sprockets";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
//@import "bootstrap/forms";

// Components
//@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
//@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
@import "bootstrap/navs";
//@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
//@import "bootstrap/responsive-embed";
//@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "bootstrap-datetimepicker";
@import "bootstrap-colorselector";
@import "bootstrap-tagsinput";
@import "bootstrap-tagsinput-typeahead";
@import "jstree_style.min";

@import "shared_styles/elements/*";

@import "handsontable.full";
@import "emojionearea.min";
@import "ajax-bootstrap-select.min";
@import "extend/bootstrap";
@import "access_permissions/*";
@import "extend/*";
@import "hooks/*";
@import "partials/*";
@import "my_modules/protocols/*";
@import "my_modules/results/*";
@import "my_modules/*";
@import "protocols/*";
@import "dashboard/*";
@import "repository/*";
@import "experiment/*";
@import "repository_columns/*";
@import "label_templates/*";
@import "reports/*";
@import "settings/*";
@import "shared/*";
@import "steps/*";
@import "themes/*";

@import "navigation/*";

@import "*"
