// Theme colors
$color-theme-primary: #37a0d9;
$color-theme-secondary: #8fd13f;
$color-theme-dark: #6d6e71;

// Grayscales
$color-white: #fff;
$color-alabaster: #fcfcfc;
$color-concrete: #f2f2f2;
$color-gallery: #EEE;
$color-alto: #d2d2d2;
$color-silver: #c5c5c5;
$color-silver-chalice: #a0a0a0;
$color-gray: #909088;
$color-dove-gray: #666666;
$color-emperor: #555;
$color-mine-shaft: #333;
$color-black: #000;

// Misc.
$color-mystic: #eaeff2;
$color-candlelight: #ffda23;

// Reds
$color-mojo: #cf4b48;
$color-apple-blossom: #a94442;
$color-milano-red: #a70b05;
