// Card style
$md-color-shadow-light: rgba(0, 0, 0, .12);
$md-color-shadow-dark: rgba(0, 0, 0, .18);

$md-shadow: 0 1px 5px 0 $md-color-shadow-dark;
$md-shadow-hover: 0 14px 28px $md-color-shadow-dark, 0 10px 10px $md-color-shadow-dark;

$md-transaction: all .4s cubic-bezier(.25, .8, .25, 1);
