// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth


.global-activities-container {
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 89px);
  padding: 0 15px;

  &.task-activities {
    height: calc(100vh - var(--navbar-height) - var(--title-row-height) - 4rem);
    padding-top: 20px;
  }

  .ga-top {
    .ga-title {
      border-bottom: 1px solid $color-gainsboro;
      margin-top: 14px;
      padding: 15px 0;
      position: relative;
      width: calc(100% + 30px);
    }

    .ga-actions {
      align-items: center;
      border-bottom: 1px solid $color-gainsboro;
      display: flex;
      height: 42px;
      padding-bottom: .75em;

      .ga-search-container {
        display: none;
        flex-grow: 1;
        max-width: 500px;
        position: relative;

        &::placeholder {
          color: $color-silver-chalice;
        }

        .search-field {
          border: 1px solid $color-gainsboro;
          border-radius: 4px;
          color: $color-emperor;
          display: block;
          font-size: 14px;
          height: 30px;
          line-height: 28px;
          outline: 0;
          padding: 0 0 0 30px;
          width: 100%;
        }

        .sn-icon-search {
          color: $color-silver-chalice;
          font-size: 18px;
          left: 0;
          line-height: 30px;
          position: absolute;
          text-align: center;
          top: 0;
          width: 30px;
        }
      }
    }

    .ga-tags-container {
      border-bottom: 1px solid $color-gainsboro;
      display: flex;
      min-height: 38px;
      padding: 2px 0;

      .clear-container {
        flex-shrink: 0;
        margin-left: 4px;
      }

      .ga-tags {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        &::after {
          content: "";
          flex-grow: 1000000000;
        }

        .ds-tags {
          @include font-small;
          align-items: center;
          background: $color-concrete;
          border-radius: $border-radius-tag;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
          display: flex;
          flex-shrink: 0;
          line-height: 13px;
          margin: 2px 3px;
          max-height: 24px;
          max-width: 250px;
          overflow: hidden;
          padding: 5px 8px;
          transition: .3s;
          user-select: none;

          &.closing {
            margin: 2px 0;
            max-width: 0;
            padding: 5px 0;
          }

          &.stretch {
            flex-grow: 1;
            flex-shrink: 1;
          }

          .tag-label {
            display: inline-block;
            margin-right: 5px;
            margin-top: 1px;
            max-width: 500px;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: auto;
          }

          .fas {
            cursor: pointer;
            flex-grow: 1;
            font-size: 12px;
            opacity: .7;
            text-align: right;
          }
        }
      }
    }
  }

  .ga-bottom {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  .ga-main {
    border-right: 1px solid $color-gainsboro;
    flex-grow: 5;
    height: 100%;
    overflow: hidden;
    position: relative;

    .activities-container {
      height: 100%;
      padding-top: 10px;
      position: absolute;
      width: 100%;
    }

    .ga-activities-list {

      .activities-day {
        display: flex;
        margin-bottom: 10px;

        .date-container {
          flex-shrink: 0;
          padding-right: 20px;
        }

        .date-activities {
          flex-grow: 1;
        }
      }
    }

    .activities-counter-label {
      margin-left: 5px;
    }

    .activities-group-expand-button {
      color: $color-emperor;
      user-select: none;

      &:hover,
      &:visited,
      &:focus {
        text-decoration: none;
      }

      .sn-icon {
        display: inline-block;
        margin-right: 3px;
        text-align: center;
      }

      &:not(.collapsed) .sn-icon {
        @include rotate(90deg);
      }
    }

    .activity-card {
      cursor: default;
      margin-right: 15px;
      padding: 5px 0 5px 5px;

      &:hover {
        background-color: var(--sn-super-light-grey);
        border-radius: 5px;
      }

      .activity-text {
        p {
          margin: 0;
        }

        .atwho-user-container {

          &:not(:first-child) {
            .global-avatar-container {
              height: 20px;
              line-height: 20px;
              margin-left: 0;
              position: relative;
              top: 1px;
              width: 20px;
            }
          }
        }
      }

      .activity-info {
        color: $color-silver-chalice;
        display: flex;
        min-height: 20px;

        .activity-timestamp {
          color: inherit;
          flex-shrink: 0;
        }

        .navigational-breadcrumbs {
          color: inherit;
          display: flex;
          flex-wrap: wrap;

          .ga-breadcrumb {
            align-items: center;
            display: flex;
            margin-left: 15px;

            .fas,
            img {
              margin-right: 3px;
            }
          }
        }
      }

      .fa-comment {
        color: $color-silver-chalice;
        margin-right: 3px;
        position: relative;
      }
    }

    .no-activities-message {
      margin-top: 20px;
    }
  }
}

.ga-side {
  flex-basis: 450px;
  flex-shrink: 0;
  height: 100%;
  margin-right: -15px;
  overflow: hidden;
  position: relative;

  .filters-container {
    height: 100%;
    margin-bottom: 60px;
    padding: 15px 20px;
    position: absolute;
  }

  .filter-block {
    display: inline-block;
    width: 100%;

    .title {
      @include font-small;
      float: left;
      line-height: 20px;
      margin-bottom: 5px;
      width: calc(100% - 50px);

      &.sub {
        font-size: 12px;
      }
    }

    .clear {
      cursor: pointer;
      display: none;
      float: right;
      font-weight: normal;
      line-height: 12px;
      margin-bottom: 0;
      margin-top: 8px;
      padding-bottom: 8px;
      padding-top: 8px;
      color: var(--sn-blue);
      font-size: .875rem;
    }

    .select-container {
      display: inline-block;
      margin-bottom: 5px;
      min-height: 36px;
      width: 100%;

      select {
        display: none;
      }
    }

    &.report-block {
      margin-bottom: 60px;
    }
  }

  .date-selector {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    width: 100%;

    .hot-buttons {
      display: inline-block;
      width: 100%;

      .hot-button {
        border: 0;
        cursor: pointer;
        float: left;
        justify-content: start;
        margin: 0;
        text-align: left;
        width: calc(50% - 25px);

        &.selected {
          background: var(--sn-super-light-grey);
        }

        &:nth-child(even) {
          margin-left: 20px;
        }

        &:nth-child(odd) {
          margin-right: 20px;
        }

      }
    }

    .from,
    .to {
      float: left;
      position: relative;
      width: calc(50% - 15px);
    }

    .separator {
      background: $color-alto;
      float: left;
      height: 2px;
      margin: 16px 10px;
      position: relative;
      width: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .ga-side {
    flex-basis: 350px;
  }
}

@media (max-height: 800px) {
  .ga-side {
    .date-selector {
      .hot-buttons {
        .hot-button {
          margin: 5px 0;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .ga-main {
    .activities-day {
      flex-direction: column;

      .date-activities {
        margin: 5px 10px 0 0;
        padding-left: 10px;

        .activities-counter-label {
          border-bottom: 1px solid $color-gainsboro;
          padding-bottom: 5px;
        }
      }
    }
  }
}

// Common code

.datetime-picker-container {
  position: relative;

  .sn-icon-calendar {
    color: $color-silver-chalice;
    font-size: 18px;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 34px;
    }

  .calendar-input {
    @include font-button;
    background-color: transparent !important;
    border-color: $color-silver-chalice;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 34px;
    position: relative;
    width: 100%;
    z-index: 3;

    &::placeholder {
      color: $color-alto;
    }
  }
}
