// Place all the styles related to the MyModules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

/* Results index page */

#results {
  margin-top: 20px;
}

.btn-colorselector{
	background-color: transparent !important;
}

.step-container .row {
  margin-left: 0;
  margin-right: 0;
}

.module-large {
  .description-label {
    word-break: break-all;
    word-wrap: break-word;
  }

  .comment {
    word-break: break-all;
    word-wrap: break-word;
  }
}

.modal-image-preview {
  background: transparent;
  font-size: 16px;
  padding-right: 0px !important;

  .preview-close {
    background: transparent;
    border: 0;
    color: $color-white;
    display: inline-block;
    float: right;
  }

  .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $color-white;
    height: 100%;
    width: auto;
  }

  img {
    left: 50%;
    margin-right: -50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .modal-header {
    background: $color-black;
    border: 0;
  }

  .modal-body {
    height: 85%;
    position: relative;
    width: auto;
  }

  .modal-footer {
    background: $color-black;
    border: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }

  .image-download-link {
    color: $color-white;
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
}

.modal-backdrop.modal-image-preview {
  background: $color-black;

  .in {
    filter: alpha(opacity = 99);
    opacity: .99;
  }
}
