// Place all the styles related to the MyModules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.description-label {
  word-wrap: break-word;
}

/* Results index page */

#results {
  margin-top: 20px;
}

.btn-colorselector{
	background-color: transparent !important;
}

.step-container .row {
  margin-left: 0;
  margin-right: 0;
}
