// Place all the styles related to the MyModules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Results index page */

#results {
  margin-top: 20px;
}

.btn-colorselector{
  background-color: transparent;
}

.step-container .row {
  margin-left: 0;
  margin-right: 0;
}

.module-large {
  .description-label {
    word-break: break-all;
    word-wrap: break-word;
  }

  .comment {
    word-break: break-all;
    word-wrap: break-word;
  }
}
