// scss-lint:disable SelectorDepth NestingDepth IdSelector SelectorFormat

.reports-index {
  .report-actions-dropdown {
    display: inline-block;
    float: left;
    position: relative;

    .report-actions-menu {
      width: 200px !important;

      li {
        padding: 0;
      }

      a {
        padding: .5em 1em;
      }
    }
  }

  .search-report-container {
    display: inline-block;
    float: right;
    margin-right: 2em;
    width: 200px;
  }
}

.reports-datatable {
  height: calc(100vh - var(--navbar-height) - var(--content-header-size));

  #reports-table_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dataTables_scroll {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: calc(100% - var(--datatable-pagination-row));

      .dataTables_scrollHead {
        flex-shrink: 0;
      }
    }

    .pagination-row {
      flex-shrink: 0;
    }
  }

  .report-row {
    .processing-error {
      color: $brand-danger;
    }

    .generate-docx,
    .generate-pdf {
      display: none;
    }

    &:hover {
      .generate-docx,
      .generate-pdf {
        display: initial;
      }
    }
  }

}
