/**
 * Additional rules when generating PDF from the reports.
 */

// Hide all fas icons
.fas {
  display: none;
}

.print-report-body {
  .print-report {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }
}

tr {
  page-break-inside: avoid;
}

thead {
  display: table-row-group;
}
