.repositories-dropdown-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  text-transform: initial;
}

.repository-table {
  margin-top: 20px;

  // Datatables generated name
  .dataTables_length {
    display: inline-block;
  }
}

.repository-cog {
  display: inline-block;
  float: right;
  padding-left: 4px;
}
