// scss-lint:disable SelectorDepth SelectorFormat QualifyingElement
// scss-lint:disable NestingDepth ImportantRule

@import "constants";

.content-pane.repository-show {
  margin-top: 15px;
  padding-top: 0;
}

.repositories-dropdown-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  text-transform: initial;
}

.repository-table {
  margin-top: 20px;

  // Datatables generated name
  .dataTables_length {
    display: inline-block;
    float: right;
    margin-left: 10px;
  }

  .dataTables_filter {
    float: right;
  }

  // hack only for firefox
  @-moz-document url-prefix() {
    input.form-control[type="file"] {
      font-size: 13px;
      height: auto;
      padding: 3px 12px;
    }
  }
}

.repository-cog {
  display: inline-block;
  float: right;
  padding-left: 4px;
}

#repository-table_paginate {
  float: right;
  text-align: inherit;
}

.breadcrumb.breadcrumb-repository {
  background-color: $color-concrete;
  margin-bottom: 15px;
}

#repository-toolbar {
  align-items: center;
  border-bottom: 1px solid $color-gainsboro;
  display: flex;
  margin-left: -20px;
  padding: 5px 15px;
  width: calc(100% + 40px);

  .repository-share-icon {
    flex-shrink: 0;
    margin-top: -2px;

    .fas-custom {
      margin-right: 5px;
    }
  }

  .repository-title {
    flex-grow: 1;
    font-size: 18px;
    line-height: 50px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .inline-editing-container {
      width: 100%;

      input {
        line-height: 26px;
      }
    }

  }

  .datatables-buttons {
    flex-shrink: 0;
  }
}

.toolbarButtonsDatatable {
  .view-only-label {
    opacity: .6;
  }

  .btn {
    border: 0;
  }
}

.sidebar-button {
  color: $brand-primary !important;

  span {
    display: inline-block !important;
    padding: 0 !important;
  }

  .fas {
    margin-right: 5px;
  }
}

.share-repo-modal {

  .modal-dialog {
    width: 350px;
  }

  .share-repo-container {
    padding: 15px 30px;

    // Main structure css
    .header,
    .data-list {
      display: flex;
      width: 100%;
    }

    .data-list {
      flex-direction: column;
    }

    .all-teams,
    .teams-list {
      display: flex;
      width: 100%;
    }

    .teams-list {
      flex-direction: column;
      max-height: 400px;
      position: relative;

      .team-container {
        align-items: center;
        display: flex;
        padding: 5px 0;
      }
    }

    .permission-selector {
      display: flex;
      flex-basis: 100px;
      flex-shrink: 0;
      justify-content: center;
    }

    .team-selector {
      align-items: center;
      display: flex;
      flex-grow: 1;

      .checkbox-label {
        margin-right: 5px;
      }
    }

    // header
    .header {
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 0;
    }

    .all-teams {
      align-items: center;
      border-bottom: 1px solid $color-gainsboro;
      padding: 5px 0;
      user-select: none;
    }
  }
}
