// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-content {
  background-color: #fff;
  padding-top: 20px;
}
.autocomplete-suggestions { 
  border: 1px solid #999;
  background: #FFF; 
  overflow: auto; 
  
}
.autocomplete-suggestion { 
  padding: 2px 5px; 
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected { 
  background: #F0F0F0; 
  
}
.autocomplete-suggestions strong { 
  font-weight: normal;
  color: #3399FF; 
}
.autocomplete-group { 
  padding: 2px 5px; 
}
.autocomplete-group strong { 
  display: block; 
  border-bottom: 1px solid #000; 
}