// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

#search-content {
  background-color: $color-white;
  padding-top: 20px;
}
.search-asset-text-data{
  font-size: $font-size-base;
}
