// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

#new_step,
.panel-step-attachment {
  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      & > div > span.pull-left {
        margin-top: 10px;
      }
    }
  }
}

#steps {
  // hack only for firefox
  @-moz-document url-prefix() {
    ul > li {
      padding-top: 1px;

      a > p:first-child {
        margin-top: -17px;
      }
    }
  }

  .step {
    .panel {
      margin-left: 0;
    }
  }

  .complete-step-btn {
    display: inline-block;
    line-height: 39px;

    button {
      display: block;
      font-size: 12px;
      margin: auto 0;
      padding: 3px 10px;

      span {
        font-size: 15px;
      }
    }
  }

  .panel-heading {
    background-color: $color-silver;
    border-bottom-width: 0 !important;
    height: 39px;
    padding-bottom: 0;
    padding-top: 0;

    > * {
      display: inline-block;
      line-height: 39px;
    }

    .panel-options {
      bottom: 0;
    }

    span.step-number {
      font-size: 30px;
      margin: 0 10px;
    }

    .left-floats {
      float: left;

      > * {
        float: left;
      }
    }
  }
}

.attacments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .pseudo-attachment-container {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .file-preview-link {
      position: relative;
    }

    &.new {
      order: 0 !important;

      .file-preview-link {
        transition: 0.5s;
      }

      .attachment-placeholder {
        border: 1px solid $brand-primary;

        &::before {
          background: $brand-primary;
          border-radius: 0px 5px 0px 5px;
          bottom: 16px;
          color: $color-white;
          content: 'NEW';
          left: 8px;
          line-height: 20px;
          position: absolute;
          width: 50px;
        }
      }
    }
  }
}

.attachment-placeholder {
  @include md-card-style;
  color: $color-silver-chalice;
  height: 280px;
  margin: 4px 8px 16px;
  text-align: center;
  width: 220px;

  a {
    color: inherit;
  }

  &.new {
    background-color: rgba(95, 95, 95, .1);
  }

  &:hover {
    box-shadow: $md-shadow-hover;
  }

  .attachment-thumbnail {
    display: inline-block;
    height: 160px;
    margin: 16px 10px 5px;
    overflow: hidden;
    text-align: center;

    img {
      border-radius: 5px;
      max-height: 100%;
      max-width: 100%;
    }

    i.fas {
      font-size: 100px;
      line-height: 160px;
    }
  }

  .no-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .15);
  }

  .attachment-label {
    color: #40a1d7;
    font-family: Lato;
    font-size: 16px;
    height: 39px;
    line-height: 18px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 190px;
  }

  .spencer-bonnet-modif {
    color: $color-silver-chalice;
    font-family: Lato;
    font-size: 12px;
    height: 45px;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
    width: 149px;
  }

  .remove-icon {
    bottom: 15px;
    cursor: pointer;
    position: relative;
    right: 10px;
  }
}

.attachments-order {
  display: inline-block;
}

.attachments-actions {
  color: $color-silver-chalice;

  .drag_n_drop_label {
    font-size: 14px;
    line-height: 32px;
  }

  .btn-default {
    border: 0;
    color: inherit;
    margin-left: 10px;

    &:hover {
      background: inherit;
    }
  }
}

.step .textarea-sm {
  border-radius: 0;
}

.comments-title {
  color: $color-emperor;
}

// Comment item

.comment-container {
  display: flex;
  padding: 5px 0 5px 5px;

  .avatar-placehodler {
    height: 30px;
    width: 30px;

    img {
      border-radius: 30px;
      position: relative;
      top: 7px;
    }
  }

  .content-placeholder {
    padding-left: 10px;
    width: calc(100% - 30px);

    .comment-name {
      color: $color-silver-chalice;
      float: left;
      font-size: 16px;
      line-height: 30px;
      padding-left: 5px;
      width: 50%;
    }

    .comment-message {
      float: left;
      width: 100%;

      textarea {
        border: 1px solid $color-silver;
        border-radius: $border-radius-small;
        height: 22px;
        line-height: 16px;
        overflow: hidden;
        padding: 2px 5px;
        width: 100%;
        pointer-events: none;

        &:focus {
          outline: 0;
        }

        &:disabled {
          background: transparent;
          border: 1px solid transparent;
          user-select: none;
        }
      }
    }

    .error-block {
      color: $brand-danger;
      display: none;
      float: left;
    }

    .comment-right {
      color: $color-silver-chalice;
      float: right;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      position: relative;
      transition: .3s;
      width: 120px;

      .comment-datetime {
        float: left;
        font-size: 12px;
        line-height: 30px;
        width: 120px;
      }

      .comment-actions {
        left: 120px;
        position: absolute;
        width: 100px;

        .view-buttons,
        .edit-buttons {
          display: none;
          font-size: 16px;

          * {
            cursor: pointer;
          }

          .edit-button,
          .save-button {
            display: inline-block;
            width: 80px;
          }

          .delete-button,
          .cancel-button {
            float: right;
            padding-right: 5px;
            width: 20px;
          }

          a {
            color: inherit;
          }

          span {
            .fas {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  &[data-edit-mode="0"]:hover,
  &[data-edit-mode="1"] {
    .comment-right {
      width: 220px;
    }

    textarea:disabled {
      border: 1px solid $color-gainsboro;
      cursor: pointer;
    }
  }

  &[data-edit-mode="0"]:hover {
    cursor: pointer;

    .comment-actions {

      .view-buttons {
        display: inline;
      }
    }
  }

  &[data-edit-mode="1"] {

    .comment-actions {

      .edit-buttons {
        display: inline !important;
      }
    }
  }

  &[data-error="true"] {

    .error-block {
      display: block;
    }
  }
}

.step-comments {
  overflow: auto;
}

.new-comment-button {
  cursor: pointer;
  font-size: 18px;
  left: calc(100% - 29px);
  position: relative;
  top: -41px;

  &.has-error {
    top: -64px;
  }
}

.new-message-continer {
  float: left;
  margin-top: 20px;
  width: 100%;
}

