// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorFormat
// scss-lint:disable ImportantRule

@import "constants";
@import "mixins";

:root {
  --attachment-card-thumbnail-width: 220px;
  --attachment-card-thumbnail-height: 280px;
}


#new_step,
.panel-step-attachment {
  ul {
    list-style: none;

    li {
      > div > span.pull-left {
        margin-top: 10px;
      }
    }
  }
}

#steps {
  // hack only for firefox
  @-moz-document url-prefix() {
    ul > li {
      padding-top: 1px;

      a > p:first-child {
        margin-top: -17px;
      }
    }
  }

  .step {
    .panel {
      margin-left: 0;
    }
  }

  .complete-step-btn {
    display: inline-block;
  }

  .step-heading {
    align-items: center;
    border: 0;
    display: flex;
    min-height: 46px;
    padding-bottom: 0;
    padding-top: 0;

    .panel-options {
      bottom: 0;
      flex-grow: 1;
      flex-shrink: 0;
      line-height: 46px;
      text-align: right;
    }

    span.step-number {
      font-size: 16px;
      font-weight: bold;
      margin: 0 5px 0 10px;
      min-width: fit-content;
    }

    .left-floats {
      align-items: center;
      display: flex;
      max-width: 100%;
      min-height: inherit;
      overflow: hidden;
      padding-right: 15px;

      .step-name-link {
        display: flex;
        flex-shrink: 1;
        overflow: hidden;

        .name-block {
          display: flex;
          flex-shrink: 1;
          height: 100%;
          overflow: hidden;

          @media (max-width: 1188px) {
            min-width: 100px;
          }

          strong {
            font-size: 16px;
            white-space: nowrap;
          }
        }

        .delimiter {
          padding: 0 5px;
        }

        .author-block {
          display: inline-block;
          flex-shrink: 0;
          font-size: 16px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

.attachments {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(var(--attachment-card-thumbnail-width), 1fr));
  grid-auto-rows: var(--attachment-card-thumbnail-height);
  margin: 1em 0;
}

.attachment-container {
  @include md-card-style;
  height: var(--attachment-card-thumbnail-height);
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: var(--attachment-card-thumbnail-width);


  .file-preview-link {
    display: block;
    height: 100%;
    width: 100%;
  }

  .attachment-preview {
    border-radius: $border-radius-default;
    height: 170px;
    text-align: center;
    position: relative;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }

    &.marvinjs {

      &::before,
      &::after {
        content: "";
        border-radius: 1em 0 0 1em;
        display: block;
        right: -1em;
        line-height: 2em;
        position: absolute;
        bottom: 1em;
        width: 2.25em;
      }

      &::before {
        background: $marvinjs-color;
      }

      &::after {
        background-image: url("/images/icon_small/marvinjs-white.svg");
        height: 2.25em;
        right: -.75em;
        width: 2em;
      }
    }

    i.fas {
      font-size: 100px;
      line-height: 160px;
    }
  }

  .no-shadow {
    box-shadow: none;
  }

  .attachment-label,
  .attachment-metadata {
    background: $color-white;
    overflow: hidden;
    padding-top: 1em;
    position: relative;
    text-overflow: ellipsis;
    text-align: center;
    transition: $md-transaction;
    white-space: nowrap;
  }

   .attachment-label {
    @include font-main;
    margin-top: 1.5em;
    z-index: 2;
  }

  .attachment-metadata {
    @include font-small;
    margin-top: -4em;
    color: $color-silver-chalice;
  }

  .remove-icon {
    bottom: .5em;
    cursor: pointer;
    display: none;
    position: absolute;
    right: .5em;
  }

  &:hover {
    box-shadow: $md-shadow;

    .file-preview-link {
      text-decoration: none;
    }


    .remove-icon {
      display: inline-block;
    }

    .attachment-label,
    .attachment-metadata {
      margin-top: 0;

    }
  }

  &.new {
    background-color: rgba(95, 95, 95, .1);
    order: 0 !important;

    .attachment-label,
    .attachment-metadata {
      background-color: transparent;
    }

    .dnd-error {
      bottom: 15px;
      float: left;
      padding-left: 5px;
      position: relative;
    }

    .attachment-preview {
      border: 1px solid $brand-primary;

      &::before {
        background: $brand-primary;
        border-radius: 0 $border-radius-default;
        bottom: 0;
        color: $color-white;
        content: "NEW";
        left: 0;
        line-height: 20px;
        position: absolute;
        width: 50px;
      }
    }

    &:hover {
      .attachment-label {
        margin-top: 1.5em;
      }
    }
  }
}

.attachments-order {
  display: inline-block;
}

.attachments-actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .title {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .attachments-order {
    color: $color-silver-chalice;
    min-width: 140px;
  }

  .btn-default {
    border: 0;
    color: inherit;
    margin-left: 10px;

    &:hover {
      background: inherit;
    }
  }
}

.step .textarea-sm {
  border-radius: 0;
}

.comments-title {
  color: $color-emperor;
}

.expand-all-steps {
  margin: 0 0 15px 15px;
}

.inline-attachment-container {
  @include md-card-style;
  grid-column: 1/-1;
  grid-row: span 2;

  .active-iframe-preview {
    border: 0;
    height: 100%;
    width: 100%;
  }
}
