// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants";

#new_step,
.panel-step-attachment {
  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      & > div > span.pull-left {
        margin-top: 10px;
      }
    }
  }
}

#steps {
  // hack only for firefox
  @-moz-document url-prefix() {
    ul > li {
      padding-top: 1px;

      a > p:first-child {
        margin-top: -17px;
      }
    }
  }

  .step {
    .panel {
      margin-left: 0;
    }
  }

  .complete-step-btn {
    display: inline-block;
    line-height: 39px;

    button {
      display: block;
      font-size: 12px;
      margin: auto 0;
      padding: 3px 10px;

      span {
        font-size: 15px;
      }
    }
  }

  .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $color-silver;
    height: 39px;
    border-bottom-width: 0 !important;

    > * {
      display: inline-block;
      line-height: 39px;
    }

    .panel-options {
      bottom: 0;
    }

    span.step-number {
      font-size: 30px;
      margin: 0 10px;
    }

    .left-floats {
      float: left;

      > * {
        float: left;
      }
    }
  }
}


