@import "constants";
@import "mixins";

// System notification partial
.system-notification {
  border-bottom: 1px solid $color-gainsboro;
  color: $color-emperor;
  display: inline-block;
  float: left;
  min-height: 70px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  width: 100%;

  &:hover {
    background: $color-concrete;
    color: $color-emperor;
    opacity: .7;
  }

  .status-block {
    float: left;
    height: 0;
    width: 60px;

    .status-icon {
      background: $brand-success;
      border-radius: 15px;
      height: 30px;
      line-height: 32px;
      margin: 15px 20px;
      text-align: center;
      width: 30px;

      &.seen {
        background: $color-gainsboro;
      }

      i {
        color: $color-white;
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }

  .body-block {
    float: right;
    width: calc(100% - 70px);

    .datetime {
      font-size: 12px;
      line-height: 20px;
      opacity: .7;
    }

    .title {
      font-weight: bold;
      line-height: 20px;
      margin: 0;
    }

    .message {
      line-height: 20px;
    }

   }
}


#manage-module-system-notification-modal {

  .modal-title {
    margin-left: 20px;
  }

  .modal-body {
    margin: 20px;
  }
}
