<% if errors.present? %>
  <div class="alert alert-danger" role="alert">
    <div><%=t "organizations.parse_sheet.errors.errors_list_title" %></div>
    <br>
    <ul>
      <% errors.each do |err| %>
        <% err.each do |row_nr, row_errors| %>
          <li>
            <%=t "organizations.parse_sheet.errors.list_row", row: row_nr %>
            <ul>
            <% row_errors.each do |row_err| %>
              <% row_err.each do |k, vals| %>
                <% vals.each do |v| %>
                  <li>
                    <%=t "organizations.parse_sheet.errors.list_error", key: k, val: v %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            </ul>
          </li>
          <% end %>
      <% end %>
    </ul>
  </div>
<% end %>