<ul class="no-style double-line content-activities">
  <% if activities.empty? %>
    <li><em><%= t'activities.index.no_activities' %></em></li>
  <% else %>
  <%= render 'activities/list.html.erb', activities: activities%>
  <% end %>
  <% if more_activities_url.present? && page == 1 %>
  <li class="text-center">
    <a class="btn btn-default btn-more-activities"
       href="<%= more_activities_url %>"
       data-remote="true">
      <%= t'activities.index.more_activities' %></a>
  </li>
  <% end %>
</ul>
