<div class="modal" id="load-from-repository-modal" tabindex="-1" role="dialog" aria-labelledby="load-from-repository-modal-label" data-url="<%= load_from_repository_protocol_path(@protocol) %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h2 class="modal-title" id="load-from-repository-modal-label">
          <%= t("my_modules.protocols.load_from_repository_modal.title") %>
        </h2>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("general.cancel") %></button>
        <button type="button" class="btn btn-primary" data-action="submit"><%= t("my_modules.protocols.load_from_repository_modal.load") %></button>
      </div>
    </div>
  </div>
</div>
