<% if !defined? hide then hide = false end %>
<% if !defined? initial then initial = false end %>
<div class="new-element <%= "hidden" if hide %> <%= "initial" if initial %>" data-ts="ignore" data-type="new" title="<%=t "projects.reports.elements.new_element.title" %>">
  <a href="" class="new-element-href" data-action="add-new-elements">
    <div class="line left-line">
      <div class="filler-wrapper">
        <div class="filler"></div>
      </div>
    </div>
    <div class="plus-icon">
      <span class="fas fa-plus"></span>
    </div>
    <div class="line right-line">
      <div class="filler-wrapper">
        <div class="filler"></div>
      </div>
    </div>
    <div class="clear"></div>
  </a>
</div>
