<div class="col-md-6">
  <div class="panel panel-default experiment-panel">
    <div class="panel-heading">
      <%= link_to t('experiments.new.modal_title'),
                  new_project_experiment_url(@project),
                  remote: true,
                  class: 'panel-title new-exp-title' %>
    </div>
    <div class="panel-body">
      <%= link_to new_project_experiment_url(@project),
                  remote: true,
                  class: 'big-plus' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
