.sci--layout-navigation-breadcrumbs {
  --max-breadcrumbs-link-width: 180px;
  padding: 14px 24px 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 14px;

  .breadcrumbs-link {
    display: inline-block;
    color: var(--sn-blue);
    max-width: var(--max-breadcrumbs-link-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      color: var(--sn-grey);
    }
  }

  .delimiter {
    padding-bottom: 4px;
  }

  .breadcrumbs-collapsed-container {
    color: var(--sn-blue);
    position: relative;

    .show-breadcrumbs {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;
    }

    a {
      @include font-button;
      color: var(--sn-blue);
    }
  }
}
