body {
  min-width: 900px;
}

.sci--layout {
  --breadcrumbs-navigation-height: 44px;
  --left-navigation-width: 192px;
  --navbar-height: calc(var(--top-navigation-height) + var(--breadcrumbs-navigation-height));
  --navigator-navigation-width: 240px;
  --top-navigation-height: 52px;
  display: grid;
  grid-template-areas: "top top top"
                       "left breadcrumbs breadcrumbs"
                       "left navigator content";
  grid-template-columns: var(--left-navigation-width)
                         var(--navigator-navigation-width)
                         calc(100% - var(--left-navigation-width) - var(--navigator-navigation-width));
  grid-template-rows: var(--top-navigation-height)
                      var(--breadcrumbs-navigation-height)
                      calc(100% - var(--top-navigation-height) - var(--breadcrumbs-navigation-height));
  height: 100%;
  position: relative;
  transition: .4s $timing-function-sharp;
  width: 100%;

  .sci--layout--navigator-open {
    display: none;
  }

  &[data-breadcrumbs-collapsed="true"] {
    --breadcrumbs-navigation-height: 0px;
  }

  &[data-navigator-collapsed="true"] {
    --navigator-navigation-width: 0px;

    .sci--layout--navigator-open {
      display: inline-block;
    }
  }

  &[data-left-navigation-collapsed="true"] {
    --left-navigation-width: 0px;
  }

  .sci--layout-navigation-top {
    grid-area: top;
    height: var(--top-navigation-height);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 610;
  }

  .sci--layout-navigation-left {
    grid-area: left;
    height: calc(100vh - var(--top-navigation-height));
    position: sticky;
    position: -webkit-sticky;
    top: var(--top-navigation-height);
    width: var(--left-navigation-width);
    z-index: 600;
  }

  .sci--layout-navigation-navigator {
    grid-area: navigator;
    height: calc(100vh - var(--top-navigation-height) - var(--breadcrumbs-navigation-height) - 1rem);
    position: sticky;
    position: -webkit-sticky;
    top: calc(var(--top-navigation-height) + var(--breadcrumbs-navigation-height));
    transition: .4s $timing-function-sharp;
    width: var(--navigator-navigation-width);
    z-index: 550;
  }

  .sci--layout-navigation-breadcrumbs {
    grid-area: breadcrumbs;
    height: var(--breadcrumbs-navigation-height);
    position: sticky;
    position: -webkit-sticky;
    top: var(--top-navigation-height);
    transition: .4s $timing-function-sharp;
    width: 100%;
    z-index: 600;
  }

  .sci--layout-content {
    grid-area: content;
    padding: 0 1.5rem;
    width: 100%;

    .container-fluid {
      padding: 1em; // override bootstrap and old pages support
    }
  }
}
