// scss-lint:disable SelectorDepth unknownProperties IdSelector
// scss-lint:disable NestingDepth SelectorFormat

#sciNavigationTopMenuContainer {
  display: contents;
}

.sci--navigation--top-menu-container {
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid var(--sn-sleepy-grey);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
  padding: 0 1rem;

  .sci--navigation--top-menu-logo {
    margin-right: auto;

    a {
      display: inline-block;
    }

    .logo {
      max-height: 22px;

      &.small {
        display: none;
      }
    }
  }

  .sci--navigation--top-menu-search {
    width: 300px;
  }

  .sci--navigation--top-menu-user {
    .avatar {
      border-radius: 50%;
    }
  }

  .dropdown-menu {
    top: 43px;
    border-radius: 0 0 4px 4px;
  }

  .top-menu-user-dropdown {
    top: 40px;
  }

  .dropdown-menu li a {
    line-height: 1rem;
    padding: .625rem 1rem;
  }

  @media(max-width: 1200px) {
    .sci--navigation--top-menu-logo {
      .logo {
        &.large {
          display: none;
        }

        &.small {
          display: initial;
        }
      }
    }
  }
}
