<li class="activity-item">
  <span class="activity-item-date">
    <%= l activity.created_at, format: :full %>
  </span>
  <span class="activity-item-text"><%= sanitize_input(smart_annotation_parser(activity.message)) %>
  </span>
</li>
