<!-- Show recent activities -->
<ul id="list-activities" class="no-style content-activities">
  <% @activities.each do |act| %>
    <%= render partial: "my_modules/activities/activity.html.erb", locals: { activity: act } %>
  <% end %>
</div>
