<div class="ga-tags-container">
  <ul class="ga-tags"></ul>
  <div class="clear-container">
    <span>
      <i class="fas fa-times"></i>
      <%= t('global_activities.index.clear_filters') %>
    </span>
  </div>
</div>