<!doctype html>
<html>
  <head>
    <%= ::NewRelic::Agent.browser_timing_header("nonce") %>
    <meta charset='utf-8' />
    <%= javascript_include_tag wicked_pdf_asset_base64("reports/template_helpers") %>
  </head>
  <body onload="pageNumbers()">
    <%= yield %>
  </body>
</html>
