<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "reports/template_helpers" %>
  </head>
  <body onload="pageNumbers()">
    <%= yield %>
  </body>
</html>
