<div class="content-pane" id="report-new">
  <div class="report-container">
    <!-- Report "preview" -->
    <div id="report-content">

    <% report.root_elements.each do |el| %>
      <%= render_report_element(el, local_assigns) %>
    <% end %>
    </div>
  </div>
</div>


<%= javascript_include_tag "handsontable.full" %>

<!-- Libraries for formulas -->
<%= render partial: "shared/formulas_libraries" %>

<%= javascript_include_tag("reports/new") %>
