<div class="atwho-no-results">
  <h1><%= t("atwho.no_results.#{object_type}") %></h1>
  <div class="description"><%= t("atwho.no_results.description") %></div>
  <!-- "No results" hack for at.js -->
  <span style="display: none"><%= @query %></span>
</div>
