// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

:root {
  --attachment-column-width: 16em;
  --attachment-row-height: 3em;
}

.step-container {
  .attachments {
    display: grid;
    grid-auto-rows: var(--attachment-row-height);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(var(--attachment-column-width), 1fr));
    margin: 1em 0;

    &[data-preview="true"] {
      .asset-context-menu {
        display: none;
      }
    }
  }
}
