// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

@import "components/*";

.step-container {
  margin: 20px 0;
  padding: 8px 24px;

  .step-header {
    align-items: center;
    display: flex;

    .step-collapse-link {
      display: inline-block;
      line-height: 24px;
      text-align: center;
      width: 24px;

      &:not(.collapsed) {
        @include rotate(90deg);
      }
    }

    .step-state {
      border: 2px solid $color-alto;
      border-radius: 50%;
      cursor: pointer;
      height: 24px;
      text-align: center;
      width: 24px;

      &.completed {
        background: $brand-success;
        border: 2px solid $brand-success;

        &::after {
          @include font-awesome;
          color: $color-white;
          content: $font-fas-check;
        }
      }
    }

    .step-position {
      @include font-main;
      line-height: 24px;
      margin: 0 4px;
    }

    .step-name-container {
      flex-grow: 1;
    }

    .step-actions-container {
      display: flex;
      justify-content: flex-end;

      .insert-button {
        .caret {
          margin-left: .5em;
        }
      }

      .insert-element-dropdown {
        @include font-button;
        padding: 0;

        li {
          padding: .5em 1em;

          &.action {
            cursor: pointer;

            &:hover {
              background: $color-concrete;
            }
          }

          &.title {
            @include font-small;
            color: $color-alto;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.step-element-header {
  align-items: center;
  display: flex;
  padding: 0 0 0 8px;

  &.editing-name {
    padding: 0;

    .step-element-controls {
      display: none;
    }
  }

  .sci-inline-edit {
    width: 100%;
  }

  .step-element-name {
    font-weight: bold;
    width: 100%;
  }

  .step-element-controls {
    display: flex;
    margin-left: auto;

    .btn {
      padding: 0;
    }

    .fas {
      font-size: 14px;
    }
  }

  .step-element-grip {
    color: $color-silver-chalice;
    cursor: grab;
    margin-right: 8px;
  }

  .step-element-controls,
  .step-element-grip {
    opacity: 0;
  }

  &:hover:not(.editing-name) {
    background: $color-concrete;

    .step-element-grip,
    .step-element-controls {
      opacity: 1;
    }
  }
}
