<% content_for :content do %>
  <%= yield :secondary_navigation %>
  <div class="container-fluid <%= yield :container_class %>" id="fluid-content">
    <%= yield %>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
