<% content_for :content do %>
    <div class="container <%= yield :container_class %>">
      <% if user_signed_in? %>
        <%= render partial: 'shared/flash_alerts',
                   locals: { flash: flash, notice: notice, alert: alert } %>
      <% end %>
      <%= yield %>
    </div>
<% end %>
<%= render template: 'layouts/application' %>
