<% content_for :content do %>
    <div class="container <%= yield :container_class %>">
      <%= render partial: 'shared/flash_alerts',
                 locals: { flash: flash, notice: notice, alert: alert } %>
      <%= yield %>
    </div>
<% end %>
<%= render template: 'layouts/application' %>
