<ul class="nav nav-tabs hidden">
  <li role="presentation"><a href="#2fa-step-1" data-toggle="tab" data-no-turbolink="true"></a></li>
  <li role="presentation"><a href="#2fa-step-2" data-toggle="tab" data-no-turbolink="true"></a></li>
  <li role="presentation"><a href="#2fa-step-3" data-toggle="tab" data-no-turbolink="true"></a></li>
  <li role="presentation"><a href="#2fa-step-4" data-toggle="tab" data-no-turbolink="true"></a></li>
</ul>
<div class="tab-content">
  <%= render partial: 'users/registrations/2fa_modal_apps_tab' %>
  <%= render partial: 'users/registrations/2fa_modal_qr_code_tab' %>
  <%= render partial: 'users/registrations/2fa_modal_verify_code_tab' %>
  <%= render partial: 'users/registrations/2fa_modal_recovery_codes_tab' %>
</div>
