@import 'constants';
@import "mixins";


#reset-tutorial-btn {
  margin-top: 15px;
}

.btn-primary {
  background-color: $color-theme-secondary;
  border-color: darken($color-theme-secondary, 5%);

  &.active,
  &.focus,
  &.active.focus {
    background-color: darken($color-theme-secondary, 20%);
    border-color: darken($color-theme-secondary, 25%);

    &:hover {
      background-color: darken($color-theme-secondary, 25%);
      border-color: darken($color-theme-secondary, 30%);
    }
  }

  &:active,
  &:focus,
  &:active:focus,
  &:active:hover,
  &:focus:hover,
  &:active:focus:hover {
    background-color: darken($color-theme-secondary, 20%);
    border-color: darken($color-theme-secondary, 25%);
  }

  &:hover {
    background-color: darken($color-theme-secondary, 5%);
    border-color: darken($color-theme-secondary, 10%);
  }
}
.btn-link-alt {
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  padding: 3px;
}

.btn-invis-file {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn-open-file {
  position: relative;
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

/** Add users modal  */
.btn-group-existing-users {
  width: 100%;

  label.btn {
    text-align: center;

    &.btn-title {
      color: $color-white;
      cursor: inherit;
      background-color: $color-theme-primary;

      &:focus, &:active, &:hover {
        box-shadow: none;
        background-color: $color-theme-primary;
        border-color: $color-dark-gray;
      }
    }
  }
}

.btn-greyed {
  background-color: $color-silver-chalice;
  border-color: $color-silver-chalice;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: darken($color-silver-chalice, 15%);
    border-color: darken($color-silver-chalice, 15%);
    color: $color-white;
  }
}

/* Sample group color picker */
.btn-group-sample-group-color {
  .btn-group > .btn {
    border-radius: 0 !important;
  }
}
