@import 'scinote.scss';
@import 'partials/_sidebar.scss';
@import 'epa.scss';

// .shift-up{
//   margin-top: -8em;
// }

.shift-down{
  // margin-top: 5em;
  margin-top: 65px;
  z-index: 1;
}

.list-no-bullets{
  list-style-type: none;
}

/** Overwrite css from epa.scss **/
@media screen and (min-width: 35em), print and (min-width: 35em) {
  .main-nav > .nav__inner,
  .masthead,
  .secondary-nav,
  .main-content,
  .main-footer > .main-footer__inner {
    max-width: 80em !important;
  }
}

.nav-top-el{
  width: 100%;
  position: absolute;
  top: 115px;
  /** This bit is for setting the secondary nav bar at the top of the screen after scrolling down, so it always stays onscreen. **/
  .fix-nav-top-el & {
    position: fixed;
    top: 0px;
  }
}


.white-text{
  color: #FFF;
}

.custom-fixed-top{
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 1) !important;
  z-index: 1002;
  top: 0px;
}

.custom-navbar-fixed-top{
  // @extend .navbar-fixed-top;
  border-width: 0 0 1px;
  // top: 0px;

}

.navbar-fixed-top{
  background-color: white;
}


.navbar-secondary {
  padding-right: 80px !important;
  padding-left: 280px;
  padding-top: 70px;
  #secondary-menu {
    margin-top: 0 !important;
  }
}

#content-wrapper{
  // margin-top: 8em !important;
}


.content-pane{
  padding-top: 70px !important; // Override the padding defined in scinote.scss
}

.container{
  padding-top: 70px;
  // If content-pane is nested inside container, then get rid of the padding.
  .content-pane{
    padding-top: 0 !important; // Override the padding defined in scinote.scss
  }
}

// .container-fluid{
//   // padding-top: 9em;
// }

// #fluid-content{
//   padding-top: 70px;
// }

#alert-flash{
  z-index: 5000;
  margin-top: -40px !important;
  height: 50px;
}

// .navbar-secondary {
//   padding-left: 15px !important;
//   padding-right: 15px !important;
//   background: #FFFFFF !important;
//   background-color: #FFFFFF !important;
// }

/** Overwrite the default .navbar-secondary from scinote **/
// .navbar-secondary-custom{
//   @extend .navbar-secondary;
//   margin-left: 0;
//   margin-bottom: 0;
//   padding-left: 0;
//   padding-right: 0;
//   width: 100%;
//   display: inline-block;
// }

#wrapper-custom{
  @extend #wrapper;
  position: absolute !important;
}

#wrapper-custom.toggled{
  @extend #wrapper.toggled;
}

#sidebar-wrapper-custom{
  @extend #sidebar-wrapper;
  position: absolute !important;
  left: 0 !important;
}

.sidebar-header-toggle-custom{
  margin-left: 280px !important;
}

.breadcrumb{
  margin-left:15px;
}

label{
  display: inline-block !important;
}