@import 'constants';

.global-activities__container {
  background: white;
  padding: 1em;
  margin-top: 2em;
  grid-template-columns: 3fr 1fr;
  display: grid;
  grid-template-areas:
      "top top"
      "main side";
}

.global-activities__top{
  grid-area: top;
  grid-template-columns: 1fr 3fr;
}

.global-activities__main{
  display: grid;
  grid-template-areas:
    "actions search"
    "activities activities";
  grid-area: main;
}

.global-activities__side{
  grid-area: side;
}

.global-activities_activities-list{
  border-top: 1px solid $gray-lighter;
  margin-top: 2em;
  grid-area: activities;
  overflow-y: scroll;
  min-height: 600px;
}

.global-activities__top-actions{
  grid-area: actions;
}

.global-activities__search-container{
  grid-area: search;
}

.global-activiteis__title{
  grid-area: title;
  font-size: $font-size-h4;
  color: $gray-darker;
  border-bottom: 1px solid $gray-lighter;
}
