

// Projects overview table

.projects-overview-table {
  .fas {
    color: $color-silver-chalice;
    margin-right: 5px;
  }

  .archived {
    background-color: $color-concrete;
  }

  tbody tr td:last-child {
    height: 34px;
  }
}
