@import "constants";

.repository-columns-header {
  margin-top: 30px;
}

.repository-columns-body {
  margin-top: 50px;

  .list-group-item {
    padding: 28px;

    .controlls {
      margin-top: -18px;
    }

    span {
      margin-top: -10px;
    }

    .glyphicon-trash {
      color: $brand-danger;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#repository-columns-dropdown {
  float: right;
}

.new-repository-button {
  float: left;
  margin-right: 5px;
}

.custom-alert-info {
  background-color: $brand-info;
  padding: 10px;
}

#content-reports-index {
  margin-top: 50px;
}
