@import "constants";

.repository-columns-body {
  margin-top: 50px;

  .list-group-item {
    padding: 28px;
  }

  .column-name {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .repository-columns-body {
    .delete-column {
      margin-top: 5px;
    }
  }
}

#repository-columns-dropdown {
  float: right;
}

.new-repository-button {
  float: left;
  margin-right: 5px;
}

.custom-alert-info {
  background-color: $state-info-bg;
  border: 1px solid $state-info-border;
  color: $state-info-text;
  margin: 10px 0;
  opacity: .86;
  padding: 15px;
  width: 100%;
}

.repository-input-file-field {
  border: 1px solid $color-alto;
  border-radius: 5px;
  display: inline-flex;
  padding: 2px;

  a {
    color: $brand-danger;
    margin-left: 5px;
  }
}

.repository-dropdown {
  max-width: 174px;
  width: 174px;

  .dropdown-menu.open {
    width: 174px;

    .selected > a {
      display: inline-block;
    }
  }
}
