@import "constants";

.repository-columns-body {
  margin-top: 50px;

  .list-group-item {
    padding: 10px;
  }

  .column-name {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .repository-columns-body {
    .delete-repo-column {
      margin-top: 5px;
    }
  }
}

#repository-columns-dropdown {
  float: right;
}

.custom-alert-info {
  background-color: $state-info-bg;
  border: 1px solid $state-info-border;
  color: $color-volcano;
  margin: 10px 0;
  opacity: .86;
  padding: 15px;
  width: 100%;
}

.repository-input-file-field {
  width: auto;

  .form-group {
    align-items: baseline;
    border: 1px solid $color-alto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-group.has-error {
    border-color: $state-danger-border;
  }

  button {
    height: 22px;
    margin: 5px;
    padding: 2px 10px;
  }

  i.fas {
    margin-top: 10px;
    padding-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .file-name-label {
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    word-break: normal;
  }

  a {
    color: $brand-danger;
    margin-left: 5px;
  }
}

.new-input-file-field-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-group {
    border: 0 !important;
    display: inline-block !important;
  }

  a {
    display: inline-block !important;
  }
}


.repository-dropdown {
  max-width: 174px;
  width: 174px;

  .dropdown-menu.open {
    width: 174px;

    .selected > a {
      display: inline-block;
    }
  }
}
